[2016-06-07 15:18] techliaison opened #3 "How to add Common Policy as a trust anchor in Firefox"
Save the Common Policy (FCPCA) root certificate to your system:
    http://http.fpki.gov/fcpca/fcpca.crt
       The DN for the Common Policy CA is:
               cn=Federal Common Policy CA, ou=FPKI, o=U.S. Government, c=US
        The sha1 Thumbprint is:
                90 5f 94 2f d9 f2 8f 67 9b 37 81 80 fd 4f 84 63 47 f6 45 c1

Inside FireFox click on the menu bars in the top right corner,

[2016-06-07 15:30] lachellel commented on #3
@techliaison

Can we also get the automated version?  The challenge I saw on listserves was actually around using certutil (etc) to manage NSS.

[2016-06-07 15:36] techliaison commented on #3
Sorry – that takes more work and is not something I know at the current time.
I’ll have to look into it.

From: LRL [mailto:notifications@github.com]
Sent: Tuesday, June 7, 2016 11:30 AM
To: GSA/fpki-guides fpki-guides@noreply.github.com
Cc: Brown, Wendy (10421) wendy.brown@protiviti.com; Mention mention@noreply.github.com
Subject: Re: [GSA/fpki-guides] How to add Common Policy as a trust anchor i

[2016-06-07 15:37] lachellel commented on #3
@techliaison we can open a new issue - I just didn't want to lose the thought!  (automation version)

[2016-07-05 14:49] ajones13 opened #4 "Agency Best Practices for Device Certificates"
I am converting this document into a play.
https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNOEAA4&field=File__Body__s

[2016-07-05 15:21] konklone commented on #4
I can't find the material in the linked PDF in this repository. Where are you drawing it from?

[2016-07-05 15:22] konklone commented on #4
Also, some of it looks quite dated:

[code]

[2016-07-05 15:23] lachellel commented on #4
it's not in the repo - @ajones13 wants to add it to the repo somewhere...specific to fpki

so we can remove the PDF documents entirely

It's definitely dated which is why we're trying to "clean house"!  :+1:

[2016-07-05 15:24] konklone commented on #4
Ah okay, I misread the intent -- I thought @ajones13 was saying they'd made a PDF version of this repository. Apologies for the distraction.

[2016-07-20 18:09] djpackham opened #5 "PIV-I Certification Process"
@dasgituser (Dave Silver) is converting document to a play - https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNHNAA4&field=File__Body__s

[2016-08-15 20:47] MattKing1 opened #8 "Using the FPKI Overlay"
@mattking1 is developing a playbook to explain how to use the FPKI Overlay of NIST SP 800-53

[2016-08-16 12:57] dasgituser opened #9 "Trust Store Management Guide"
@dasgituser (Dave Silver) and @tkpk (Giuseppe Cimmino) are converting the FPKI Management Authority''s Trust Store Management Guide to a playbook.  The Federal Public Key Infrastructure Management Authority designed and created the Trust Store Management Guide as an education resource for Department, Agency, corporate, and other organizational system level administrators and managers who use the F

[2016-08-19 18:27] MattKing1 opened #10 "Certificate Request Form (CRF) Worksheet Guide"
This playbook provides guidance to Affiliates on how to complete the [Certificate Request Form](https://www.idmanagement.gov/IDM/s/document_detail?Id=kA0t00000008OciCAE) when requesting a new certificate from the FPKI

[2016-08-19 18:28] MattKing1 opened #11 "Annual PIV Card Issuer (PCI) Testing Guide"
This playbook provides guidance to PIV Card Issuers on how to complete [annual Card Testing](https://www.idmanagement.gov/IDM/s/document_detail?Id=kA0t00000008ObNCAU)

[2016-08-19 18:29] MattKing1 opened #12 "Agency C&A of SSPs Guidance"
This playbook provides guidance to agencies on [how to leverage the C&A](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNSGAA4&field=File__Body__s) conducted by GSA when the agency completes its FISMA assessment of the agency's SSP

[2016-08-19 18:29] MattKing1 opened #13 "Reusing FPKI Compliance Audit Results in C&A Reviews"
This playbook provides guidance on [how FPKI Compliance Audit results can be leveraged to show compliance with C&A requirements](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNSBAA4&field=File__Body__s)

[2016-08-19 18:30] MattKing1 opened #14 "PIV-I Testing Guide"
This playbook provides guidance to PIV-I providers for [testing of PIV-I credentials](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNHSAA4&field=File__Body__s)

[2016-08-19 18:32] lachellel commented on #10
how many people does this cover?  it's a pretty small population that does this, correct?

@djpackham let's start defining labels to track Audience?  I want to ensure we don't confuse the agency engineers, who request certificates from the subordinate CAs and not from FPKI.

[2016-08-19 18:37] MattKing1 opened #15 "Registration Authority Guidance"
This playbook provides an overview of the [registration Authority (RA)](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNChAAO&field=File__Body__s), and the relationship of the PKI Shared Service Providers (SSPs) with the RA function

[2016-08-19 18:38] MattKing1 opened #16 "FPKI and FBCA Overview"
This playbook provides an overview of the historical purpose and plan for [the FPKI and FBCA](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TN8uAAG&field=File__Body__s)

[2016-08-19 18:39] MattKing1 opened #17 "FPKI Certificate and CRL Extensions Profile Guidance"
This playbook provides a description of how to use the [FPKI X.509 Certificate and CRL Extensions Profile](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNS1AAO&field=File__Body__s)

[2016-08-19 18:39] MattKing1 opened #18 "FPKI Trust Infrastructure Overview"
This playbook provides an overview of the [FPKI Trust Infrastructure](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNRIAA4&field=File__Body__s)

[2016-08-19 18:40] MattKing1 opened #19 "Device Certificate Best Practices Guide"
This playbook provides guidance for issuing device certificates.

[2016-08-19 19:31] djpackham commented on #10
Yes, sounds like a fine idea. We'll go ahead and add Audience labels to the different plays.

[2016-08-22 17:56] MattKing1 commented on #9
The Trust Store Management Guide can be found [here](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNRNAA4&field=File__Body__s).

[2016-08-23 18:39] MattKing1 commented on #8
Audience: PKI Issuers

[2016-08-29 13:26] lachellel opened #20 "Define structure for fpki-guides"
- Identify the audience, categories of information and navigation for fpki-guides
- For each above, add Labels to track and label associated issues

[2016-08-29 13:29] lachellel opened #21 "Add Issue template"
Add an Issue template

Purpose: to gather good information for each issue opened

NIST 800-63-3 (https://github.com/usnistgov/800-63-3/issues?q=is%3Aopen+is%3Aissue) has an example to review and modify

Include info decided for #20

[2016-08-29 13:34] lachellel opened #22 "Add comment / issue help"
Pull from
- https://pages.nist.gov/800-63-3/comment_help.html
- https://github.com/usnistgov/800-63-3/blob/nist-pages/comment_help.md

[2016-08-29 20:17] lachellel commented on #19
Scope?
- Is there an existing guide this is intended to replace, or
- Is this specific to Non-Person / Device certificates issued from Agency _internal_ certificate authorities
  - Less than medium hardware assurance certificates from an agency internal CA
  - No cross-boundary trust
- Will this include setup procedures and types of certificate profiles generally needed for devices and network sec

[2016-08-29 22:23] dasgituser commented on #5
This PIV-I playbook provides the background information and activities related to the cross-certification process for prospective PIV-I providers, resulting in inclusion on the  PIV-I cross certification list. It also describes requirements that must be met to maintain cross-certification.

[2016-08-29 22:39] dasgituser opened #23 "PIV-I for Non-federal Issuers"
@dasgituser will convert the [PIV-I for NFI document](https://cio.gov/wp-content/uploads/downloads/2012/09/PIV_Interoperabillity_Non-Federal_Issuers_May-2009.pdf) to a playbook (started but currently on hold).  The playbook provides solutions for overcoming the barriers to federal reliance on non-federal identity cards, and summarizes some of the core PIV-I requirements.  Better understanding the

[2016-08-29 22:53] dasgituser commented on #14
This playbook will provide PIV-I Providers with step-by-step instructions and requirements to demonstrate initial and annual PIV-I Card conformance to FPKI  policy requirements and technical interoperation with elements of the Federal smart  card infrastructure. This will help PIV-I Providers better understand and prepare for the testing, which in turn should result in more on-time, efficient, and

[2016-08-29 22:57] dasgituser commented on #11
This playbook will provide PIV Providers with step-by-step instructions and requirements to demonstrate initial and annual PIV Card conformance to NIST requirements and technical interoperation with elements of the Federal PIV infrastructure. This will help PIV Providers better understand and prepare for the testing, which in turn should result in more on-time, efficient, and effective testing.

[2016-08-29 23:20] dasgituser commented on #17
The how-to playbook will be new (not from an existing document).  The [FPKI X.509 Certificate and CRL Extensions Profile document](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNS1AAO&field=File__Body__s) will also be converted into markdown for publication on github.

[2016-08-29 23:36] dasgituser opened #24 "SSP Certificate and CRL Extensions Profile Guidance"
This playbook provides a description of how to use the [SSP X.509 Certificate and CRL Extensions Profile](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNP2AAO&field=File__Body__s).  This will help Shared Service Providers operating within the FPKI to better understand and utilize the Profile, which is essential for establishing commonality and interoperability within the

[2016-08-29 23:42] dasgituser opened #25 "PIV-I Certificate and CRL Extensions Profile Guidance"
This playbook provides a description of how to use the [PIV-I X.509 Certificate and CRL Extensions Profile](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000GmhKAAS&field=File__Body__s). This will help PIV-I Card Issuers operating within the FPKI to better understand and utilize the Profile, which is essential for establishing commonality and interoperability within the FPKI.

[2016-08-30 12:14] dasgituser opened #26 "Community Interoperability Test Environment (CITE) Participation Guidance"
The FPKI Management Authority's [Community Interoperability Test Environment (CITE) Participation Guidance](https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNpPAAW&field=File__Body__s) will be converted into a playbook.  CITE provides  the  FPKI Community  with
a  test environment to:  (1) identify and  resolve technical issues across Affiliates PKIs, and (2) ensure proper f

[2016-08-30 12:23] dasgituser commented on #18
This playbook has a wide target audience including but not limited to current and potential FPKI Community members, relying parties, agency managers and decisions makers. The document provides basic, essential context and understanding of the FPKI. It conveys some of the benefits/value of the FPKI as well as some of the core concepts (certificate policy and policy mapping, levels of assurance, pat

[2016-08-30 12:29] dasgituser opened #27 "Obtaining a Credential to Access a Federal Application"
This playbook would be new -- not derived from an existing document.  The playbook would explain the various contexts and steps for a citizen to obtain a credential to access a federal system.  This might include a TFS scenario, PIV-I Card scenario, direct from agency scenario, etc.  The target audience is primarily citizens, but others (e.g., credential issuers, relying parties) might also be int

[2016-08-30 13:09] lachellel commented on #27
No.  **Citizens** are covered by other form factors and scenarios for government.

It can be Businesses and Partners (State and Local, etc), but not Citizens / Consumers.

No to low priority for this issue / guide.

[2016-08-30 13:10] lachellel commented on #18
This information should be broken down into sections and weaved into the demo guide pages (under /pages)

[2016-08-30 15:23] lachellel commented on #25
I think the document stays as a document for now, and the guide Summarizes.

[2016-08-30 15:27] lachellel commented on #24
link to #25 and #17

summarize, not replace the documents yet

From a PKI Operator / Provider perspective - a simple table / section that compares and contrasts:
- what are the differences between the profiles for an SSP vs FPKI vs PIV-I?
- why is it different?
- what are the commonalities?
- where do I go to learn / read more (link to doc)

[2016-08-30 15:28] lachellel commented on #17
link to #24 and #25

[2016-08-30 15:31] lachellel commented on #23
Don't think we need this right now (low to no priority).

The PIV-I for NFI doc is a CIO Council artifact and has Policy behind it
addressing through the CIO Councils first

[2016-09-02 17:04] dasgituser opened #28 "FPKI Mapping Tables Playbook"
This would be new -- not a conversion of an existing document.  The FPKI has two different mapping tables. The [FPKI Applicant Certification Mapping Table](https://www.idmanagement.gov/IDM/s/document_detail?Id=kA0t00000008OcnCAE)is used by non-SSPs to map their Certificate Policy against the FBCA Certificate Policy.  The [FPKI Common Policy Framework CPS Evaluation Table](https://www.idmanagement.

[2016-09-06 14:56] lachellel commented on #28
The information should be a summary and general overview of the mapping, the audits, etc.

[2016-09-06 15:10] lachellel commented on #4
#19 duplicate

[2016-09-08 13:18] dasgituser opened #29 "Agency Guide to FPKI Credentials"
This would be new -- not based on any particular existing document.  Target audience is agency relying parties.  Guide would address topics such as:
1. Making agencies aware of different types of FPKI credentials
2. Determining which to accept for their applications
3. Education / facilitation of agency end user populations obtaining those credentials
4. How to configure agency system to accept th

[2016-09-08 13:22] dasgituser opened #30 "How to Digitally Sign and Encrypt - Guide for Agency employees and contractors"
This would be new -- not based on any particular existing document.  Target audience is agency relying parties and their staff.  Guide would address topics such as:
1. how to digitally sign, encrypt, verify signatures, authenticate, etc
2. Emphasize benefits to RP applications/owners
3. special considerations such as what to do once you verify a digital signature (archive to be able to verify afte

[2016-09-08 13:29] dasgituser opened #31 "Agency-focused PIV-I FAQ"
Will be a compilation of material in various places including the existing PIV-I FAQ.  Will also leverage / build upon similar playbook LaChelle has already started.  Target audience is agency relying parties.  FAQ content would include things such as:
1. high-level explanation of what PIV-I is and use cases / benefits
2. What Is The Difference Between A PIV-I Card And A PIV Card?
3. Can My Agency

[2016-09-08 13:32] lachellel commented on #29
Let's break these into five (5) different issues and blurbs.  Just like the bullets.
- Bullet 1 - different types?  This is a perfect, small, short, no acronym section.  Medium to high priority?
- Bullet 2 - which to accept?  No priority for now.  This is based on risk assessments and we want to align with 800-63-3 draft and forward thinking changes in progress.
- Bullet 3 - obtaining credentials?

[2016-09-08 13:36] lachellel opened #32 "Explaining different types of FPKI User / Person Certificates"
#29 breakdown

This would be new -- not based on any particular existing document. Target audience is agency relying parties. Guide would address topics such as:

Making agencies aware of different types of FPKI credentials
- Focus on Persons
- Short succinct information on types (basic, medium, med hw, etc) - in non acronym terms
- Mapping table or diagram to the identity assurance for each
  - w

[2016-09-08 13:40] lachellel commented on #30
Issues is specific to Digital Signatures and Encryption (updated issue title)

What is the target technologies?  Email (s/mime)?  Documents?

[2016-09-08 17:23] dasgituser commented on #32
I really like that.  I think that info will greatly help relying parties.  We'll look to see what other similar kinds of info we can include.  Thanks!

[2016-09-08 17:58] dasgituser commented on #30
At least those to start with.  Over time, we can add others as requested/needed.

[2016-09-12 18:02] MattKing1 commented on #19
Answers to LaChelle's questions:
1. No.  There is no existing guide
2. No.  This should be focused on guidance for device certificates issued under the FBCA or Common Device policy OIDs
3. I don't think we can include that level of detail, but perhaps we should discuss so I can get a better idea of your intent, since we may be able to provide some high level of direction.

[2016-09-22 12:58] dasgituser commented on #18
First full pass completed -- broken down into various relatively short sections/subsections that will fit into NavBar topology.  Content currently being reviewed internally prior to pull request submission.  "In progress" version was submitted last Friday 9/16/16.

[2016-09-22 13:01] dasgituser commented on #16
After discussion with Jordan, this playbook is being rolled into the FPKI Trust Infrastructure Overview playbook (issue #18) since it is essentially a sub topic within that broader overview playbook.  Therefore, this issue should be considered No Action / Closed.

[2016-09-22 14:23] dasgituser commented on #31
In development by Jason Sargent

[2016-09-22 15:43] dasgituser opened #33 "What Are The Different Types of FPKI Credentials"
Derives from Issue #29

Make agencies aware of different types of FPKI credentials

LaChelle: different types? This is a perfect, small, short, no acronym section. Medium to high priority?

[2016-09-22 15:52] dasgituser opened #34 "How Do I Determine Which Credentials to Accept"
Derives from Issue #29

This would be new -- not based on any particular existing document. Target audience is agency relying parties....

Determine which to accept for their applications

LaChelle: which to accept? No priority for now. This is based on risk assessments and we want to align with 800-63-3 draft and forward thinking changes in progress.

[2016-09-22 15:52] dasgituser commented on #33
This would be new -- not based on any particular existing document. Target audience is agency relying parties

[2016-09-22 15:55] dasgituser opened #35 "How Do I Facilitate My End User Pouplations Obtaining FPKI Credentials"
This derives from Issue #29

This would be new -- not based on any particular existing document. Target audience is agency relying parties....

[code]

LaChelle: obtaining credentials? Low priority.

[2016-09-22 15:57] dasgituser opened #36 "How To Configure Agency Systems To Accept Selected Credentials"
This derives from Issue #29

This would be new -- not based on any particular existing document. Target audience is agency relying parties.....

[code]

LaChelle: is being covered elsewhere (slowly) and most certainly can't be covered in one generic guide!

[2016-09-22 16:03] dasgituser opened #37 "How To Enroll/Activate PKI-credential End Users"
This derives from Issue #29

This would be new -- not based on any particular existing document. Target audience is agency relying parties.....

PKI-specific enrollment/activation (if not fully covered in another playbook that we are aware of)

LaChelle: needs more info

@dasgituser:  how-to guide describing what a relying party application needs to do to map the asserted identity to some provisio

[2016-09-22 16:05] dasgituser commented on #29
This issue should now be considered No Action / Closed since it has been broken into separate issues - see above.

[2016-09-22 19:06] lachellel commented on #37
this might be better to frame out in the area of applications (under piv-guides) and the patterns we're pulling into over there...??

there are a few patterns that are mapped out in ficam roadmap, ficam architecture, and related documentation (including the federation working group documents)

you are correct that the Federal PKI specific authentication event is not addressed well

let's break thi

[2016-09-23 13:32] djpackham commented on #20
@lachellel & @dasgituser proposed left navigation structure for FPKI-Guides.
- Introduction
- Federal PKI Overview
  - Federal PKI Trust Infrastructure
  - Other PKIs Participating in the Federal PKI
  - Some Things You Need to Understand When Participating in the Federal PKI
- Certificate Authorities
- CRL's and Certificates
  - Certificate Levels of Assurance
  - Certificate Mapping
  - Certific

[2016-09-23 15:16] lachellel commented on #20
for minimum viable, let's get the top level bullets knocked out first - then we will work on the second level

[2016-09-23 15:47] djpackham commented on #20
Sounds good! FYI, we were thinking PIV-I should probably be a separate nav item, as well as something in the FAQ section. (added PIV-I to comment above)

[2016-09-23 16:00] lachellel commented on #20
@djpackham

I'm working on a PR with the top level markdown and navigation

After this PR goes in, let's map each issue that is being actively worked on to the target markdown placeholder?

[2016-09-23 16:08] djpackham commented on #20
@lachellel - that works for me. @dasgituser mentioned he could break the recent overview file into the different sections once we have the markdown and navigation set.

[2016-09-23 22:08] lachellel commented on #20
@djpackham

take a look at the PR please?  I started to see the info, and changed some words in the navigation outline

If you agree with it, I'll merge.
Then start taking each issue, and mapping to the target markdown file (or breaking down into smaller issues)

[2016-09-25 16:23] lachellel commented on #20
@djpackham

I removed PIV-I entirely from navigation.  It can be a later add-on.
- We don't cover PIV here, so why cover PIV-I?
- Why not cover PIV-I in the PIV-Guides instead and anything that is too detailed - such as the _certificate policies_ for PIV-I or basic or medium or high assurance - we'd cover here ?

[2016-09-25 16:27] lachellel commented on #33
Where would this map to in the outline ( #20 )?

[2016-09-25 16:28] lachellel commented on #32
#33

[2016-09-25 16:28] lachellel commented on #32
Where would this map to in initial outline #20  ?

[2016-09-25 16:29] lachellel commented on #33
duplicate of #32

[2016-09-25 16:29] lachellel commented on #33
closing as duplicate

[2016-09-25 16:29] #33 closed, assigned to weirdscience

[2016-09-25 16:30] lachellel commented on #29
closed

[2016-09-25 16:30] #29 closed, assigned to nobody

[2016-09-25 16:33] #16 closed, assigned to nobody

[2016-09-25 17:17] djpackham commented on #20
@lachellel

I agree with the PR for navigation :+1:

[2016-09-26 14:45] dasgituser commented on #32
Assigned to Jason Sargent

[2016-09-26 14:49] dasgituser commented on #19
Assigned to John Killian

[2016-09-26 19:23] djpackham commented on #21
@lachellel, @mrwiggins1, @GSAllewell

Does this work for the issues template? If so, should we have the same template across all repos?

#### File(s) Used for Adding/Updating Content:
- https://github.com/djpackham/fpki-guides/blob/staging/pages/fpki_intro.md

#### References (i.e. Source Docs / Files):
- None

#### High-Level Description of Issue:
- Introduction page to the FPKI-Guide Playbooks

[2016-09-26 19:37] lachellel commented on #21
We should have a similar issue template across all repos
- What is "Files Used for Adding / Updating Content"?  If I'm an agency or other engineer, what does this mean?
- _Description of Issue_ should go first?
- Details of Issue - including any version references
- References
- If new page or content needed, the expected outcomes from the content

Just my 2cents quickly.  Discuss and modify!

[2016-09-26 19:40] mrwiggins1 commented on #21
We're all on the same page; Jordan and I concurred during the Playbook call
today that template would be used for all repos.

Looks good to me.  I can't think of anything to add.

On Mon, Sep 26, 2016 at 3:37 PM, LRL notifications@github.com wrote:

##

Matthew R Wiggins
Detailee
Federal Identity, Credential, and Access Management (FICAM)
Office of Government-wide Policy
M: 202.341.7517
E: matthew

[2016-09-26 19:46] GSAllewell commented on #21
GSAllewell has nothing to @dd.

On Mon, Sep 26, 2016 at 3:40 PM, mrwiggins1 notifications@github.com
wrote:

##

Tom Hallewell
Detailee
Office of Government Wide Policy
(202) 450-7105

[2016-09-26 21:38] djpackham commented on #21
Based on the comments what about this updated example for an issue titled "FPKI Overview"?

#### Description of Issue:
- Agencies need a clear overview of the what the FPKI is and what it entails.

#### Details of Issue:
- A Program Manager may not know what the FPKI is so a clear overview is needed.

#### References (Docs, Links, Files):
- https://www.idmanagement.gov/IDM/s/article_content_old?ta

[2016-09-27 00:02] lachellel commented on #21
Looks good @djpackham

Are you going to add the ISSUE_TEMPLATE or should I add and submit a PR?

https://help.github.com/articles/creating-an-issue-template-for-your-repository/

[2016-09-27 13:22] djpackham commented on #21
@lachellel

I will add the ISSUE_TEMPLATE and submit a PR.

[2016-09-28 11:54] dasgituser commented on #18
This playbook will be broken apart into multiple playbooks per FPKI Navigation Bar structuring.  See also Issue #20

[2016-09-28 12:19] djpackham opened #42 "Navigation Item - Introduction Page"
#### Description of Issue:

Need a clear and concise introduction for the FPKI-Guides Playbook.
#### Details of Issue:

Add more details to current intro page. A visitor to the site may not know what playbooks or the FPKI is so a clear intro explaining the two is needed.
#### References (Docs, Links, Files):

Leverage, where possible, the wording and structure of other playbook introductions.
- ht

[2016-09-28 12:31] djpackham opened #43 "Navigation Item - Overview Page"
#### Description of Issue:

Add or modify content on the Overview Page
#### Details of Issue:

Current content is already posted on this page. Determine what else can be added to give a general overview of FPKI and then add the new content.
#### References (Docs, Links, Files):
- #18
- http://pki.treas.gov/about_pki.htm
#### If a New Page or Content is Needed, Expected Outcomes:

A content page th

[2016-09-28 12:41] djpackham opened #44 "Navigation Item - Certificate Authorities Page"
#### Description of Issue:

Need to update current Certificate Authorities page to include more information about the FPKI certificate authorities.
#### Details of Issue:
- Links need to be updated as well as additional links should be added.
- Update the page with other relevant information aboutFPKI  CAs
#### References (Docs, Links, Files):
- http://pki.treas.gov/
- FPKI Certificate Policies -

[2016-09-28 12:49] djpackham opened #45 "Navigation Item - CRLs and Certificates Page"
#### Description of Issue:

Need to add additional content pertaining to FPKI CRLs and Certificates
#### Details of Issue:
- Provide download links to FPKI artifacts such as the Common Root cert, including the thumbprints
#### References (Docs, Links, Files):
- FPKI Site Map - https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000Gmh5AAC&field=File__Body__s
- http://pki.treas.gov/

[2016-09-28 14:09] lachellel commented on #21
closed via #41

[2016-09-28 14:09] #21 closed, assigned to lachellel, djpackham

[2016-09-28 14:11] lachellel commented on #44
eGov CA is being deprecated - do not include

[2016-09-28 15:35] djpackham opened #46 "Navigation Item - Trust Stores Page"
#### Description of Issue:

Need an overview of Trust Stores that explains what they are, the different types of trust stores, etc.
#### Details of Issue:

There is already a trust store page on [PIV-Guides](http://gsa.github.io/piv-guides/networkconfig/trustedroots/). Reference this page and see what else we could add.
#### References (Docs, Links, Files):
- http://gsa.github.io/piv-guides/detail

[2016-09-28 15:39] djpackham commented on #46
@lachellel

Would it be useful to include a table of the different trust stores (i.e. Microsoft, Apple, NSS, Java, etc.) that includes a brief description of each, as well as other resourceful links, the status of Common root cert for each trust store, and any other relevant info related to Trust Stores and FPKI?

[2016-09-28 15:56] djpackham opened #47 "Navigation Item - Useful Tools Page"
#### Description of Issue:

Need a landing page for all tools useful for FPKI.
#### Details of Issue:

Include tools including links to software, checklists, other useful guides, etc.
#### References (Docs, Links, Files):
- https://fpki-graph.fpki-lab.gov/
#### If a New Page or Content is Needed, Expected Outcomes:

A content page that includes useful links to PKI tools.
#### Link to the Content P

[2016-09-28 15:59] lachellel commented on #46
Yes, IMO.

The Trust Store guide is very explicit to only one trust store, and doesn't address all or even why.
-  the "GPO" section isn't a GPO
-  suggesting to remove all other trust anchors can cause failures to boot; only suggest for specific purposes and outline what those are  :-1:
- piv-guides, specific to trust stores for some network items right now: https://github.com/GSA/piv-guides/blob

[2016-09-29 17:11] djpackham opened #48 "Navigation Item - FAQ Page"
#### Description of Issue:

Need a list of FAQs most common to the Federal PKI
#### Details of Issue:
#### References (Docs, Links, Files):
- FPKI FAQ - https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNvDAAW&field=File__Body__s
- HSPD-12 FAQ (PKI) - https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNMNAA4&field=File__Body__s
- https://https.cio.gov/cer

[2016-09-29 19:52] djpackham opened #49 "Navigation Item - Public Key Infrastructure Page"
#### Description of Issue:

Public Key Infrastructure topics are needed to help program managers and engineers understand what a Public Key Infrastructure is, and what the Federal Public Key Infrastructure contains.
#### Details of Issue:
#### References (Docs, Links, Files):
- pki.treas.gov
#### If a New Page or Content is Needed, Expected Outcomes:

A content page that includes topics and inform

[2016-09-29 19:55] djpackham opened #50 "Navigation Item - Glossary Page"
#### Description of Issue:

A glossary that includes an alphabetical list of terms or words found throughout the FPKI Guides Playbook
#### Details of Issue:
#### References (Docs, Links, Files):

http://pki.treas.gov/glossary.htm
#### If a New Page or Content is Needed, Expected Outcomes:

A content page that includes a glossary for FPKI Guide Playbook
#### Link to the Content Page for Contributor

[2016-09-29 20:06] dasgituser commented on #45
Dave Silver submitted initial draft pull request on 9/29/16

[2016-10-06 13:45] Protiviti-JSargent commented on #48
this seems like it would be easier to navigate as a collection of FAQ pages rather than combining all FAQs onto one page.

Should the PIV-I FAQ be included as a sub-page here or remain as its own page?

[2016-10-06 13:54] lachellel commented on #48
i think you're right - a FAQ collection and we can clean up the overlaps along the way.

[2016-10-06 14:31] djpackham commented on #48
I agree as well. We should probably add content on the main FAQ page first, then I can help get a new collection added for FAQ.

[2016-10-13 12:08] dasgituser commented on #45
Reviewed Jordan's tweaks to the playbook and submitted comments/suggestions back.  Please let me know if those comments were not received.

[2016-10-13 12:47] djpackham commented on #45
@dasgituser

Yes, thanks for the feedback. Still working through it. I'll be reaching out again hopefully soon.

[2016-10-13 16:02] dasgituser commented on #45
cool.  Then I'll stand down on that playbook until you get back to me.  In
the mean time I'll look for another top-level playbook to start on if ok
with you (any one in particular you want me to take?)

thx

On Thu, Oct 13, 2016 at 8:47 AM, Jordan Packham notifications@github.com
wrote:

[2016-10-13 16:24] djpackham commented on #45
@dasgituser

What do you think about the introduction page? I started a template based on the PIV-Guides Intro page, https://djpackham.github.io/fpki-guides/intro/. Do you think this would work and could you populate the content?

[2016-10-14 11:56] dasgituser commented on #45
Sounds good - I'll start building out the Intro.

Thanks!

On Thu, Oct 13, 2016 at 12:24 PM, Jordan Packham notifications@github.com
wrote:

[2016-11-01 13:04] #20 closed, assigned to lachellel, djpackham

[2016-11-01 15:22] djpackham opened #55 "Intro page configuration?"
#### Description of Issue: ####
Currently the index.html in the root directory of FPKI Guides has an include pointing to _includes/index.md. Should we use this for the intro content instead of /pages/fpki_intro.md? Otherwise, should we copy the way the intro page is setup in PIV-Guides?

#### Details of Issue: ####
Currently, there are 2 intro pages, the /index.html is being served first, then the

[2016-11-01 20:35] lachellel commented on #55
@djpackham

the _includes/index.md is an old set of files...when i was demo'ing and reusing repos for different purposes...before we cleaned up some of the piv-guides...

I would use piv-guides model for consistency for now?

[2016-11-01 21:00] MattKing1 commented on #47
MattKing1 submitted a pull request for an initial draft.

[2016-11-01 22:25] djpackham commented on #55
@lachellel

Sound good. Thanks :)

[2016-11-02 12:51] dasgituser commented on #49
@dasgituser submitted pull request for initial draft

[2016-11-22 21:38] jfredrickson5 opened #57 "Add this repository to the GSA code inventory"
*(I work in GSA IT, Office of the CTO. I am submitting this as part of our work to ensure GSA complies with the new Federal Source Code Policy.)*

GSA needs to create an inventory of all agency source code, whether open source or closed source. The inventory we create will appear on [Code.gov](https://code.gov/). The inventory will contain basic information about each source code repository, but w

[2016-11-28 20:42] lachellel opened #59 "Styles for alerts"
#### Description of Issue: ####
Indicators have been added to highlight key pieces of information - I like it

#### Details of Issue: ####
Should we align the format with icons and colors from US Web Design Standards?

#### References (Docs, Links, Files): ####
https://standards.usa.gov/alerts/

Thoughts?  If so, and you want to update - I can also pull the styles / merge with the ficam-arch style

[2016-11-28 20:57] djpackham commented on #59
@lachellel

Yes, good call. Using the US Web Design Standards makes sense to me.

I'll update the alert include files and styling to match standards.usa.gov/alerts and submit a PR.

[2016-12-23 17:53] lachellel commented on #19
BTW - this doc is on idmanagement

- https://www.idmanagement.gov/IDM/servlet/fileField?entityId=ka0t0000000TNOEAA4&field=File__Body__s

I think it's OBE and would like to archive or repurpose any items as needed.

[2016-12-23 17:55] lachellel commented on #59
@djpackham

for the open PRs, let's close/merge/update where needed so i can merge the style updates

I'll submit a PR for the style updates by the 29th

[2016-12-27 21:55] djpackham commented on #59
@lachellel

Merged over the PRs; plan to continue updating and tweaking once styling is merged.

[2016-12-27 22:04] djpackham commented on #57
Complete.

Link is here - https://github.com/GSA/fpki-guides/blob/staging/.codeinventory.yml

[2016-12-27 22:04] #57 closed, assigned to nobody

[2017-01-03 14:21] lachellel commented on #59
#61
closing issue

[2017-01-03 14:21] #59 closed, assigned to nobody

[2017-03-07 20:12] djpackham opened #63 "Where do you find all the CAs and Crawler info"
#### Description of Issue: ####

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-03-07 20:17] djpackham opened #64 "Ping DoD for the install root source code and configure for Federal PKI"
#### Description of Issue: ####

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-03-07 20:19] djpackham opened #65 "Playbook for client certificate encryption exchange"
#### Description of Issue: ####

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-03-07 20:20] djpackham opened #66 "Explain the difference between trust traversal and encryption certificate discovery"
#### Description of Issue: ####

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-03-07 20:22] djpackham opened #67 "Make available a list of easily discoverable crawler output"
#### Description of Issue: ####

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-03-07 20:23] djpackham opened #68 "Pairing of certificates with the URIs for OCSP,CDP, and AIA"
#### Description of Issue: ####

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-03-07 20:24] djpackham opened #69 "List of Federal PKI issuer base DNs for certificate mapping expressions"
#### Description of Issue: ####

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-03-08 12:32] weirdscience commented on #63
The crawler is located at fpki-graph.fpki-lab.gov. It is a graph of most FPKI CAs. I say most because it crawls down from the Common Policy Root through the SIA extension. Commercial affiliates are not required to have an SIA so some commercial CAs may not be in the crawler.

The reports page at fpki-grpah.fpki-lab.gov/crawler contains a number of csv and html reports of CAs and repo locations inc

[2017-03-08 12:36] weirdscience commented on #65
Is this FPKI or PIV guide? Might be confusing moving forward. Any end user questions seem like they should be PIV. I'll move this to the PIV Guide.

[2017-03-08 17:22] weirdscience commented on #46
Sorry, computer died mid pull. They are the same.

[2017-03-08 17:25] weirdscience opened #72 "Confusion Between FPKI and PIV Guide"
#### Description of Issue: ####
Seems a lot of cross (Similar?) information being presented between the PIV and FPKI Guide.

#### Details of Issue: ####
I was updating the trust store page and @lachellel mentioned there is also a trust store page in the PIV guide. There are questions posted in the FPKI guide which are really end entity type questions that should be in the PIV guide. How to find en

[2017-03-08 17:26] weirdscience commented on #30
This should move to the PIV Guide.

[2017-03-30 13:31] weirdscience commented on #46
The trust store part has been addressed. Is this ready to close? It seems there are three different issues here. This also addresses some of #9

1) Information on Trust Stores and Common Policy
2) How to conduct trust store management to trust FPKI certificates
3) How to establish dynamic path validation (one issuer per type of platform)

Should this all be integrated with the PIV guide or vice ve

[2017-04-06 18:49] Protiviti-JSargent opened #74 "Card Testing Common Issues Checklist"
#### Description of Issue: ####
Create a list of common issues discovered during PIV/PIV-I card testing for agencies to use as a pre-checklist before scheduling a date for in-person testing of PIV/PIV-I cards

#### Details of Issue: ####
The checklist will be separated by issue with description of what the problem is, general guidance on how to check for the issue on their credential, and links to

[2017-04-08 02:35] lachellel opened #75 "3072 and 4096"
Pull in information on larger key sizes in chains
In an overview section
https://github.com/GSA/piv-guides/issues/48

[2017-04-11 18:26] #42 closed, assigned to nobody

[2017-04-11 18:31] djpackham opened #76 "Host FPKI Change NOTIFICATIONS on this repo"
#### Description of Issue: ####
- Instead of posting documents to idmanagement.gov, use fpki-guides to post change NOTIFICATIONS

#### Details of Issue: ####
- Add a running change proposal page

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-04-11 18:38] lachellel commented on #76
I think we could approach this easily in 1 of 2 methods:

- _posts
- _data

Where the change notifications coming into the listserves can be picked up and automatically made a Post (by date) or added to data file for ongoing display/notices/distributions.

[2017-04-13 21:45] godadada commented on #9
Hi Participants,

  I have been assigned this issue. Please let me know the status, open, closed etc?

Thanks
Chunde

[2017-04-14 02:02] weirdscience commented on #9
I do not think it has been totally converted. Trust store management part hasn't been added (e.g. How to trim/modify Microsoft, apple, Mozilla trust stores)

[2017-04-14 11:23] godadada commented on #9
Thanks Ken.
I will carry on the conversion.
Any further info is much appreciated:  requirements, pointers to contacts who may know more, etc?

[2017-04-14 13:16] lachellel commented on #9
Please see a portion of the outline here:

- https://github.com/GSA/fpki-guides/blob/staging/pages/fpki_truststores.md

From the document directly:

- Section 2.1 is dangerous and not recommended (removing all trusted roots)
- Section 2.2 can be copied from PIV guides and trust stores - no need for screenshots as the location is more important than Windows based steps
- Section 2.3 same as 2.2 - a

[2017-04-14 13:52] godadada commented on #9
Thanks Lachellel.

[2017-04-14 18:47] djpackham commented on #72
@weirdscience - agree it is good to make sure we are adding content to the appropriate playbook. The PIV Guides is all about **USING** the PIV credential. Obviously, there are commonalities between a guide all about FPKI and another more PIV specific. I'll close this issue, but moving forward, feel free to keep adding comments if you feel an issue/topic should move to another playbook.

[2017-04-14 18:47] #72 closed, assigned to nobody

[2017-04-17 16:35] godadada commented on #9
Near term To do list for Trust Store Management Guide #9
1.	Conversion to github/md
2.	Trust store management
How to trim/modify MS, Apple, Mozilla, Adobe trust store
Finish “How do I manager a Trust Store?
Follow the templet done for MS OS

3.	Section 2.1 is dangerous and not recommended (removing all trusted roots)
4.	Section 2.2 can be copied from PIV guides and trust stores - no need for scree

[2017-04-18 09:57] #46 closed, assigned to nobody

[2017-04-18 10:00] lachellel commented on #9
@godadada
I just merged #71 from @weirdscience.  Including additions to trust stores.

wrt

Most has been completed for minimum viable

[2017-04-18 13:26] djpackham commented on #65
@lachellel - We have the [Engineer Guides](https://github.com/GSA/fpki-guides/blob/staging/_engineer/index.md) section in fpki-guides for basic certificate use cases (i.e. encrypting emails, digitally signing, etc.).
- Would you prefer these types of issues be placed in piv-guides since they are related to **using** your PIV credential?
- If so, we could aim the FPKI Engineer guides to answer more

[2017-04-18 13:33] lachellel commented on #65
agree with @djpackham and @weirdscience for minimum viable
while there is more than "piv" obviously, the fpki guides can first focus on the broad engineering challenges as stated.

- crawler
- information useful for configuring trust stores (finding all the certs for one, which packages from the crawler should be used, is the crawler info still valid)
- info for ocsp responders (local) which is de

[2017-04-18 13:43] djpackham commented on #63
For now there is a link to the FPKI graph and crawler output on the [Useful Tools](https://github.com/GSA/fpki-guides/blob/staging/pages/fpki_tools.md) page. Is it okay if I close this @weirdscience

[2017-04-18 13:51] lachellel commented on #63
@djpackham i would close but open another
the crawler doesn't have a "how to use and understand" information with it
using the p7b files from the crawler without understanding how to use them or what to use - is dangerous.

[2017-04-18 13:56] #63 closed, assigned to nobody

[2017-04-18 13:57] djpackham opened #77 "How to Use and Understand the FPKI Crawler Output"
#### Description of Issue: ####

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-04-19 15:01] #65 closed, assigned to nobody

[2017-04-19 15:01] djpackham commented on #65
Moving to PIV Guides

[2017-04-19 15:03] djpackham commented on #55
Resolved

[2017-04-19 15:03] #55 closed, assigned to nobody

[2017-04-19 15:54] djpackham commented on #50
To be done:
- Sift through to see which glossary items should be removed
- align with FICAM and NIST definitions for clarity across govt.
- Determine if we should include glossary as part of initial launch?

[2017-04-19 16:14] djpackham commented on #49
To do:
- clean up formatting to be consistent with rest of the pages (font/header sizes, spacing, etc.)
- Rewrite some parts to be more plain language
- Graphics seem a bit dated, see if it makes sense to find / create new ones

[2017-04-19 17:12] weirdscience commented on #63
Works for me.

[2017-04-19 17:19] godadada commented on #9
"Trust Store" and "Trust Anchor Store" seem to be same concept; but the later is used by IETF RFC 6024, 5914, and 5934. Also it highlights the entry point of trust by using "Anchor". I would suggest we use "Trust Anchor Store" in place of  "Trust Store".

Thanks
Chunde

[2017-04-19 17:29] djpackham commented on #48
To do:
- add content to main FAQ page
- add in sub-pages for the content in the "references" section above
- determine if we should include FAQ in inital launch?

[2017-04-19 17:39] lachellel commented on #9
What do **normal engineers** understand best?  [RFC is not a plain language model.  sorry IETF colleagues!]

I used Trust Store because I found it to appeal to a broader audience: https://piv.idmanagement.gov/piv-guides/networkconfig/trustedroots/

And searches online.  :+1:

truststore is also java language (keystore vs truststore)

https doesn't use either and explained the requirements in even

[2017-04-19 18:27] clstmbrly commented on #9
Agree that we should use “Trust Store,” since it is accepted by a broader audience.  Recommend that because the IETF RFCs use the term, “Trust Anchor Store,” we include a footnote (at first mention of “Trust Store” in the text) that explains:  “‘Trust Anchor Store’ is also an industry-accepted term.  See RFCs 5914, 5934, and 6024.”  If a bibliography will be included in the FPKI Guides, then we sh

[2017-04-20 15:40] djpackham commented on #47
To do:

- One last pass to see if any other useful tools can be added, otherwise I think we can close this issue.

[2017-04-20 15:47] djpackham commented on #45
To do:
- Looks like we go back and forth on "certificate authority" and "certification authority". Should we stick with "certification authority" and change everything to that?
- @lachellel did you mention it would be better to remove the "Intermediate Root CA" certificate from the graphics as that may be confusing? https://github.com/GSA/fpki-guides/blob/staging/pages/fpki_crls.md
- Plain languag

[2017-04-20 15:49] djpackham commented on #44
To do:

- Looks like we go back and forth on "certificate authority" and "certification authority". Should we stick with "certification authority" and change everything to that?
- @lachellel did you mention it would be better to remove the "Intermediate Root CA" certificate from the graphics as that may be confusing? https://github.com/GSA/fpki-guides/blob/staging/pages/fpki_cas.md
- Plain languag

[2017-04-20 15:52] djpackham commented on #45
To do:

- Determine if there needs to be a spacing fix (see a gh-pages view of how the spacing is looking), may be a CSS change in the style
- Verify all links are working

[2017-04-20 15:55] djpackham commented on #43
Content is already merged with intro page, https://github.com/GSA/fpki-guides/blob/staging/pages/fpki_intro.md.

Closing this issue.

[2017-04-20 15:55] #43 closed, assigned to nobody

[2017-04-20 19:23] lachellel commented on #44
this one: [chain](https://github.com/GSA/fpki-guides/blob/staging/img/fcpca-chainV5.png)

[2017-04-20 19:25] lachellel opened #79 "update config for .gov urls"
#### Description of Issue: ####
config.yml currently contains the github links

#### Details of Issue: ####
need to be updated to .gov links

[2017-04-20 19:41] lachellel commented on #22
Use piv guides one - includes updates and info we pulled from nist

[2017-04-20 19:49] lachellel opened #80 "update tools links to open in new tab"
#### Description of Issue: ####
Update all external links to open in new tab rather than browse away

#### Details of Issue: ####
add target="_blank"

#### References (Docs, Links, Files): ####
https://github.com/GSA/fpki-guides/blob/staging/pages/fpki_tools.md

[2017-04-20 19:50] lachellel commented on #79
this was done...closing...my fault

[2017-04-20 19:50] #79 closed, assigned to lachellel

[2017-04-20 20:32] weirdscience commented on #44
It should always be Certification Authority.

[2017-04-20 20:37] weirdscience commented on #44
Intermediate Root CA is contradictory. Where did it come from? It is normally root CA, subordinate CA, intermediate CA, or issuing CA as used in RFC 5280.

[2017-04-20 20:40] lachellel commented on #44
Yeah, that's why the image as-is is confusing.  :+1:

The image is based on mapping from Common to subordinates, and all our lovely CAs with "Root" in the name (the history of where Common came from).   It is confusing to the audience.

[2017-04-20 22:13] clstmbrly commented on #44
@djpackham Do your comments from Sept. 28, 2016, above still need to be addressed?  I didn't mark that in my notes from today.  Thanks!

[2017-04-20 22:27] djpackham commented on #44
@weirdscience we were planning on changing everything in fpki-guides to certificate authority as it seems both are acceptable (certification authority or certificate authority) and we leaned more towards certificate authority because we thought it would make more sense to those not familiar with the term. Any convincing reason to not use certificate authority?

[2017-04-20 22:30] djpackham commented on #44
@clstmbrly, yes I think the overall comments from Sept. 28, 2016 are addressed and just need to address the other items discussed earlier.

[2017-04-20 22:53] djpackham commented on #18
We've added some content from this already to the current pages in the fpki-guides. Lets revisit this again after initial launch.

[2017-04-20 23:13] clstmbrly commented on #48
@djpackham Did we determine whether to try and add more FAQs and "references" sub-pages content in initial launch and, if yes, who would write up?  Thank you!

[2017-04-20 23:25] clstmbrly commented on #44
Thank you.

[2017-04-21 14:29] godadada commented on #9
@lachellel

Hey Lachellel,
  I do not find the PIV Guide of item 4 of your list above applicable to the Trust Store. Please point out specific content from PIV Guide you want me to copy.
  Could you also elaborate "Section 2.6 same as Section 2.5"?

Thanks
Chunde

[2017-04-21 16:32] djpackham commented on #48
I'd focus on the other issues first and then if you have time, come back and work on the FAQ section. Anyone could work on converting the docs to markdown, but then you'd want to have a SME look over the content to make sure it is accurate and up to date.

- My thoughts for the FAQ section is to have a FAQ landing page/parent page, which has [already been created here](https://github.com/GSA/fpki-

[2017-04-21 16:41] lachellel commented on #48
I have a local branch just for this FAQ and have been working on it, to align with the updated PIV-I requirements from Nov 2016 (going through final sign-off).  Please do not duplicate effort.  Low priority for an FAQ.

[2017-04-21 21:30] clstmbrly commented on #44
@lachellel @djpackham In this section, we seem to be alternating between using the term, "Trust Stores" (which is also the Guide title here), and the term "Application Trust Stores."  This is potentially confusing, as well as inconsistent.  Would it be okay to use simply "Trust Stores" as the accepted term throughout?

[2017-04-21 21:53] lachellel commented on #44
trust stores is fine.

if we need to change it later based on comments to change it - it's a grep or sed.  :+1:

[2017-04-21 22:34] clstmbrly commented on #44
Thanks!  In the table of most common Trust Stores, the link for Adobe Approved Trust List says:  ...apple.com/..  Looks like a mistake...?

[2017-04-21 22:35] clstmbrly commented on #44
@lachellel @djpackham Re:  my previous comment.

[2017-04-24 23:27] clstmbrly commented on #9
@lachellel @djpackham In "The most common Trust Stores belong to what vendors?" section table, under the Adobe entry, the link given was for www.apple.com (a mistake, I'm pretty sure).  @godadada is searching for a correct link.  In the meantime, for the Pull Request, I put in this link that I found:  https://helpx.adobe.com/acrobat/kb/approved-trust-list2.html.

[2017-04-25 19:16] godadada commented on #44
The original post should be with #45

[2017-04-25 20:38] godadada commented on #45
Hi,

  I am working on this issue now. I found two broken urls, but could not find the right ones. Please share if you know. See the attached image file for details.

  @lcachellel,  could you elaborate the "spacing" issue  that was talked about in the meeting?
<img width="576" alt="borkenurls" src="https://cloud.githubusercontent.com/assets/6087668/25403371/1eb0cdf4-29ca-11e7-9573-e6076eb10bef.pn

[2017-04-25 20:57] godadada commented on #47
added pitt tool to fpki_tools.md and made pull request.

Chunde

[2017-04-26 19:33] djpackham commented on #45
@weirdscience do you happen to have the updated URLs to the two broken URLs identified in previous comment?

[2017-04-26 19:39] godadada commented on #44
Following segment is from fpki_cas.md file. Please confirm the link is correct one. The link is absolute github url, but outside of ficam perview.

{% include alert-info.html content="A new effort is underway to establish a Federal root and issuing certificate authorities dedicated to Public Trust TLS/SSL device certificates. Follow or contribute to the development of the new Federal certificate p

[2017-04-26 21:32] grandamp opened #88 "Navigation: How do readers find the fpki-guides?"
#### Description of Issue: ####

How do readers find the fpki-guides?

#### Details of Issue: ####

There does not appear to be a link in the readme.md, or on idmanagement.gov, to the hosted content

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-04-26 23:47] lachellel commented on #88
thanks @grandamp

We haven't pushed to a site yet (not even a github pages site).  MVP targeted for 5/1 to launch.

The navigation bar will be wired into the piv and ficam architecture navigation (refer to the _config.yml) and will be linked from idmanagement.gov

idmanagement.gov is also in migration (in parallel) so everything will start to update and link together soon!

[2017-04-27 11:28] godadada commented on #45
There is another issue with crl page.

It rendered differently on Jekyll website than on github, by design.
But the issue is with the link that only exists on jekyll website. the link is broken. but I do not know how to correct the broken link for two reasons: one is that the button using the link does not exist in github document fpki_crl.md; two is that I am not certain what the correct link sho

[2017-04-27 12:29] djpackham commented on #45
Did you update your config.yml file to match the settings on your local
Jekyll server? It shouldn't look that drastically different from gh-pages
to your local Jekyll server.

On Thursday, April 27, 2017, Chunde <notifications@github.com> wrote:

--
Jordan Packham
Identity Assurance and Trusted Access Division
Office of Government Wide Policy
U.S. General Services Administration
Mobile: (202) 706-

[2017-04-27 15:13] weirdscience commented on #44
@djpackham Certification Authority is proper term to use and used by industry and in standards to mean CA. Certificate Authority is not the correct term and may be a misuse similar to calling a CPS a Certificate Practice Statement.

[2017-04-27 15:17] grandamp commented on #44
The same thing could be said for "cross certificate" -vs- "cross sign", and "certificate path" -vs- "certificate chain".

[2017-04-27 16:05] clstmbrly commented on #44
@djpackham I believe that during recent discussions it was decided we would use "certificate authority" vs. "certification authority."  Both seem widely used.  "Certificate authority" is a more plain-language term.

[2017-04-27 17:15] weirdscience commented on #44
Plain language does not mean correct.

[2017-04-27 23:37] grandamp commented on #44
I would highly recommend aligning terminology with RFC 5280 when possible:

https://datatracker.ietf.org/doc/rfc5280

It is a common standard that FPKI and CABForum  claim to adhere to.  This not mean that plain language can't be used to describe function and operation.

[2017-04-27 23:43] lachellel commented on #44
I'll be honest - I don't have a strong opinion one way or the other.  It's intended for program managers and engineers working in / with the agencies, so if the audience is okay with one or the other and we're not throwing gobbledygook at them...

Def'n of gobbledygook:

- https://www.merriam-webster.com/dictionary/gobbledygook

Another definition:

- _noun: gobbledegook; noun: gobbledygook_
- lan

[2017-04-28 16:57] weirdscience commented on #45
@djpackham The FBCA crl is empty and removed.

Legacy Common - http://fpkia.gsa.gov/CommonPolicy/CommonPolicy(1).crl

[2017-05-01 18:11] lachellel commented on #48
My thoughts:

**No longer valid**

**No longer valid**

[2017-05-02 14:13] lachellel commented on #80
closed with #103

[2017-05-02 14:13] #80 closed, assigned to nobody

[2017-05-02 14:14] lachellel commented on #47
closed with #103

[2017-05-02 14:14] #47 closed, assigned to nobody

[2017-05-02 14:15] lachellel commented on #45
closed with #101

[2017-05-02 14:15] #45 closed, assigned to nobody

[2017-05-02 14:15] lachellel commented on #44
closed with #101
updates to be certification authority

[2017-05-02 14:15] #44 closed, assigned to nobody

[2017-05-02 14:16] lachellel commented on #22
closed with #101

[2017-05-02 14:16] #22 closed, assigned to lachellel

[2017-05-02 14:29] lachellel commented on #9
closed via #101 and previous prs

[2017-05-02 14:29] #9 closed, assigned to nobody

[2017-05-02 14:40] lachellel commented on #49
I pulled this out for mvp - removed in #101

issue still open for edits and updates

[2017-05-04 01:11] Protiviti-JSargent commented on #74
@lachellel From the discussion on Friday, I believe we decided to put the Common Issues list under the PIV-guides repo.  If so, should this issue be closed out, or did I misunderstand and the issues list should go here?

[2017-05-04 13:24] djpackham commented on #74
I can answer this one. We are keeping it under the FPKI-guides since it has
to do with the FPKI card testing.

On May 3, 2017, at 9:11 PM, Protiviti-JSargent <notifications@github.com>
wrote:

@lachellel <https://github.com/lachellel> From the discussion on Friday, I
believe we decided to put the Common Issues list under the PIV-guides repo.
If so, should this issue be closed out, or did I misunde

[2017-05-04 14:42] weirdscience commented on #77
I can take a stab at this.

[2017-05-04 20:31] Protiviti-JSargent commented on #74
submitted pull request #104

[2017-05-05 01:37] omar-nmi-ahmed opened #105 "Type of data in readme files for fpki-guides"
#### Description of Issue: ####
Do we want to put time sensitive data in readme files?  this is the same as piv-guides/#118 issue.

#### Details of Issue: ####
Usually, readme files contain information about bugs/issues for, say, software. Since readers can see the issues list and the threads, it seems pointless to update the readme file with the state of issues or playbooks.

We could put long ra

[2017-05-05 01:44] omar-nmi-ahmed opened #106 "Do we update description in intro section of repos?"
#### Description of Issue: ####
The content seem fine unless someone has something specific they want added.

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-05-18 18:13] Protiviti-JSargent commented on #50
Submitted pull request #107 to convert the glossary page to link to reference docs rather than recreating another glossary

[2017-05-18 21:37] clstmbrly opened #108 "Consistency of Template.md pages"
#### Description of Issue: ####
The content contained in the Template.md pages (and their locations in the directory structures) is not consistent across the FPKI-Guides, PIV-Guides, and FICAM-Arch repos.

#### Details of Issue: ####
1.	The Template.md pages provide style and general instructions for those who need to write guides or information for the FPKI-Guides, PIV-Guides, and FICAM-Arch.
2.

[2017-05-18 22:57] #106 closed, assigned to nobody

[2017-05-18 22:57] #105 closed, assigned to nobody

[2017-05-18 22:59] lachellel commented on #88
addressed
links are on idmanagement and in the navigation of piv and arch
closing

[2017-05-18 22:59] #88 closed, assigned to nobody

[2017-05-18 23:22] lachellel opened #109 "updated links to idmanagement"
#### Description of Issue: ####
updating links to idmanagement

[2017-05-18 23:24] #109 closed, assigned to nobody

[2017-06-20 18:33] lachellel commented on #77
TODO:

- https://github.com/GSA/fpki-guides/blob/staging/pages/fpki_crawler_howto.md

- [ ] update a bit for plain language

- [ ] add into navigation

[2017-06-20 18:43] lachellel commented on #76
Let's brainstorm this approach.  My thoughts:

- Leverage the _data construct
- Standard for information (change type, etc) using a json format
- Each change notification for fpki (under the new policy in progress) that is sent to the listserves can be added
- Displayed / looped through on a change notification page using site.data.<whateverwecallit>

Simple to add the new change notifications, ar

[2017-06-20 18:49] lachellel commented on #76
branch: https://github.com/GSA/fpki-guides/tree/change-notifications

[2017-06-26 20:15] godadada commented on #76
For discussion purpose, here is my 2 cents:

_data may be better choice because it is accessible by members only and designated for formatted files, such as JSON,  according the jekyll document. We can use '@'organization/team-name to notify team members on the change? (still exploring this one).

Chunde

[2017-06-28 16:53] godadada commented on #76
Another issue for discussion, if JSON is used, is to figure out what kind of information need to be in change document and to design JSON schema (format, template). I can do the schema and may need help for the type of info.

[2017-06-28 19:51] lachellel commented on #76
minimum viable and iterate!   change notices generally have this type of info:

- Notice date
- Change type
- Start Date and Time
- End Date and Time
- System
- Change Description
- Impact
- Contact

@grandamp - you had thoughts on what should be in a change notice?  any items to add for a template (this is for capturing and communicating the change notices via fpki.idmanagement.gov for all provid

[2017-06-28 19:56] godadada commented on #76
How about change #?
The JSON file may be displayed as a table with those items as columns and
each row is a change with change # as indice?

On Wed, Jun 28, 2017 at 3:51 PM, LRL <notifications@github.com> wrote:

--
Regards,
Chunde Shi

[2017-06-28 20:02] lachellel commented on #76
the change # would be internal to the site...that's fine
Not a fan of using table for a display though!

[2017-06-29 15:54] godadada commented on #76
need to figure out best way to display and present the json data to viewers.

[2017-07-20 01:13] godadada commented on #76
@lachellel
I sampled some of the GSA repo that have _data. all sampled use yml file instead of JSON. Should we use yml too to be consistent with the rest?

[2017-07-20 03:47] lachellel commented on #76
no preference here - consistency is always good!

[2017-07-20 14:37] grandamp commented on #76
@lachellel I'm most interested in the follow-up after the change, where the following artifacts should be included:

-Certificate(s)
-CRL URL(s)
-OCSP URL(s)

Perhaps this info can extend the info in the original reporting?

[2017-07-21 01:11] godadada commented on #76
committed change notification related file to change-notification branch. but still try to figure out how to make _notifications.scss to have impact on style (not working now).

[2017-07-25 14:53] lachellel commented on #76
@godadada

I just added a commit to the change-notifications branch
minimum viable
take a look please: a4b247fb7b567d3832b9baad5cd9ca447ea13779

[2017-08-01 15:53] clstmbrly commented on #108
Will replicate these PIV-Guides files to FPKI-Guides:
- template.md
- contribute.md
- contribute_addpage.md
- contribute_editpage.md
- contribute_openissue.md

**Note:**  Encountering some broken links within PIV-Guides files that I will need to resolve before replicating.

[2017-08-03 23:13] lachellel commented on #108
closing
merged in #116
thank you

[2017-08-03 23:13] #108 closed, assigned to nobody

[2017-08-07 18:22] godadada opened #117 "System Notification for: Test Agency"
#### notice_date:
08/07/2017 15:34 EST

#### change_type:

CA Certificate Issuance

#### start_datetime:

#### end_datetime:

07/21/2017 15:34 EST

#### system:

Federal Bridge CA 2016

#### change_description:

sample change_description sample change_description

#### impact:

sample non impace

#### contact:

sampleuser@sampleagency.gov

#### ca_certificate_hash:

SHA256

#### ca_certificate_iss

[2017-08-11 13:32] #117 closed, assigned to nobody

[2017-08-11 13:33] #25 closed, assigned to nobody

[2017-08-11 13:34] #24 closed, assigned to nobody

[2017-08-11 13:35] lachellel commented on #23
piv-i was updated.

[2017-08-11 13:35] #23 closed, assigned to nobody

[2017-08-11 13:36] #17 closed, assigned to nobody

[2017-08-11 13:37] #10 closed, assigned to nobody

[2017-08-11 13:38] lachellel commented on #11
closed...small audience...moved to idmanagement.gov

[2017-08-11 13:38] #11 closed, assigned to nobody

[2017-08-11 13:38] lachellel commented on #3
duplicate - closing

[2017-08-11 13:38] #3 closed, assigned to nobody

[2017-08-14 22:14] Protiviti-JSargent opened #119 "update Federalist banners for Internal Reference alignment"
#### Description of Issue: ####
When clicking on any of the internal reference links on a page, the section header and the first 3-4 lines of content are covered/hidden by the federalist page banner.

#### Details of Issue: ####
It may be possible to modify the css script to account for the banner width.  Otherwise, modifying each of the pages individually to adjust the header links will be clunky

[2017-08-14 22:16] lachellel commented on #119
Cross reference with: https://github.com/GSA/piv-guides/issues/110

[2017-08-14 22:18] lachellel commented on #119
Just fyi - it's the **top navigation bar** (links to idmanagement, piv, fpki, architecture) that caused this.

[2017-08-15 17:56] lachellel commented on #119
quick look at this again - and need to verify and test - but an option might be:

- moving the navbar to the head versus the body, for where it's loaded in the default layout
- https://github.com/GSA/fpki-guides/blob/staging/_layouts/default.html#L10

[2017-08-22 18:55] lachellel opened #120 "System Notification for: Verizon and EOP"
notice_date: August 22, 2017
change_type:  CA Certificate Revocation
start_datetime: August 23, 2017
end_datetime: August 25, 2017
system: Verizon Federal Shared Service Provider
change_description:
contact:  vziamssp@verizon.com, fpki@gsa.gov
ca_certificate_hash:
ca_certificate_issuer: CN = Betrusted Production SSP CA A1,OU = Betrusted Production SSP CA A1,OU = SSP,O = Betrusted US Inc,C = US
ca_

[2017-08-27 21:57] #120 closed, assigned to nobody

[2017-08-27 22:02] lachellel commented on #76
closed by #121
mvp only

[2017-08-27 22:02] #76 closed, assigned to lachellel

[2017-09-05 14:13] mttcpr opened #125 "Certificate Policies Table"
#### Description of Issue: ####
"Risk" column heading is confusing.

#### Details of Issue: ####
It seems to state that "common-high" is "High risk"? I think it would be better to split that column into two columns - Maybe "Security Level" or "Assurance Level" (e.g. High, Medium) and "Purpose" or "Description"

#### Link to the Content Page for Contributors: ####
https://github.com/GSA/fpki-guides

[2017-09-05 14:49] lachellel commented on #125
Agree - that page isn't published yet.  It's genesis was #18 and https://www.idmanagement.gov/wp-content/uploads/sites/1171/uploads/FPKI-Trust-InfrastructureOverview.pdf

An attempt to take the all the sections of that document that wasn't very clear "who the audience was" and break it down, adopt plain language, focus on audience and expected outcomes (etc).   Most of the up-front sections were m

[2017-09-06 15:26] weirdscience opened #126 "FCPCA Friendly Name in Microsoft"
#### Description of Issue: ####
Some users may be confused in Microsoft when looking at Federal Common Policy because it is listed as U.S. Government Common Policy. There should be a note somewhere that this is the name of Common Policy in Microsoft.

#### Details of Issue: ####
See above

#### References (Docs, Links, Files): ####
N/A

#### If a New Page or Content is Needed, Expected Outcomes: #

[2017-09-14 22:44] lachellel opened #129 "System Notification for: DigiCert - Issuance of CA Cert for DigiCert Federated Trust CA-1"
notice_date: September 14, 2017
change_type:  CA Certificate Issuance
start_datetime:
end_datetime:
system: DigiCert Federated ID CA-1
change_description:  A new CA certificate was issued for a subordinate CA under Digicert Federated ID CA-1.  The CA certificate is for DigiCert Federated Trust CA-1.
contact: ben.wilson at digicert dot com
ca_certificate_hash:
ca_certificate_issuer: DigiCert Federa

[2017-09-14 22:48] lachellel opened #130 "System Notification for: DigiCert - Issuance of CA Cert for Trinity Health Direct CA"
notice_date: September 14, 2017
change_type:  CA Certificate Issuance
start_datetime:
end_datetime:
system: DigiCert Federated ID CA-1
change_description: A new CA certificate was issued for a subordinate CA under Digicert Federated Trust CA-1. The CA certificate is for Trinity Health Direct CA.
contact: ben.wilson at digicert dot com
ca_certificate_hash:
ca_certificate_issuer: DigiCert Federated

[2017-09-14 23:11] #126 closed, assigned to nobody

[2017-09-14 23:36] lachellel commented on #129
notice_date: September 14, 2017
change_type: CA Certificate Issuance
start_datetime: Aug 24, 2017
system: DigiCert Federated ID CA-1
change_description: A new CA certificate was issued for a subordinate CA under Digicert Federated ID CA-1. The CA certificate is for DigiCert Federated Trust CA-1.
contact: ben.wilson at digicert dot com
ca_certificate_hash: E2:9C:44:38:7F:7B:AA:9F:49:EF:CC:AE:A6:54:

[2017-09-14 23:43] lachellel commented on #130
notice_date: September 14, 2017
change_type: CA Certificate Issuance
start_datetime: Aug 24, 2017
end_datetime:
system: DigiCert Federated ID CA-1
change_description: A new CA certificate was issued for a subordinate CA under Digicert Federated Trust CA-1. The CA certificate is for Trinity Health Direct CA.
contact: ben.wilson at digicert dot com
ca_certificate_hash: 91:C3:74:48:0A:BA:3B:B9:B4:6C:

[2017-09-14 23:51] #129 closed, assigned to nobody

[2017-09-14 23:51] #130 closed, assigned to nobody

[2017-09-17 14:33] indrajit-gsa opened #135 "FPKI Graph - Revise the content with context"
#### Description of Issue: ####
Breakup the FPKI Crawler to separate the FPKI Graph from the Crawler.

#### Details of Issue: ####
This issue will revise the FPKI Crawler playbook and break it down into a separate playbook about the FPKI Graph.

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributo

[2017-09-30 21:00] weirdscience opened #137 "System Notification for: Federal PKI Trust Infrastructure"
notice_date: September 30, 2017
change_type:  CA Certificate Issuance
start_datetime: ‎Thursday, ‎September ‎28, ‎2017 11:52:49
end_datetime: ‎Monday, ‎September ‎28, ‎2020 11:52:36
system: Federal PKI Trust Infrastructure
change_description: Issuance of cross-certificate from Federal Bridge to DigiCert
contact: FPKI@GSA.gov
ca_certificate_hash: e8 0b dd c6 1e d8 c4 3a d0 95 fc 94 62 17 be 45 bd d

[2017-10-03 15:34] lachellel commented on #137
closed by #139

[2017-10-03 15:34] #137 closed, assigned to nobody

[2017-10-04 17:50] lachellel commented on #77
@djpackham

Where in the navigation should this go?  Thoughts?

[2017-10-04 18:31] djpackham commented on #77
Some possibilities:

- Certificates and CRLs
   - FPKI Crawler

or

- Useful tools
   - FPKI Crawler

Standalone sidenav item?
- Introduction
- Certification Authorities
- Certificates and CRLs
- Trust Stores
- **FPKI Crawler**

or create a new System Engineer Guides

- System Engineer Guides
   - How to use the FPKI Crawler

[2017-10-04 18:34] lachellel commented on #77
I just pushed the framework for this one:

- Useful tools
  - FPKI Crawler

[2017-10-05 15:53] indrajit-gsa commented on #135
@lachellel @clstmbrly

I updated the text for the FPKI Graph with some additional information related to AIA and SIA linking. Do we need any further information on the Federal Bridge or SSP?

https://github.com/GSA/fpki-guides/blob/indrajit-gsa-fpki-crawler/_tools/01_fpki_graph.md

[2017-10-05 16:20] clstmbrly commented on #135
@indrajit-gsa @lachellel Should I proceed with editorial review of these revisions/new material?  Thank you.

[2017-10-05 16:54] clstmbrly commented on #135
@lachellel @indrajit-gsa For someone who is coming to the FPKI Graph to just see a visual representation of CA relationships, isn't the AIA and SIA extension information = too much information?  Isn't it more likely that those who come to the FPKI Crawler may want/need to understand how the AIA and SIA extensions are used?

[2017-10-05 16:59] lachellel commented on #135
i just updated the content.  moved the aia and sia descriptions to a "how this works" section at the bottom.   Does this work better?  Feel free to edit and get it published!

[2017-10-05 17:02] clstmbrly commented on #135
@lachellel Thank you!  I'll go take a look:-)

[2017-10-05 17:46] clstmbrly commented on #135
@lachellel Re:  this sentence: "Each **_ring_** represents *one* certificate in a chain from COMMON"-- should "Each **_ring_** really be "Each _dot_**"?

[2017-10-05 17:51] clstmbrly commented on #135
Or rather, each link between dots represents one certificate?

[2017-10-05 17:56] lachellel commented on #135
or just remove it...

[2017-10-06 13:57] clstmbrly commented on #135
@lachellel To respond to your earlier question--yes, the "how it works" section for AIA and SIA discussion works much better.  Thanks!

[2017-10-10 17:30] grandamp opened #141 "TLS Error when following fpki-graph URL"
#### Description of Issue: ####
Follow link to: https://fpki-graph.fpki-lab.gov/crawler/
Error received: "Privacy Error" and "NET:ERR_CERT_AUTHORITY_INVALID" in Chrome

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2017-10-10 17:34] grandamp commented on #141
![screenshot_20171010-132439](https://user-images.githubusercontent.com/13126304/31401056-9fa8232a-adbf-11e7-96dc-dafe35d5f292.png)

Screenshot on Android 8.0.0

[2017-10-10 21:43] indrajit-gsa commented on #141
@grandamp Does the advanced setting allow you to accept and store the cert chain? My android phone seems to be fine with the IdenTrust certs.

[2017-10-10 22:10] lachellel commented on #141
1. The fpki crawler isn't serving the intermediate CA cert(s) from the server...
2. When you fetch the AIA to find the issuer/intermediate and root - it only builds a certificate path to Common Policy CA.
3.  There is a certificate path to another **public trust Identrust root** that you can't directly find from the AIA.  I don't want to state it's "unpublished" - but the issuer/intermediate is no

[2017-10-11 03:30] grandamp commented on #141
I'm running Android 8 on a Pixel.  Importing CA certificates manually has historically yielded a persistent system notification, warning "network may be monitored", so manually adding is infeasible, and not recommended.

I.e., https://issuetracker.google.com/issues/36984301

[2017-10-11 04:05] weirdscience commented on #141
@lachellel is correct. One of the intermediates did not make it in the chain after the new certificate was loaded. It should be fixed now.

I will also follow-up with the vendor to include the intermediate in the AIA. IdenTrust has a split trust path with the FPKI. IdenTrust ACES are trusted by both the FPKI and Mozilla through the IdenTrust Public Sector Root CA. The IdenTrust ACES CA 2 is not cr

[2017-10-11 04:53] grandamp commented on #141
LGTM, thanks!

[2017-10-11 04:53] #141 closed, assigned to nobody

[2017-10-25 18:36] lachellel opened #142 "System Notification for: TSCP SHA256 Bridge CA"
notice_date:  October 5, 2017
change_type:  CA Certificate Issuance
start_datetime:  November 3, 2017
system: TSCP SHA256 Bridge CA
change_description: Issuance of a cross-certificate to Alexion Pharmaceuticals, Inc
contact: shauna.russell@tscp.org, fpki@gsa.gov

additional artifacts will be provided (AIA, SIA, OCSP, certificate hash, CA certificate subject) by tscp upon issuance.

[2017-10-26 12:18] indrajit-gsa opened #145 "Certificate Profile - Merge and Migrate Documents to Playbook"
#### Description of Issue: ####
The certificate profile documents in the fpki guide on the idmanagement.gov website will require merging and transformation to playbooks for simpler search and navigation.

#### Details of Issue: ####
There are multiple certificate profile documents for SSP, bridge and PIV-i which will require consolidation of content and then splitting the worksheets into navigable

[2017-10-26 12:58] lachellel commented on #145
Let's consider using the devicepki (github.com/uspki/policies & devicepki.idmanagement.gov) markdown for the devicepki certificate profiles as a template.  We have a different navigation but the markdown formats can be similar and reusable.

[2017-10-26 15:40] lachellel commented on #142
Notification was on October 20...fixing

[2017-11-15 17:24] lachellel commented on #142
CRL DP url

- http://onsitecrl.verisign.com/AlexionPharmaceuticalsIncCertificationAuthoritiesG2/LatestCRL.crl

AIA url

- http://cacer.symauth.com/mpki/AlexionIssuingCA.p7c

[2017-11-16 21:16] lachellel opened #150 "System Notification for: ORC (Widepoint) ACES 4"
notice_date:  November 16, 2017
change_type:  CA Certificate Issuance
start_datetime: August 21, 2017
system: Federal PKI Trust Infrastructure
change_description: Issuance of cross-certificate from Federal Bridge to ORC (Widepoint) ACES
contact: fpki@gsa.gov
ca_certificate_hash: 55 73 fc c5 e6 ff ff 2b 71 01 81 ac ca a2 ef da db 8f 0f 4e
ca_certificate_issuer: Federal Bridge CA 2016
ca_certificate

[2017-11-16 21:21] lachellel opened #151 "System Notification for: ORC (Widepoint) Non-Federal Issuer CA"
notice_date: November 16, 2017
change_type:  CA Certificate Issuance
start_datetime: October 4, 2017
system: Federal PKI Trust Infrastructure
change_description: Issuance of cross-certificate from Federal Bridge to ORC (Widepoint) Non-Federal Issuer CA
contact: fpki@gsa.gov
ca_certificate_hash: b0 55 c6 ee 10 4e 01 eb 68 8c 8f b4 f8 7c f7 7c a3 76 af db
ca_certificate_issuer: Federal Bridge CA 201

[2017-11-16 21:26] lachellel opened #152 "System Notification for: Symantec"
notice_date:  November 16, 2017
change_type:  CA Certificate Issuance
start_datetime: October 25, 2017
system: Federal PKI Trust Infrastructure
change_description:  Issuance of cross-certificate from Federal Bridge to Symantec
contact: fpki@gsa.gov
ca_certificate_hash: 91 45 31 f5 a6 10 91 40 05 42 2e 56 d6 71 12 18 13 3b 10 48
ca_certificate_issuer: Federal Bridge CA 2016
ca_certificate_subject:

[2017-11-16 21:30] lachellel opened #153 "System Notification for: Verizon"
notice_date: November 16, 2017
change_type:  CA Certificate Issuance, CA Certificate Revocation, New CA, URI Change, System Outage
start_datetime: October 4, 2017
system: Federal PKI Trust Infrastructure
change_description: Issuance of cross-certificate from Federal Bridge to Verizon Non-Federal Issuer CA
contact: fpki@gsa.gov
ca_certificate_hash: 68 70 66 bc e5 6b 6e 20 ae a0 c6 05 b9 b6 67 93 42

[2017-11-16 21:34] lachellel opened #154 "System Notification for: Entrust Non-Federal"
notice_date: November 16, 2017
change_type:  CA Certificate Issuance
start_datetime:  November 20, 2017
system: Federal PKI Trust Infrastructure
change_description: Issuance of cross-certificate from Federal Bridge to Entrust Non-Federal
contact: fpki@gsa.gov
ca_certificate_issuer: Federal Bridge CA 2016
ca_certificate_subject: Entrust Managed Services NFI Root CA

[2017-11-16 23:03] techliaison commented on #154
change description should say Entrust not Symantec

[2017-11-16 23:19] lachellel commented on #154
:+1:  thanks!  (copy / paste and forgot to modify)

[2017-11-17 17:42] weirdscience opened #155 "System Notification for: Federal PKI Trust Infrastructure"
notice_date: Nov 17, 2017
change_type:  CA Certificate Issuance
start_datetime: ‎Thursday, ‎November ‎16, ‎2017 14:52:56
end_datetime: ‎Monday, ‎November ‎16, ‎2020 14:52:26
system: Federal Bridge CA 2016
change_description: CA certificate renewal to the Entrust NFI Root CA
contact: FPKI@gsa.gov
ca_certificate_hash: ‎22 05 08 b0 ab 72 e2 ee 3a ca a6 a9 ef 50 01 c8 7c 52 3e a4
ca_certificate_issuer

[2017-11-17 17:56] lachellel commented on #155
dup with #154.  I'll close #154.

[2017-11-17 17:56] #154 closed, assigned to nobody

[2017-11-17 17:59] lachellel commented on #155
Updated to merge #154

notice_date: November 16, 2017
change_type: CA Certificate Issuance
start_datetime: ‎Thursday, ‎November ‎16, ‎2017 14:52:56
system: Federal PKI Trust Infrastructure
change_description: Issuance of cross-certificate from Federal Bridge 2016 to Entrust Non-Federal Root CA
contact: fpki@gsa.gov
ca_certificate_hash: ‎22 05 08 b0 ab 72 e2 ee 3a ca a6 a9 ef 50 01 c8 7c 52 3e a4
c

[2017-11-20 18:39] indrajit-gsa commented on #155
Pull request #156 submitted for this issue.
https://github.com/GSA/fpki-guides/pull/156

[2017-11-20 18:39] indrajit-gsa commented on #153
Pull request #156 submitted for this issue.
https://github.com/GSA/fpki-guides/pull/156

[2017-11-20 18:39] indrajit-gsa commented on #150
Pull request #156 submitted for this issue.
https://github.com/GSA/fpki-guides/pull/156

[2017-11-20 18:39] indrajit-gsa commented on #152
Pull request #156 submitted for this issue.
https://github.com/GSA/fpki-guides/pull/156

[2017-11-20 18:48] indrajit-gsa commented on #151
Pull request #156 submitted for this issue.

[2017-11-20 18:53] #150 closed, assigned to nobody

[2017-11-20 18:53] #151 closed, assigned to nobody

[2017-11-20 18:53] #153 closed, assigned to nobody

[2017-11-20 18:53] #152 closed, assigned to nobody

[2017-11-20 18:53] #155 closed, assigned to nobody

[2017-12-11 16:32] lachellel commented on #145
**Proposed order and navigation:**

- Reorder the worksheets (numbering) - currently, the numbers flip between the policies.  For example, a Federal Bridge profile for end entity signature is numbered before the common profile for end entity signature.  But in another set (auth profiles), it's common (piv, derived) then fed bridge (piv-i).

- Draft up a consolidation of tables / worksheets that sh

[2017-12-11 21:15] clstmbrly commented on #145
@lachellel @djpackham @indrajit-gsa   Please take a look at the combined PIV, PIV-I, and Derived PIV Authentication cert profile at https://github.com/GSA/fpki-guides/blob/145-cert-profiles-migrate/_profiles/21_all_piv-auth.md.

The extension values make for long, narrow columns in some cases.  For the Subject Directory Attributes extension, I shortened the verbiage by saying:  "Same as for PIV Au

[2017-12-12 20:49] woodyweaver opened #159 "Distinguishing between certs on a PIV"
#### Description of Issue: ####

Users (and engineers) often don't understand the differences between the auth and digital signature cert.  It would be helpful to expand on the explanation from a functional and programmatic perspective.

#### Details of Issue: ####

A useful application would be to force use of the auth cert rather than the digital signature cert when performing client authenticat

[2017-12-15 22:37] clstmbrly commented on #145
@lachellel @djpackham @indrajit-gsa I've updated the combined PIV, Derived PIV, and PIV-I Authentication Profile, per recent suggestions and comments.  Added a small traceability table (will do this for each profile, if it works) as a way to eventually remove the larger, *confusing* matrix on the landing page.  Removed the Mandatory and Optional Column and split Extensions into 2 tables:  Mandator

[2017-12-22 18:27] clstmbrly commented on #145
@lachellel @djpackham @indrajit-gsa The latest version of the combined PIV, Derived PIV, and PIV-I Authentication Cert Profile is ready for your review.  I've incorporated content changes from Wendy; made structural changes based on Wendy's and Jordan's inputs; and did additional formatting, wordsmithing, etc.  Looks good in Federalist Live Preview.

Please let me know if you have additional sugge

[2017-12-22 19:40] techliaison commented on #145
PIV Classes  is not a good header when you are including PIV-I which is not a PIV – besides what is a class?  Do you mean certificates?

Subject AltName – again the majority of the text should be consistent across the row and I really think this table would still be better without having 3 separate columns
If you are going to include this text for UUI – it belongs in all 3 “encoded as a URI, as sp

[2017-12-26 16:07] indrajit-gsa commented on #145
Here is the 'preview link' for the certificate profiles as we progress through the feedback process. It will be easier to view the details of each certificate profile.

https://federalist-proxy.app.cloud.gov/preview/gsa/fpki-guides/145-cert-profiles-migrate/certprofiles/

[2018-01-04 22:53] clstmbrly commented on #145
@techliaison I will email you to get clarification about some of your inputs.  Thanks!

[2018-01-05 21:09] indrajit-gsa opened #162 "Revise The Certification Authorities Page"
#### Description of Issue: ####
On the CA page (https://fpki.idmanagement.gov/ca/), the certification authorities page still mentions Federal Bridge CA 2013.

#### Details of Issue: ####
The Federal Bridge CA 2013 should be removed since this is not in use anymore. Also the statement "These Federal PKI Trust Infrastructure CAs serve as the root and trust anchors" is not correct. Only the COMMON is

[2018-01-08 20:30] indrajit-gsa opened #163 "System Notification for: NextgenID cross certificate for CertiPath Bridge CA - G2"
notice_date: January 2, 2018
change_type:  CA Certificate Issuance
start_datetime: TBD
end_datetime: NA
system: CertiPath Bridge
change_description: CertiPath Policy Management Authority has approved NextgenID for cross certification with the CertiPath Bridge CA – G2 for the following certificate types:

CertiPath Assurance Level | NextgenID Assurance Level
-- | --
Medium Software {1.3.6.1.4.1.240

[2018-01-08 20:35] indrajit-gsa commented on #163
The cross certificate will be issued later in January 2018.

[2018-01-08 21:23] lachellel commented on #163
~~system: Federal PKI Trust Infrastructure~~

system: CertiPath Bridge

[2018-01-09 22:26] clstmbrly commented on #145
@lachellel @djpackham The updated PIV, D-PIV, and PIV-I Authentication cert profile is available for your review.  All of Wendy's changes have been addressed, plus editorial and formatting.  Some changes were made to try to shorten the profile length.  Would appreciate any feedback.  Thanks!

[https://github.com/GSA/fpki-guides/blob/145-cert-profiles-migrate/_profiles/23_all_piv_auth.md]

[2018-01-10 15:33] indrajit-gsa commented on #163
@lachellel Submitted pull request #164.

[2018-01-12 19:16] weirdscience opened #168 "Add Hot Topics Page To Address Microsoft Trust Store and Google Certificate Transparency (CT) Changes"
#### Description of Issue: ####
Microsoft and Google are making changes in IE/Edge and Chrome which will impact the FPKI. This hot topic page will outline the challenge and provide recommended solutions to lessen the impact.

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####
New page with new content.

#### Lin

[2018-01-16 21:33] indrajit-gsa commented on #168
@lachellel -- Is the navigation for these hot topics going to be "Announcements"? Should we make it a collection in a new directory which will auto update the menu when new files are added?

[2018-01-16 21:51] lachellel commented on #168
I notionally added "announcement" in the front matter for the markdown.  I didn't add it as a category yet - see the question in the original PR #169

@weirdscience - what do you think?
@djpackham - would annoucements make sense in the navigation?  Or hot topics?

[2018-01-16 22:09] weirdscience commented on #168
@weirdscience do we need the full email / announcement? Or only the option 1 info and FAQ, and then we'll add the configuration steps?

- I reproduced the email info so not needed unless I missed something. I haven't received feedback on the configuration steps to add it back in.

Looks good to me.

[2018-01-16 22:11] weirdscience commented on #168
For the Chrome announcement, would it be more helpful to have specific instructions on how to turn off CT or should we point to the KB? http://www.chromium.org/administrators/policy-list-3#CertificateTransparencyEnforcementDisabledForUrls

[2018-01-16 23:27] clstmbrly commented on #168
@lachellel @weirdscience I created a 168-hot-topics branch in GSA/FPKI-Guides.  Both MS and Google Hot Topic files are under /_Pages.
The edited, current version of the Microsoft Hot Topic is here:
[https://github.com/GSA/fpki-guides/blob/168-hot-topics/pages/fpki_hottopic_microsoftconstraint.md](url)
Still some information that needs to be supplied there ("TBD" and Option 2 steps).
Currently work

[2018-01-17 14:25] djpackham commented on #168
IMO, I'd go with "Announcements". Would it make sense to modify the landing page to include the titles of the announcements with links? Or make the landing page the announcements page?

[2018-01-17 21:30] clstmbrly commented on #168
My .02 cents:  Introduction is a good landing page as is. IMHO, "Announcements" wouldn't work there. “Announcements” could be just before or just after “Introduction” on the sidebar navigation. (Or just before “System Notifications,” but folks might not see it there quickly.)
How about this for the sidebar nav:
Announcements (top level)
+ Microsoft Policy Changes (2nd level) (not catchy words, but

[2018-01-17 22:21] indrajit-gsa commented on #168
I was also thinking similar to @djpackham suggestion about making the announcements index page to contain links to each page with new announcements at the top. I will see if I can code that to loop through the files and pick the title, or for now, just hard code it.

So it will be something like below (taking the suggestions from @clstmbrly)
- ...
- Trust Stores
- Useful Tools +
- Announcements +

[2018-01-17 23:19] lachellel commented on #168
Announcements sound good.

Since we're making the announcements a collection (similar to the other playbooks), then the announcements landing page markdown can loop through and list (and link) to the sub-pages.  It doesn't need custom or hard-coding.

https://jekyllrb.com/docs/collections/
{% for item in site.\<collectionname> %}

(etc)

Here are the steps to do first, so we can build locally and

[2018-01-18 16:35] indrajit-gsa commented on #168
I made the following updates:
- Moved the 2 files to _announcements folder.
- Made necessary changes to collections in config.yml.
- Added description to each announcement file header. This will show on the index page.
- Added publish date to each announcement file header. This will show on the index page and on each announcement page. Made necessary change to layout file.
- The announcement index

[2018-01-18 18:42] clstmbrly commented on #168
@weirdscience @lachellel  The edited, current version of the Google Announcement is here:
https://github.com/GSA/fpki-guides/edit/168-hot-topics/_announcements/02_google_ct.md

I added "coder" comments for questions that came up when I read the announcement.
For example:  Google's use of CT introduces what problem for the FPKI?
Please take a look at the Markdown mark-up view to see these.
There ar

[2018-01-18 23:22] #162 closed, assigned to nobody

[2018-01-18 23:23] #135 closed, assigned to nobody

[2018-01-18 23:24] #77 closed, assigned to lachellel

[2018-01-19 19:24] lachellel opened #171 "Remove the alpha from the header"
#### Description of Issue: ####
Site is live - no longer in "alpha"

#### Details of Issue: ####
Remove the alpha from the headers

[2018-01-22 15:09] lachellel commented on #171
PR #172

[2018-01-22 15:09] #171 closed, assigned to nobody

[2018-01-22 15:09] lachellel commented on #163
#165

[2018-01-24 16:40] indrajit-gsa commented on #168
I found this link (https://transparencyreport.google.com/https/certificates) for verifying the CT status for any existing website. It may be helpful to add this to the Google CT topic.

[2018-01-24 16:54] lachellel commented on #168
Not needed - it's a red herring for the purposes of the announcement.  I can assert that not a single federal CA in FPKI (i.e. the service providers) include CT by default.  The focus of the announcement is in regards to our federal root and federal CAs, and the impacts which will be primarily to the **intranets**.

[2018-01-26 12:17] weirdscience commented on #4
Should this issue be closed?

If USG is establishing a public NPE root, best practices would be for internally operated CAs. Is there a playbook that can be published?

[2018-01-26 12:18] weirdscience commented on #68
If this was merged with the FPKI OCSP, AIA, CDP, and DN page. Can this issue be closed?

[2018-01-26 12:27] weirdscience commented on #125
Section 5
Audience: Federal relying parties
Purpose: Help relying parties understand which FPKI certificate is either a person or device certificate. If they are doing policy validation, helps them ensure they are accepting the correct certificate.
Fix: Agree - risk level is not defined so we should remove it and plain language the certificate purpose.

Section 6
Audience: Federal relying party
Pu

[2018-01-26 16:19] konklone commented on #4
I wouldn't say that, since I don't expect the USG root to be mandated or used universally. And even for those who do use a new NPE root, how they choose to obtain those certificates (automated vs manual) is of some relevance.

I've tried to include some guidance here: https://https.cio.gov/certificates/ Though it touches on some topics beyond best practices for device certificates.

[2018-01-26 17:09] lachellel commented on #4
There are two different use cases:

- Public Trust SSL
- Network (intranet) devices which include many more endpoints and non-http protocols and devices

So you're right eric - we should link to the https.cio.gov site for the web pki best practices as this also includes configuration best practices.   For internal only locally trusted CAs, the only playbook we've put together is reusing one from D

[2018-01-26 17:25] indrajit-gsa commented on #163
Updating with issuance information.

Notice date: January 2, 2018
System: CertiPath Bridge
Type: CA Certificate Issuance
Start Date and Time: Monday, ‎January ‎22, ‎2018 7:00:00 PM
End Date and Time: ‎Thursday, ‎February ‎28, ‎2019 6:59:59 PM
Change Description: CertiPath has approved NextgenID for cross certification with the CertiPath Bridge CA – G2. The cross certificate will be issued later in

[2018-01-26 17:41] indrajit-gsa commented on #163
#173 -- Pull request for this update.

[2018-01-26 20:00] #163 closed, assigned to nobody

[2018-01-29 15:48] clstmbrly commented on #168
@lachellel Ken had a few more changes to both Hot Topics.  Will resubmit shortly.

[2018-01-29 22:16] clstmbrly commented on #168
@lachellel The latest changes have been incorporated. The Hot Topics announcements are ready for your review.  Have a lovely evening:-).

[2018-02-02 20:50] lachellel commented on #168
@weirdscience @djpackham

I just made some modifications to the microsoft removal of ssl trust hot topic.  We stated three different trust stores (Trusted Roots, Enterprise, and NTAuth) in the instructions in different places.  I think this is due to copying from piv (ntauth).

We need to push Common to Enterprise Trust, correct?  NTAuth is irrelevant, and I'm wavering between Trusted Roots and En

[2018-02-02 21:04] clstmbrly commented on #168
@lachellel As one of the latest changes, Ken instructed me to change all related uses of "Enterprise" to NTAuth.  Also said COMMON is installed to NTAuth.

We refer to Trusted Root in terms of "Microsoft Trusted Root Program," which is what Microsoft really calls its Trust Store program--the term we used previously.  Verified this on Microsoft site.  Changed the Microsoft program references for co

[2018-02-02 21:07] clstmbrly commented on #168
@lachellel I see we were working in the file at the same time.

[2018-02-02 21:36] weirdscience commented on #168
@lachellel if you send a link to the version you have, it will help with context. I'm looking at this copy https://federalist-proxy.app.cloud.gov/preview/gsa/fpki-guides/168-hot-topics/announcements/mspkichanges/

1) Three different trust stores (Trusted Roots, Enterprise, and NTAuth) - I see we use Trusted Roots to refer to Microsoft Trusted Root Program and the specific directory in the MMC "Tru

[2018-02-02 22:23] djpackham commented on #168
I had a few separate discussions and I think we're on the same page that NTAuth isn't the right store to add COMMON.

IMO, I believe it is between the Enterprise Trust store and Trusted Root Certification Authorities store. I found this article that provides a brief description of the difference between Enterprise Trust store and the Trusted Root Certification Authorities store:

- https://technet

[2018-02-07 23:39] weirdscience commented on #69
I think a mapping table or tool would be helpful. A way to check if an OID maps back to common and at what level.

[2018-02-07 23:41] weirdscience commented on #27
Would this be a pointer of where to find business and citizen credentials on idmanagment.gov instead of a playbook?

[2018-02-07 23:46] weirdscience commented on #4
Do we need an NPE guide?

PIV Guide Scope - Everything needed to setup and use PIV logically.

FPKI Guide Scope - Everything that happens above PIV and software certs(?)

New Device Guide Scope(?) - Everything devices(?). This might just be a pointer to the M-15-13 guidance, NIST 800-52, and maybe NCCOE TLS project.

[2018-02-07 23:47] weirdscience commented on #67
I think this can be closed. We published the graph and crawler pages.

[2018-02-07 23:48] weirdscience commented on #66
I can work on this.

[2018-02-07 23:50] weirdscience commented on #50
I think this can be closed. The pull request from @protiviti-jsargent to fix this was closed last month.

[2018-02-07 23:52] weirdscience commented on #26
You can assign this to me.

[2018-02-07 23:54] #50 closed, assigned to nobody

[2018-02-14 16:31] indrajit-gsa opened #176 "System Notification for: Northrop Grumman Corporate Root"
notice_date: February 6th, 2017
change_type:  CA Certificate Issuance
start_datetime: End of February, 2017
end_datetime:
system:  CertiPath Bridge
change_description: Issuance of cross-certificate from CertiPath Bridge CA - G2 to Northrop Grumman Corporate Root CA-G2
contact: fpki@gsa.gov
ca_certificate_hash:
ca_certificate_issuer: CN = CertiPath Bridge CA - G2, OU = Certification Authorities, O

[2018-02-14 16:33] indrajit-gsa opened #177 "System Notification for: Carillon Federal Services PIV-I CA1"
notice_date: February 6th, 2017
change_type:  CA Certificate Issuance
start_datetime: End of February, 2017
end_datetime:
system: CertiPath Bridge
change_description: Issuance of cross-certificate from CertiPath Bridge CA - G2 to Carillon Federal Services PIV-I CA1
contact: fpki@gsa.gov
ca_certificate_hash:
ca_certificate_issuer: CN = CertiPath Bridge CA - G2, OU = Certification Authorities, O = C

[2018-02-14 16:38] indrajit-gsa opened #178 "System Notification for: CISRCA1"
notice_date: February 6th, 2017
change_type:  CA Certificate Issuance
start_datetime: End of February, 2017
end_datetime:
system: CertiPath Bridge
change_description: Issuance of cross-certificate from CertiPath Bridge CA - G2 to CISRCA1
contact: fpki@gsa.gov
ca_certificate_hash:
ca_certificate_issuer: CN = CertiPath Bridge CA - G2, OU = Certification Authorities, O = CertiPath LLC, C = US
ca_cert

[2018-02-14 16:38] indrajit-gsa opened #179 "System Notification for: Northrop Grumman Corporation Root CA"
notice_date: February 6th, 2017
change_type:  CA Certificate Issuance
start_datetime: End of February, 2017
end_datetime:
system: CertiPath Bridge
change_description: Issuance of cross-certificate from CertiPath Bridge CA - G2 to Northrop Grumman Corporation Root CA
contact: fpki@gsa.gov
ca_certificate_hash:
ca_certificate_issuer: CN = CertiPath Bridge CA - G2, OU = Certification Authorities, O =

[2018-02-14 19:34] weirdscience opened #182 "Update FPKI CA Table for ACES Deprecation"
#### Description of Issue: ####
The GSA ACES program will sunset. This will update the table and provide information on the sunset.

#### Details of Issue: ####
The GSA ACES program will sunset. This will update the table and provide information on the sunset.

#### References (Docs, Links, Files): ####
ACES Transition Guide - https://www.idmanagement.gov/wp-content/uploads/sites/1171/uploads/gsa-

[2018-02-15 19:30] weirdscience commented on #64
Latest update is it is part of a repo that is working its way to being shared.

[2018-02-15 19:54] lachellel commented on #168
@clstmbrly @weirdscience @djpackham

Added changes for the microsoft announcement.  It's on preview: https://federalist-proxy.app.cloud.gov/preview/gsa/fpki-guides/168-hot-topics/announcements/

Changes:
- the difference between the physical and the logical trust stores seems to cause confusion (in words and configs)
- I explicitly added a short FAQ on this
- Removed the step by step instructions

[2018-02-15 22:49] clstmbrly commented on #168
@lachellel I sent some editorial glitches to your email.  @djpackham

[2018-02-16 16:26] lachellel commented on #182
#184

[2018-02-16 16:26] #182 closed, assigned to nobody

[2018-02-16 16:29] #142 closed, assigned to nobody

[2018-02-16 16:55] lachellel opened #185 "Announcement for CT"
#### Description of Issue: ####
- CT enforcement in Chrome will cause errors for intranet sites using TLS certificates issued from FPKI federal CAs
- Removal of TLS trust from Microsoft may mitigate a portion
- Impacts to MacOSx users

****** Migrated from #168 ********

@weirdscience @lachellel The edited, current version of the Google Announcement is here:
https://github.com/GSA/fpki-guides/edit

[2018-02-22 17:48] weirdscience commented on #185
Looks good to me. I added a short section on how to check compliance in Chrome.

[2018-02-22 18:17] weirdscience commented on #168
I added a pull request #186 to start a testing procedure outline.

[2018-02-23 13:26] weirdscience commented on #33
#32, #34 and this one are related and very similar to content we put together for the ACES transition. I can convert the ACES transition guide and work on this.

[2018-02-27 20:41] #179 closed, assigned to nobody

[2018-02-27 20:41] #178 closed, assigned to nobody

[2018-02-27 20:41] #176 closed, assigned to nobody

[2018-02-27 20:41] #177 closed, assigned to nobody

[2018-02-27 21:59] lachellel commented on #185
Thanks @weirdscience

@clstmbrly - I committed some additional changes, including aligning with the format of the other
announcement.

[2018-02-27 22:09] clstmbrly commented on #185
Thanks @lachellel  Strangely coincidental--I was just thinking that I needed to check formatting consistency between the two:-).  Will take a look.

[2018-03-02 17:49] lachellel commented on #185
#192

[2018-03-02 17:49] #185 closed, assigned to nobody

[2018-03-02 17:49] #168 closed, assigned to weirdscience, clstmbrly

[2018-03-14 21:48] lachellel opened #196 "Chrome: Certificate Transparency Testing"
#### Description of Issue: ####
We're testing CT changes in Chrome

#### Details of Issue: ####
The release of CT enforcement will require federal agencies to push global enterprise configurations for Chrome.
To disable CT for some govt INTRANET sites.

#### References (Docs, Links, Files): ####
https://fpki.idmanagement.gov/announcements/chromect/

[2018-03-14 21:49] lachellel commented on #196
@ryancdickson - I moved your comment to this new issue thread.  (updated - had wrong ryan!)
****************
Downloaded Version 67.0.3370.0 canary (64 bit) on macOS High Sierra and CT enforcement did not appear enabled out of the box (tested idmanagement.gov, FPKI crawler site, and various DoD sites (e.g. iase.disa.mil)).

Consequently, I am unable to verify the macOS configuration listed above an

[2018-03-14 23:00] ryancdickson commented on #196
@lachellel - no problem.

Tried again and managed to confirm CT enforcement.

[code]

Need to continue exploring modifying the canary manifest to enable exceptions.

#### Update ####
The following has been confirmed to disable enforcement for .mil and .gov domains on macOS High Sierra with build Version 67.0.3370.0 canary (64 bit).

[code]

[2018-03-29 22:55] indrajit-gsa opened #199 "Add Search Box To FPKI Guides"
#### Description of Issue: ####
There is no search feature in the FPKI Guides.

#### Details of Issue: ####
Add a search box to FPKI Guides and post the data to search.usa.gov. The feature will be similar to the one provided at idmanagement.gov.

#### References (Docs, Links, Files): ####
Should be added to the navbar.html and it will be included in all pages. Possibly replace the "View this site'

[2018-04-05 14:06] lachellel commented on #196
We're looking for this setting:

- DisableCertificateTransparencyEnforcementForLegacyCAs
- Newer policy setting in progress
- _Should_ be available in v67 (unknown minor release)

[2018-04-05 15:21] indrajit-gsa opened #200 "System Notification for: Retiring FBCA 2013"
notice_date: April 4, 2018
change_type:  CA Certificate Revocation
start_datetime: 3/26/28 12:15PM EDT
end_datetime:
system: SBCA Operational Authority
change_description: the cross-certificate from SBCA 02 to FBCA 2013 has been revoked (3/26/28 12:15PM EDT).  The CRL was published shortly thereafter.  We are updating repositories (SIA/AIA) today.
contact: Matthew dot Williams at exostar dot com
c

[2018-04-05 21:00] konklone opened #204 "Disable scroll behavior on FPKI graph"
The [FPKI Graph](https://fpki.idmanagement.gov/tools/fpkigraph/) is awesome. However, scrolling down the page causes the graph to scroll wildly out (or in) if the cursor is positioned over the chart as you scroll up and down.

I observed this behavior on a Macbook Pro using the trackpad, though I assume it also affects mouse scroll-wheel users.

[2018-04-06 18:29] lachellel commented on #196
Chromium issue link for new settings using SPKI:

- https://bugs.chromium.org/p/chromium/issues/detail?id=824184

[2018-04-06 22:15] lachellel commented on #204
Confirmed behavior on Chrome + Windows + mouse scroll wheel.

It's limited to use of the scroll wheel or track pad - the focus is on the graph and the scroll makes the "graph" scroll move _in addition to_ the browser scroll.

_It is a bit unnerving (wildly scrolling out or in) until you figure out what's happening!_

[2018-04-06 23:53] indrajit-gsa commented on #204
It is the same behavior that existed in the older graph - https://fpki-graph.fpki-lab.gov/, just that this one has the page scroll in addition to the graph zoom because we have the horizontal scroll. The graph is zooming in/out with the mouse scroll button as expected. I will see if I can disable it, though I suspect the zoom functionality may be disabled as well.

[2018-04-09 14:08] indrajit-gsa commented on #204
I disabled the zoom on mouse scroll for the graph. The zoom slider will allow zooming in/out of the graph.
Here is the [preview](https://federalist-proxy.app.cloud.gov/preview/gsa/fpki-guides/fpkigraph/tools/fpkigraph/).

[2018-04-09 14:10] lachellel opened #206 "Microsoft: serverAuth Removal Testing"
#### Description of Issue: ####
- We need a common set of test procedures for testing the removal of serverAuth from the USG root (Federal Common Policy CA)
- Test procedures need to be focused on the govt intranets and domain joined (or managed) equipment
- Initial April 2018 testing will be on a alpha Certificate Trust List
- Common root certificate will still have the serverAuth EKU and a notBe

[2018-04-09 14:12] lachellel commented on #204
Nice!  LGTM

[2018-04-09 14:53] konklone commented on #204
:+1: from me as well!

[2018-04-09 20:35] ryancdickson commented on #196
If I'm interpreting policy_templates.json correctly, I'd expect the registry entries to look like the following for the new policies when considering COMMON...

[code]
or
[code]

Given allowed options for device certificate naming listed in Common Policy...
[code]

The CertificateTransparencyEnforcementDisabledForCas workaround could theoretically offer some coverage (e.g. if leaf cert name syntax

[2018-04-09 20:55] lachellel commented on #196
@ryancdickson

Based on the logic in the issue alone - I was thinking we can only use:

- CertificateTransparencyEnforcementDisabledFor**Legacy**Cas

The TLS certs are not OV or EV, which may negate the use of the 2nd option (CertificateTransparencyEnforcementDisabledForCas).

A pro for using the SPKI and DisabledforLegacyCAs over the disabled for URIs->

- the Internet endpoints being accessed by

[2018-04-10 17:34] lachellel commented on #196
@ryancdickson

Your thoughts appreciated on the following:

Do we have what we need to update the Chrome CT announcement and options [here](https://github.com/GSA/fpki-guides/blob/staging/_announcements/02_google_ct.md)?

Purpose:

- Inform govt agencies
- Start broader testing

I believe the DisabledforLegacyCas is the only **new** policy option that would work.

[code]

[2018-04-11 15:49] indrajit-gsa commented on #204
This issue is now resolved.

[2018-04-11 15:49] #204 closed, assigned to indrajit-gsa

[2018-04-11 18:03] ryancdickson commented on #196
@lachellel

I would feel better about documenting the previously posted configuration for the announcement if I could confirm it was correct/worked.

<br>

My test target website was https://fpki-graph.fpki-lab.gov/, which I know can chain to COMMON or IdenTrust Public Sector Root CA 1. I figured this would give me two chances of confirming the policy.  I am using Canary Version 67.0.3394.0, the l

[2018-04-13 15:14] lachellel commented on #196
I'd go to the support site first.  Flex it a bit - if we can't get it to work, imagine 1000 USG engineers all pinging.

[2018-04-13 15:19] lachellel commented on #206
From MSFT:  Testing is ready.  Please follow the instructions below.

http://ctldl.windowsupdate.com/msdownload/update/v3/static/trustedr/en/USPKI

Below steps can be used for testing:

On each test system, modify following registry key to work with the new CTL:

- [HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\SystemCertificates\AuthRoot\AutoUpdate] "RootDirUrl"=http://ctldl.windowsupdate.com/msdownload/

[2018-04-13 15:29] ryancdickson commented on #196
Will do. There are still very few mentions of the new policy on the Internet when compared to CertificateTransparencyEnforcementDisabledForUrls.

I think I remember the discussion where Peter B. and Ryan S. discussed the genesis of DisableCertificateTransparencyEnforcementForLegacyCAs in the Google Group. I'll follow-up there.

Thanks!

[2018-04-13 20:33] lachellel commented on #206
From @weirdscience

A couple points from Microsoft:

- A disallow is used instead of a notBefore for the first phase of testing. It allows a more reliable test than a notBefore. The next phase of testing will/may include a notBefore.
- All testing needs to happen in Windows 10 using Edge/IE.
- Results may vary when using Chrome in Windows 10 so test accordingly under different conditions.

After y

[2018-04-16 17:07] ryancdickson commented on #196
Following up for public awareness. Ryan S. helped to clarify that I had my encoding wrong (hex rather than base64).

The following did the trick:

[code]

where `jotW9ZGKJb2F3OdmY/2UzCNpDxDqlYZhMXHG+DeIkNU= `is the b64 converted value of the SPKI SHA2SUM.

I will take action to prepare updated guidance in preparation for posting to Playbooks.

[2018-04-17 17:36] lachellel opened #213 "ChromeOS and CT settings"
#### Description of Issue: ####
There is a bug on the CT announcement page

#### Details of Issue: ####
Bold highlights are incorrect.

**************
**Windows Registry** location for Chrome **OS** clients:

For HKEY_LOCAL_MACHINE\Software\Policies\Google\ **Chrome** \CertificateTransparencyEnforcementDisabledForUrls, add new string value:

   Sub-Domain example:
   Name = 1 | Data = example.agen

[2018-04-20 20:11] #213 closed, assigned to nobody

[2018-04-23 21:22] lachellel opened #216 "Announcement: TLS Certificate Lifetimes"
**Description of Issue:**

- Email notice sent is below
- Turn into an announcement page

**********************
This notice is for federal agency IT staff.
Government end users may be receiving security "untrusted certificate" errors on some federal intranet websites and applications.  These errors may be caused by SSL/TLS certificates issued from Federal Government Certification Authorities in F

[2018-04-25 03:10] weirdscience commented on #206
I'll integrate this into the announcements page. #186

[2018-04-26 15:31] weirdscience opened #217 "System Notification for: FPKIMA"
notice_date: April 25, 2018
change_type:  CA Certificate Issuance
start_datetime:  April 23, 2018
end_datetime:  December 15, 2019
system:  FPKI Trust Infrastructure (Federal Bridge 2016)
change_description:  Issuance of cross-certificate from Federal Bridge 2016 to US Patent and Trademark CA due to PTO Re-Key
contact: FPKI at GSA.gov
ca_certificate_hash: ‎07 04 ea 96 33 a4 5a 9a 39 12 3b ac 28 be

[2018-04-26 18:01] weirdscience commented on #206
_**Current Test Results Status**_

- Microsoft set the CTL to Disallow Server Auth to Common Policy. Due to this, certificate validation it breaks to every website in IE, Edge, Chrome using Common Policy as the Root. Even if Common Policy is published using GPO to enterprise stores, we still receive validation errors.

- If there is a path to another root, then there is no validation error.  For e

[2018-04-27 03:05] weirdscience opened #218 "CTL Testing: NASA Results"
Microsoft Edge 41.16299.371.0 and Internet Explorer 11.371.16299.0 in Windows 10 1709 64-bit Build 16299.371 and Windows 10 1709 32-bit Build 16299.309 received the following errors for FCPCA chained certificates:

For FCPCA Chained Certs:
The website’s security certificate is not secure.
Error Code: 0
Because this site uses HTTP Strict Transport Security, you can’t continue to this site at this t

[2018-04-27 03:16] weirdscience opened #219 "CTL Testing: GSA Results"
-------------------------------------------------------------------------------
Background/Version Information
-------------------------------------------------------------------------------
- OS Version: Windows 10 Pro
- OS Build: 16299.371
- Chrome Version: 66.0.3359.117
- Edge Version: 41.16299.371.0
- IE Version: 11.371.16229.0
- MSFT Trust Store configuration notes (landscape prior to testing

[2018-04-27 13:00] weirdscience commented on #206
I've incorporated all relevant information in the latest pull request #186.

[2018-04-30 15:42] cltross opened #220 "CTL Testing: SSA Results"
**Baseline Configuration:**
Windows 10 Enterprise, Build: 10.0.14393
Internet Explorer 11, Build: 11.2189.14393.0
Google Chrome, Build: 66.0.3359.139
Note: Unable to test with Edge due to GPO-controlled redirects to IE

[2018-04-30 15:44] cltross commented on #220
**Test Procedures:**

[2018-04-30 15:45] cltross commented on #220
**Test Procedures**

[2018-04-30 16:23] weirdscience commented on #220
Thank you! Any results?

[2018-04-30 16:38] cltross commented on #220
**Test Procedures**
1) Deleted Common and US Treasury Root CAs from Trust Store
2) Modified registry to pull test CTL:
Added:
New String: "RootDirUrl" http://ctldl.windowsupdate.com/msdownload/update/v3/static/trustedr/en/USPKI
Deleted:
[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\SystemCertificates\AuthRoot\AutoUpdate\EncodedCtl]
[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\SystemCertificates\AuthRoot\AutoUp

[2018-05-02 12:15] ryancdickson commented on #196
Google's latest [announcement ](https://groups.google.com/a/chromium.org/forum/#!topic/ct-policy/Qqr59r6yn1A) is now more explicit in stating enforcement will be applicable in release version 68 and above.

[code]

Our current [announcement ](https://fpki.idmanagement.gov/announcements/chromect/) does not explicitly mention release 68.

Shall I update the announcement?

[2018-05-10 15:52] weirdscience commented on #206
@lachellel We can close this.

[2018-05-11 22:15] weirdscience opened #222 "Fix Links to FPKI-Graph.FPKI-Lab.gov"
#### Description of Issue: ####
The FPKI Graph moved and fpki.idmanagement.gov still references the old link in some spaces.

#### Details of Issue: ####
See Above.

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2018-05-11 22:19] weirdscience commented on #222
#223  to update.

[2018-05-14 17:45] ryancdickson opened #225 "Document macOS/iOS Configurations to Add COMMON as an Enterprise Trusted Root"
#### Description of Issue: ####
This issue will be used to collect various methods for redistributing COMMON across the enterprise as an enterprise trusted root in preparation for its removal from the Apple Trusted Roots program.

#### Details of Issue: ####
[SEE ABOVE]

#### References (Docs, Links, Files): ####
N/A

#### If a New Page or Content is Needed, Expected Outcomes: ####
Material posted

[2018-05-14 17:49] ryancdickson commented on #225
To kick off the discussion, simple bash script pasted below.

#### Usage ####
[code]

#### Output ####
[code]

#### Script ####
[code]

[2018-05-15 16:49] ryancdickson commented on #225
Similarly, an Apple Configuration Profile could be used to distribute COMMON.

#### Sample Profile: ####
[code]

#### Profile Generation Procedure: ####
[code]

Note: Profiles can be signed to offer increased integrity.

#### Profile Deployment: ####
There are five ways to deploy configuration profiles to devices:

- Using Apple Configurator 2 with the device connected via USB
- In an email messag

[2018-05-16 13:34] lachellel opened #226 "System Notification for: Railroad Retirement Board CA (Digicert)"
notice_date: 5/16/2018
change_type:  CA Certificate Revocation
start_datetime:  5/21/2018
end_datetime:
system: Digicert / Verisign / Symantec federal shared service provider
change_description:  The Railroad Retirement Board CA will be retired, and a revocation of the CA certificate will occur on May 21, 2018.
contact: fpki@gsa.gov
ca_certificate_hash:
ca_certificate_issuer: CN=VeriSign SSP Inter

[2018-05-16 19:01] lachellel commented on #222
closed by #224

[2018-05-16 19:01] #222 closed, assigned to weirdscience

[2018-05-16 20:02] weirdscience commented on #220
Testing is complete.

[2018-05-16 20:02] #220 closed, assigned to weirdscience

[2018-05-16 20:03] weirdscience commented on #219
Testing is complete.

[2018-05-16 20:03] #219 closed, assigned to weirdscience

[2018-05-16 20:03] weirdscience commented on #218
Testing is complete.

[2018-05-16 20:03] #218 closed, assigned to weirdscience

[2018-05-16 20:06] weirdscience commented on #206
Testing is complete.

[2018-05-16 20:06] #206 closed, assigned to weirdscience

[2018-05-18 21:38] lachellel commented on #37
Closing

[2018-05-18 23:26] lachellel commented on #226
[update]

notice_date: 5/16/2018
change_type: CA Certificate Revocation
start_datetime: 5/18/2018
end_datetime:
system: Digicert / Verisign / Symantec federal shared service provider
change_description: The Railroad Retirement Board CA was decommissioned and a long-term CRL issued on May 18, 2018
contact: fpki@gsa.gov
ca_certificate_hash:
ca_certificate_issuer: CN=VeriSign SSP Intermediate CA - G3

[2018-05-22 09:36] coolmary opened #229 "System Notification for: <Your Organization>"
#### Description of Issue: ####
Thanks for Telework Applications and Forms courses with the Library of Congress OPM, Military Affairs Military one Sources Departments of Commerce ,Defense ,VHA, DHHS agencies, Score Americorps Subsidiaries DTrade-SSL Certificates Homeland Security Subsidiaries, Listen Serve  Mary Ann Sanford Robinson and Fitzgerald Jerome Robinson

#### Details of Issue: ####

####

[2018-05-22 09:39] coolmary commented on #229
Excellent software and products and services, and Utube videos Google Is Perfect.

[2018-05-22 09:56] coolmary opened #230 "System Notification for: <Your Organization>"
#### Description of Issue: ####

Microsoft office I really appreciate your software and products and services, GitHub keys API with Trumbr and Facebook, Google store id me, Read me common access Card
#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2018-05-22 09:57] coolmary commented on #230
I love you all thanks for helping me with my email, social media.P.S.  Mary Ann Sanford Robinson and Fitzgerald Jerome Robinson

[2018-05-22 12:38] #230 closed

[2018-05-22 12:39] #229 closed

[2018-05-24 14:53] funkmaxwell opened #231 "FPKI AIA webcrawler site is down"
#### Description of Issue: ####
https://fpki-graph.fpki-lab.gov/crawler/
FPKI WebCrawler site produces "This site can't be reached" errors in IE and Chrome.

#### Details of Issue: ####
Seems to be due to timeout error.  Impacts ability to efficiently download cert packages/trust chains cross certified with FBCA.

#### Link to the Content Page for Contributors: ####
https://fpki-graph.fpki-lab.gov

[2018-05-24 14:59] lachellel commented on #231
hi @funkmaxwell

The fpki graph was moved to this github repo, and the fpki playbook site.  Unfortunately the original URL doesn't redirect.

The graph can be found at: https://fpki.idmanagement.gov/tools/fpkigraph/

https://fpki.idmanagement.gov -> Under "Tools" in the left hand navigation -> FPKI Graph

[2018-05-24 15:04] funkmaxwell commented on #231
Thanks @lachellel, do you all still have the consolidated p7b outputs for download as well?

[2018-05-31 00:20] lachellel opened #232 "Add apple trust store removal announcement"
#### Description of Issue: ####
Create the announcement for apple trust store removal

[2018-05-31 12:11] ryancdickson commented on #232
I'll start on this today, pulling verbiage from our past briefings.

[2018-06-06 21:21] weirdscience opened #234 "System Notification for: FPKI Trust Infrastructure FBCA2013 Decommission"
notice_date: Jun 6, 2018
change_type:  CA Decommission
start_datetime: N/A
end_datetime:  N/A
system: FPKIMA Trust Infrastructure
change_description:  Decommission the Federal Bridge CA 2013
contact: fpki@gsa.gov
ca_certificate_hash: 80 39 c3 23 4c 27 2c 80 c6 de 3b 13 0f 72 cc 4f be e1 38 18
ca_certificate_issuer: cn= Federal Bridge 2013, ou= FPKI, o=U.S. Government, c=US
ca_certificate_subject:

[2018-06-07 16:12] ryancdickson opened #235 "Update CT Announcement for Apple's Planned Implementation"
#### Description of Issue: ####
Apple has released details regarding its planned CT implementation. Update existing announcement to include updated Apple verbiage.

#### Details of Issue: ####
[ See above ]

#### References (Docs, Links, Files): ####
https://support.apple.com/en-us/HT205280

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contrib

[2018-06-07 18:13] weirdscience opened #236 "System Notification for: FPKI Trust Infrastructure - Federal Bridge 2016"
notice_date: Jun 7, 2018
change_type:  CA Certificate Issuance
start_datetime: 6/7/2018
end_datetime: 6/7/2021
system: FPKI Trust Infrastructure - Federal Bridge 2016
change_description: New issuance to the SAFE BioPharma Bridge CA 02
contact: FPKI-help@gsa.gov
ca_certificate_hash: ‎5c 65 42 19 97 2b ac 88 7b ea 9f 13 09 eb 9e 05 2f b7 75 7e
ca_certificate_issuer: CN = Federal Bridge CA 2016, OU =

[2018-06-08 21:18] #225 closed, assigned to nobody

[2018-06-08 21:18] #232 closed, assigned to nobody

[2018-06-08 21:18] #216 closed, assigned to nobody

[2018-06-11 19:19] lachellel opened #240 "Monthly Federal PKI Activity Report - add to fpki gov site"
#### Description of Issue: ####
Migrating the Monthly Federal PKI Activity Report from a PDF distributed to listserves, to a web page

#### If a New Page or Content is Needed, Expected Outcomes: ####
New page under Federal PKI Tools

[2018-06-11 19:20] #240 closed, assigned to nobody

[2018-06-13 13:58] weirdscience opened #244 "Trust Store page update to align with current removal announcements"
#### Description of Issue: ####
The FPKI Guide hosts a "Trust Store" page which explains how and where COMMON is trusted in trust stores. COMMON is being removed and this page provides conflicting information.

#### Details of Issue: ####
The Trust Store page provides conflicting information with the latest public trust announcements.

#### References (Docs, Links, Files): ####
https://fpki.idmana

[2018-06-13 14:09] clstmbrly commented on #244
@weirdscience Thanks for putting this out.  An issue was my to-do list:-)

We also need to update the PIV-Guides' Certificate Trust page: https://piv.idmanagement.gov/pivcertchains/

[2018-06-13 17:20] lachellel opened #245 "System Notification for: Certipath Bridge"
notice_date: June 13, 2018
change_type:  CA Certificate Issuance
start_datetime:
system: Certipath Bridge CA
change_description:
contact:
ca_certificate_hash:
ca_certificate_issuer:
ca_certificate_subject:
cdp_uri:
aia_uri:
sia_uri:
ocsp_uri:

************************* Email ************************
Intent to renew the cross certificates from the CertiPath Bridges to Raytheon prior to the end of t

[2018-06-19 18:54] #244 closed, assigned to nobody

[2018-06-20 17:22] weirdscience commented on #217
Updating system notification.

[2018-06-20 17:22] weirdscience commented on #226
Updating system notification.

[2018-06-20 17:22] weirdscience commented on #234
Updating system notification.

[2018-06-20 17:22] weirdscience commented on #236
Updating system notification.

[2018-06-20 17:34] weirdscience commented on #217
Ready to close after #252 merge.

[2018-06-20 17:35] weirdscience commented on #200
Ready to close with #201 merge.

[2018-06-20 17:37] weirdscience commented on #226
Ready to close after #252 merge.

[2018-06-20 17:37] weirdscience commented on #234
Ready to close after #252 merge.

[2018-06-20 17:37] weirdscience commented on #236
Ready to close after #252 merge.

[2018-06-20 17:40] weirdscience opened #253 "Where to request a certificate revocation due to compromise"
#### Description of Issue: ####
There is no readily accessible location to report a certificate compromise.

#### Details of Issue: ####
There should be a readily accessible location to report a certificate compromise.

#### References (Docs, Links, Files): ####
Bridge and Common CP and CPS

#### If a New Page or Content is Needed, Expected Outcomes: ####
The new page or content should say "To rep

[2018-06-20 18:26] weirdscience commented on #217
Added to #201 and closed #252

[2018-06-20 18:26] weirdscience commented on #226
Added to #201 and closed #252

[2018-06-20 18:26] weirdscience commented on #234
Added to #201 and closed #252

[2018-06-20 18:26] weirdscience commented on #236
Added to #201 and closed #252

[2018-06-20 18:26] weirdscience commented on #245
Added to #201 and closed #252

[2018-06-20 19:23] weirdscience opened #257 "Update to FPKI Activity Report"
Update activity report for new issues and incorporate enhancements.
- Added open dropdown list for Affiliates with issues so that an issue is visible rather than buried in a list.
- Added closed dropdown list for Affiliates with no issues.
- Updated certificate activity with latest FPKIMA issuance.

[2018-06-20 20:30] #257 closed, assigned to nobody

[2018-06-21 12:21] #217 closed, assigned to lachellel, djpackham

[2018-06-21 12:21] #226 closed, assigned to nobody

[2018-06-21 12:21] #234 closed, assigned to lachellel, djpackham

[2018-06-21 12:21] #236 closed, assigned to lachellel, djpackham

[2018-06-21 12:21] #245 closed, assigned to nobody

[2018-07-09 15:09] weirdscience opened #270 "20180709 - FPKI Activity Report Update"
Need to update FPKI Activity report for the following:
- Safe BioPharma certificate issued by Federal Bridge CA 2016
- Change Symantec CAs to list under DigiCert
- Update repository availability to include June 2018 reporting

[2018-07-09 15:12] weirdscience commented on #270
Ready to close after #268 merge.

[2018-07-09 15:23] lachellel opened #271 "System Notification for: Certipath Bridge and Air Canada"
notice_date: July 5, 2018
change_type:  CA Certificate Issuance
start_datetime:
end_datetime:
system: CertiPath Bridge CA – G2
change_description:
contact:
ca_certificate_hash:
ca_certificate_issuer:
ca_certificate_subject:
cdp_uri:
aia_uri:
sia_uri:
ocsp_uri:

**From email:**

This is to notify you that the CertiPath Policy Management Authority has approved Air Canada for cross certification with

[2018-07-10 03:12] #270 closed, assigned to nobody

[2018-07-14 07:56] coolmary commented on #253
Excellent Programs and easy to access,programs and keys,thanks so much.

[2018-07-18 13:48] lachellel opened #280 "Microsoft trust store instructions - highlight privileges"
#### Description of Issue: ####
Questions on privileges needed **and** where the commands are run for the re-distribution of Common to a network domain

#### Details of Issue: ####
The instructions state ent admin privileges and domain controller(s).  We should consider highlighting this dependency with an info alert prior to the detailed instructions.

#### References (Docs, Links, Files): ####
h

[2018-07-19 14:59] weirdscience opened #281 "System Notification for: Federal Bridge CA 2016"
notice_date: 7/19/2018
change_type:  CA Certificate Issuance
start_datetime: 7/17/2018
end_datetime: 7/17/2021
system: Federal Bridge CA 2016
change_description: Issue new CA certificate to ORC NFI CA 3
contact: FPKI-Help at gsa.gov
ca_certificate_hash: ‎b6 25 da 07 30 20 16 d2 83 70 23 ba b9 4b 6e 0d 76 fc 2e 45
ca_certificate_issuer: Federal Bridge CA 2016
ca_certificate_subject: ORC NFI CA 3
cd

[2018-07-23 15:49] #281 closed, assigned to nobody

[2018-07-23 16:56] #200 closed, assigned to nobody

[2018-07-23 17:02] lachellel commented on #271
Cross-certificate issued on July 17, 2018

notice_date: July 5, 2018
change_type: CA Certificate Issuance
start_datetime: July 17, 2018
system: CertiPath Bridge
change_description:  A cross-certificate was issued from Certipath Bridge CA-G2 to Air Canada Enterprise Root CA1
contact: support at certipath dot com
ca_certificate_hash:
ca_certificate_issuer: C=US, O=CertiPath LLC, OU=Certification Aut

[2018-07-23 18:26] #271 closed, assigned to nobody

[2018-08-09 13:22] ryancdickson commented on #280
I believe we have addressed this issue in the latest updates to the MSFT Solutions page.

Recommend closure.

[2018-08-09 13:24] ryancdickson commented on #235
Last update: Contacted Apple on 07 August for CT related updates.

[2018-08-09 13:46] ryancdickson commented on #196
CT enforcement now live (in Chrome 68).

Recommend closure of issue.

[2018-08-09 17:23] clstmbrly commented on #196
Update to Chrome CT Announcement in process to state that CT is now live (Chrome 68).

[2018-08-09 17:51] ryancdickson commented on #12
Are we comfortable closing this issue?

[2018-08-09 17:52] ryancdickson commented on #15
Are we comfortable closing this issue?

[2018-08-15 17:11] ryancdickson commented on #231
We have received an additional request to support p7b generation from DC.gov.

[For more information, see email to fpki@gsa.gov from Stephan Papadopulos.]

[2018-08-22 18:15] lachellel opened #306 "System Notification for: Federal PKI Trust Infrastructure (Treasury)"
notice_date: 8/22/2019
change_type:  CA Certificate Issuance
start_datetime: 8/22/2019
system: Federal PKI Trust Infrastructure - Federal Common Policy CA
change_description:  Issuance of a cross-certificate from the Federal Common Policy CA to the US Treasury Root CA will occur in the next two weeks, and the certificate artifact will be published..
contact: fpki@gsa.gov
ca_certificate_hash:
ca_ce

[2018-08-23 12:13] weirdscience opened #307 "System Notification for: FPKI Trust Infrastructure (IdenTrust)"
notice_date: 8/23/18
change_type:  CA Certificate Issuance
start_datetime: 8/21/18
end_datetime: 8/21/21
system: FPKI Trust Infrastructure - Federal Bridge 2016
change_description: CA certificate to IdenTrust Global Common Root CA 1
contact: FPKI at GSA dot Gov
ca_certificate_hash: 05 24 54 75 3d 53 ff 23 76 73 7f a7 79 8e c7 2f ab 82 83 3c
ca_certificate_issuer: CN = Federal Bridge CA 2016, OU =

[2018-08-23 12:16] weirdscience opened #308 "System Notification for: Federal PKI Trust Infrastructure (GSA ACES)"
notice_date: 8/23/18
change_type:  CA Certificate Issuance
start_datetime: 8/21/18
end_datetime: 8/21/21
system: Federal PKI Trust Infrastructure - Federal Bridge 2016
change_description: CA certificate issuance to IdenTrust ACES CA 2
contact: FPKI-help at GSA dot Gov
ca_certificate_hash: ab 97 3a 75 fa 59 4f 5a 97 c5 3e 3c 50 24 4a e0 6c a6 10 a8
ca_certificate_issuer: CN = Federal Bridge CA 2016

[2018-08-23 17:54] lachellel opened #312 "System Notification for: SAFE Biopharma"
notice_date: 8/23/2018
change_type:  CA Certificate Issuance
start_datetime: 8/23/2018
system: SAFE-Biopharma Bridge Certification Authority (NH-ISAC)
change_description: New cross-certificate issued from SAFE-Biopharma Bridge Certification Authority to the Federal Bridge CA 2016
contact: dsimonetti at safe-biopharma dot org
ca_certificate_hash:
ca_certificate_issuer:
ca_certificate_subject:
cdp_u

[2018-08-23 17:54] #307 closed, assigned to nobody

[2018-08-23 17:55] #308 closed, assigned to nobody

[2018-08-30 18:54] davidsimonetti opened #316 "System Notification for: SAFE-BioPharma Bridge"
notice_date: August 30, 2018
change_type:  CA Certificate Issuance
start_datetime:
end_datetime:
system:
change_description: Notification of the SAFE-BioPharma Bridge Certification Authority (SBCA) intent to issue a new cross-certificate to IdenTrust SAFE-BioPharma CA 1
contact: David Simonetti, dsimonetti@safe-biopharma.org
ca_certificate_hash:
ca_certificate_issuer:
ca_certificate_subject:
cdp_u

[2018-08-30 19:05] davidsimonetti commented on #312
ca_certificate_hash:  540c2ac59f8b5bab1b6adf421a7c50f0901e3d54
ca_certificate_issuer: CN = SAFE Bridge CA 02, OU = Certification Authorities, O = SAFE-Biopharma, C = US
ca_certificate_subject: CN = Federal Bridge CA 2016, OU = FPKI, O = U.S. Government, C = US
cdp_uri: http://sbca2.safe-biopharma.org/sbca/SBCA02.crl
aia_uri: http://sbca2.safe-biopharma.org/sbca/issuedtoSBCA02.p7c
sia_uri:  http://

[2018-08-30 19:14] davidsimonetti commented on #316
The new Identrust SAFE-BioPharma CA 1 cross-certification does not introduce multiple paths to a CA already participating in the FPKI.

[2018-09-07 18:19] weirdscience commented on #306
notice_date: 9/7/2018
change_type: CA Certificate Issuance
start_datetime: 8/22/2019
system: Federal PKI Trust Infrastructure - Federal Common Policy CA
change_description: Issuance of a cross-certificate from the Federal Common Policy CA to the US Treasury Root CA.
contact: fpki@gsa.gov
ca_certificate_hash: ‎5a 87 92 2b 5e af 1d 63 19 8a 95 1b 2a b6 f5 9b 2f 16 c1 31
ca_certificate_issuer: CN = F

[2018-09-07 18:46] #306 closed, assigned to nobody

[2018-09-07 23:39] clstmbrly commented on #196
The update to the Chrome CT Announcement (CT now live for Chrome v68) was published on 8/10/18.  Should we close this issue?

[2018-09-10 15:15] clstmbrly commented on #231
@lachellel We recommend that this issue be closed.
@ryancdickson

[2018-09-10 16:27] #231 closed, assigned to nobody

[2018-09-10 16:27] ryancdickson commented on #231
Closing issue. P7B Generation has been deprecated from Crawler code. If folks think this should be reopened, please let me know.

[2018-09-10 16:28] ryancdickson commented on #196
Closing issue.

[2018-09-10 16:28] #196 closed, assigned to nobody

[2018-09-12 16:55] clstmbrly commented on #280
@lachellel This information was added via info-alerts to the latest published MSFT Removal Announcement and MSFT Solutions pages.  Closing this issue.
@ryancdickson

[2018-09-12 17:07] #280 closed, assigned to nobody

[2018-09-12 17:24] clstmbrly commented on #67
The [FPKI Graph](https://fpki.idmanagement.gov/tools/fpkigraph/) is now being updated and published weekly.  Closing issue.
@ryancdickson

[2018-09-12 17:24] #67 closed, assigned to nobody

[2018-09-13 13:01] ryancdickson opened #325 "Repository Availability Table"
@weirdscience

#### Description of Issue: ####
The "Repository Availability" table (https://fpki.idmanagement.gov/tools/fpkiactivityreport/) appears to have two columns for September 2017, and no entry for July 2018. Highlighting this for review.

#### Details of Issue: ####
Please see above.

#### References (Docs, Links, Files): ####
https://fpki.idmanagement.gov/tools/fpkiactivityreport/

####

[2018-09-13 13:13] weirdscience commented on #325
Thanks @ryancdickson. This should fix it.

[2018-09-13 13:14] ryancdickson commented on #325
Awesome, thanks @weirdscience. I'll close!

[2018-09-13 13:14] #325 closed, assigned to nobody

[2018-09-13 16:58] clstmbrly commented on #159
Combining FPKI-Guides' Issue #159 with PIV-Guides' #101 due to similar request.  PIV-Guides is a more applicable location.  Closing FPKI-Guides' #159.

[2018-09-13 16:58] #159 closed, assigned to nobody

[2018-09-13 17:38] clstmbrly commented on #235
Awaiting updated CT implementation details from Apple.

[2018-09-14 14:12] weirdscience opened #330 "Update Affiliate Table Format in FPKIAR"
#### Description of Issue: ####
The community asked if the FPKI activity report affiliate status table could be updated to its original color coded format.

#### Details of Issue: ####
The monthly statistical report included a color coded legend which did not make it into the github page.

#### References (Docs, Links, Files): ####
Activity Report - https://fpki.idmanagement.gov/tools/fpkiactivity

[2018-09-14 15:43] clstmbrly commented on #27
Viable idea for business and partners?  Keep or close?

[2018-09-14 15:51] clstmbrly commented on #26
@weirdscience Should this Issue (2016) be closed?  Thanks much.

[2018-09-14 19:32] weirdscience commented on #26
I converted the guide, but never got around to loading it. Should I load it somewhere?

[2018-10-01 19:02] weirdscience opened #337 "Update FPKIAR for Sept Repo Availability"
#### Description of Issue: ####
Update FPKIAR for Sept Repo Availability

#### Details of Issue: ####

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####

#### Link to the Content Page for Contributors: ####

[2018-10-02 16:05] #337 closed, assigned to weirdscience

[2018-10-02 16:18] weirdscience commented on #330
@djpackham can you see why the sidebar turns blue with the updated html tables?

https://federalist-proxy.app.cloud.gov/preview/gsa/fpki-guides/fpkiar-html-tables/tools/fpkiactivityreport/

[2018-10-04 14:38] lachellel commented on #316
@davidsimonetti any info on this cert?

I can crawl the SIAs if they are published...

[2018-10-04 15:15] #312 closed, assigned to nobody

[2018-10-04 15:16] davidsimonetti commented on #316
They have not been generated nor issued yet.  We’re working through legal issues between entities, not technical, but we should come to a mutual agreement soon.

Regards,

David Simonetti

[2018-11-01 19:28] weirdscience commented on #330
@ryancdickson thanks for the help on this. You can close you table-test branch.

[2018-11-15 14:18] lachellel opened #356 "System Notification for: Entrust PKI Shared Service Providers"
**Notice:**
On Friday 11/16/2018 at 12:00 PM CDT, Entrust Datacard will be performing a service enhancement of the OCSP services.

A new IP will need to be added to any existing network rules for the following DNS Names:
ocsp.managed.entrust.com
ocspproofs.managed.entrust.com
nfiocsp.managed.entrust.com
doesspocsp.managed.entrust.com
hhspkiocsp.managed.entrust.com
feddcsocsp.managed.entrust.com

*

[2018-11-15 14:28] #356 closed, assigned to nobody

[2018-11-18 19:55] #330 closed, assigned to weirdscience

[2018-11-19 19:18] weirdscience opened #362 "Fix Activity Report Color Palette"
Color palette for FPKI Activity Report does not match the rest of the guide.

[2018-11-19 19:33] #362 closed, assigned to nobody

[2018-11-19 20:55] weirdscience commented on #26
I created a branch and loaded the CITE guide.

[2018-11-20 15:25] lachellel opened #365 "System Notification for: Verizon SSP CA A2"
notice_date: November 20, 2018
change_type:  CA Certificate Issuance
start_datetime:
system: FPKI Trust Infrastructure - Federal Common Policy CA
change_description:  Issuance of a modified subordinate CA certificate from the Federal Common Policy CA to the Verizon SSP CA A2.  The modification will add a new policy object identifier.
contact: fpki dash help at GSA dot gov
ca_certificate_hash:
ca_c

[2018-11-26 13:58] ryancdickson opened #367 "System Notification for: Entrust Datacard Cloud Services"
notice_date: November 23, 2018
change_type: System Outage
start_datetime: December 1, 2018 5:00 AM Central
end_datetime: December 1, 2018 5:00 PM Central
system: Admin Services (UMS, URS, CSRES, MDM Web Services, SCEP, CES), Derived Credentials, Managed CA’s, IDG
change_description: Entrust Datacard Cloud Services is performing scheduled maintenance.
This includes: Infrastructure, Windows & RHEL O

[2018-11-26 14:23] #367 closed, assigned to nobody

[2018-11-29 18:13] ashafiqiaf opened #369 "Federal PKI root"
#### Description of Issue: ####
I have applied the GPO as explain in the guide and I have also imported the certificate manually but I do not see the other two certificates. Not under " Trusted Root Authority" and neither under "Enterprise" sub-directory.

#### Details of Issue: ####
11/29/2018

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes:

[2018-11-30 16:13] ryancdickson commented on #369
Issue resolved via email, following up here for record:

There are two additional ways you can verify COMMON's redistribution on an end-point, presented below. To be sure your GPO is working as expected, I'd recommend checking a few hosts using one of these options.

**Option 1: Viewing the Physical Stores within Microsoft Certificate Manager**

- Click the Windows Start icon, type certlm.msc, and

[2018-11-30 16:13] #369 closed, assigned to nobody

[2018-12-03 17:28] weirdscience opened #370 "November 2018 Update for FPKI Activity Report"
Update FPKI Activity Report for November 2018 activity.

[2018-12-03 17:35] #370 closed, assigned to nobody

[2018-12-11 14:36] lachellel commented on #365
@weirdscience does this CA cert mod have an update (timeline)?

[2018-12-11 16:50] lachellel opened #377 "System Notification for: DigiCert Federal SSP Intermediate CA - G5"
notice_date: December 11, 2018
change_type: CA Certificate Issuance
start_datetime:
system: FPKI Trust Infrastructure - Federal Common Policy CA
change_description: Issuance of a new CA certificate from the Federal Common Policy CA to Digicert Federal SSP Intermediate CA - G5. This CA certificate is new but intended as a rekey for the Symantec SSP Intermediate CA – G4 CA certificate.
contact: fpki

[2018-12-11 20:02] weirdscience commented on #365
Issued this week and waiting for acceptance from Verizon.

[2018-12-12 21:40] #365 closed, assigned to nobody

[2018-12-19 16:44] davidsimonetti commented on #316
notice_date: December 19, 2018
change_type: CA Certificate Issuance
start_datetime: December 19, 2018
end_datetime:
system: SAFE-BioPharma Bridge CA
change_description: A cross-certificate was issued to IdenTrust SAFE-BioPharma CA 1
contact: dsimonetti@safe-biopharma.org
ca_certificate_hash: 245f753f8a315a83bd0be8cf70833503f99fd2d2
ca_certificate_issuer: CN = SAFE Bridge CA 02, OU = Certification

[2018-12-19 17:17] #377 closed, assigned to nobody

[2018-12-20 19:29] #316 closed, assigned to nobody

[2018-12-22 21:43] DanielVF opened #384 "Why is Alexion Pharmaceuticals showing as the root cert for many .mil sites?"
Why is Alexion Pharmaceuticals showing as the root cert for many .mil sites? Is this intentional?

![image](https://user-images.githubusercontent.com/837/50378809-b05e8400-0608-11e9-96c7-f71b452c5a06.png)

[2018-12-22 22:47] grandamp commented on #384
It depends.

Was this path built through a web browser (or user agent) during a TLS session?  If so, which one?

Or, are you observing a possible path?

There are *many* possible paths, to all CAs within the FPKI, via FBCA2016.

[2018-12-23 17:59] DanielVF commented on #384
This was from the latest Chrome. I've checked around with some friends and they are seeing it as well.

After reading up on cross signing, the tech side makes sense. It just looks strange!

[2018-12-23 17:59] #384 closed, assigned to nobody

[2019-01-10 20:01] weirdscience commented on #26
A CITE Guide update was assigned as an action at the last TWG. The MA team is working on a first draft.

[2019-01-25 18:04] weirdscience opened #389 "CITE Guide Update - Treasury Comments"
- [x] 3. (in general): Are these normative requirements, or, are there informative statements included?
a. I.e., 3(b):  “All CAs must have the name “Test” in the Distinguished Names (DNs)…”
b. All of Treasury’s development CAs (cross-certified with CITE, inclusive of SSP customers) have “Development” in the issuer name.
c. This will not be changing anytime soon.
d. This would appear to suggest tha

[2019-01-25 18:06] weirdscience commented on #389
Corrected your 3 question in the doc @grandamp . The intent is for CAs to be distinctly marked in a way you can tell it is a test/dev CA.

[2019-01-28 15:18] grandamp commented on #389
Thanks!

[2019-01-28 18:38] lachellel commented on #235
@ryancdickson can this be closed?

[2019-01-28 18:45] ryancdickson commented on #235
Given that COMMON will not face CT enforcement due to its removal from the Apple certificate stores, I think we are safe to close.

[2019-01-28 18:45] #235 closed, assigned to ryancdickson

[2019-01-28 18:50] lachellel commented on #199
Update:

- Search is covered in the www.idmanagement.gov site for search + results
- Leverages search dot gov
- There are also updates in design templates for jekyll - https://github.com/18F/uswds-jekyll#search

Backlog issue to be created to consider applying updated templates and best practices from uswds.  The current template in use is **old**.

[2019-02-04 19:02] ryancdickson opened #394 "System Notification for: TSCP"
notice_date: February 4, 2019
change_type:  CA Certificate Issuance
start_datetime: Wednesday, ‎January ‎23, ‎2019 7:00:00 PM
system: TSCP SHA256 Bridge CA
change_description: Issuance of a cross-certificate to Alexion Pharmaceuticals, Inc
contact: steve.race at tscp dot org
ca_certificate_hash: 692a53fa725e5581a5b1db1c3d7b27e6feb9cae8
ca_certificate_issuer: CN = TSCP SHA256 Bridge CA, OU = CAs, O

[2019-02-06 19:05] weirdscience opened #396 "Update FPKI Activity Report for Feb 2019"
Update

[2019-02-06 20:04] #396 closed, assigned to nobody

[2019-02-11 23:06] lachellel opened #401 "System Notification for: STRAC Bridge CA"
notice_date: February 11, 2019
change_type:  CA Certificate Issuance
start_datetime:
system: FPKI Trust Infrastructure - Federal Bridge 2016
change_description: New cross-certificate issued from Federal Bridge CA 2016 to STRAC Bridge Root Certification Authority
contact: fpki at gsa dot gov
ca_certificate_hash:
ca_certificate_issuer:
ca_certificate_subject:
cdp_uri:
aia_uri:
sia_uri:
ocsp_uri:

[2019-02-12 22:08] weirdscience opened #403 "System Notification for: FPKI Trust Infrastructure - Federal Common Policy"
notice_date: February 12, 2019
change_type:  CA Certificate Revocation
start_datetime: December 9, 2010
end_datetime: December 9, 2020
system: FPKI Trust Infrastructure - Federal Common Policy CA
change_description: Revocation of the Verizon Betrusted Production SSP CA A1
contact: FPKI dash help at gsa dot gov
ca_certificate_hash: ‎06 01 bb da d5 a2 82 31 bc 94 36 75 0b 4f 3a 48 4b ab 06 c3
ca_cer

[2019-02-13 12:54] ryancdickson opened #405 "System Notification for: TSCP (issuance to Fortior Solutions, Inc.)"
notice_date: January 3, 2019
change_type: CA Certificate Issuance
start_datetime: ‎Monday, ‎February ‎11, ‎2019 7:00:00 PM
system: TSCP SHA256 Bridge CA
change_description: Issuance of a cross-certificate to Fortior Solutions, Inc.
contact: steve.race at tscp dot org
ca_certificate_hash: aebdf407b44afd431d8364012e096aea2a32a55d
ca_certificate_issuer: CN = TSCP SHA256 Bridge CA, OU = CAs, O = TSCP

[2019-02-13 13:01] ryancdickson opened #406 "System Notification for: Fortior Solutions, Inc. (issuance to TSCP)"
notice_date: January 3, 2019
change_type: CA Certificate Issuance
start_datetime: ‎Monday, ‎February ‎11, ‎2019 7:00:00 PM
system: Fortior Solutions Intermediate CA 2018
change_description: Issuance of a cross-certificate to TSCP Bridge
contact: steve.race at tscp dot org
ca_certificate_hash:  dc4b77d79b815187f5e0e73d13f6fe41cab86fab
ca_certificate_issuer:  CN = Fortior Solutions Intermediate CA 2

[2019-02-13 19:26] weirdscience opened #407 "System Notification for: DigiCert Federated ID L3 CA"
notice_date: February 11, 2019
change_type: CA Certificate Issuance
start_datetime:
system: FPKI Trust Infrastructure - Federal Bridge 2016
change_description: New cross-certificate issued from Federal Bridge CA 2016 to DigiCert Federated ID L3 CA
contact: fpki at gsa dot gov
ca_certificate_hash:
ca_certificate_issuer:
ca_certificate_subject:
cdp_uri:
aia_uri:
sia_uri:
ocsp_uri:

[2019-02-13 19:28] weirdscience opened #408 "System Notification for: DigiCert Federated ID"
notice_date: February 11, 2019
change_type: CA Certificate Revocation
system: FPKI Trust Infrastructure - Federal Bridge 2016
change_description: Revocation of the certificate issued from the Federal Bridge CA 2016 to the DigiCert Federated ID CA-1
contact: fpki at gsa dot gov
ca_certificate_hash:‎ e8 0b dd c6 1e d8 c4 3a d0 95 fc 94 62 17 be 45 bd d3 47 c1
ca_certificate_issuer: Federal Bridge CA

[2019-02-14 21:30] ryancdickson opened #411 "System Notification for: DigiCert Federal SSP Intermediate CA - G5 (issuance to NRC SSP Agency CA G4)"
notice_date: February 13, 2019
change_type: CA Certificate Issuance
start_datetime: December 18, 2018
system: DigiCert Federal SSP Intermediate CA - G5
change_description: Certificate issuance to NRC SSP Agency CA G4
contact: steve dot medin at digicert dot com
ca_certificate_hash: 1a03581dcf159d206accd7bdd176c788a0862353
ca_certificate_issuer: CN = DigiCert Federal SSP Intermediate CA - G5, O = D

[2019-02-14 21:31] ryancdickson opened #412 "System Notification for: DigiCert Federal SSP Intermediate CA - G5 (issuance to NRC SSP Device CA G4)"
notice_date: February 13, 2019
change_type: CA Certificate Issuance
start_datetime: December 18, 2018
system: DigiCert Federal SSP Intermediate CA - G5
change_description: Certificate issuance to NRC SSP Device CA G4
contact: steve dot medin at digicert dot com
ca_certificate_hash: 81f4fdb9f5dca2940416d483f011111984116ba9
ca_certificate_issuer: CN = DigiCert Federal SSP Intermediate CA - G5, O = D

[2019-02-14 21:44] #389 closed, assigned to nobody

[2019-02-15 13:06] weirdscience commented on #401
The certificate has been issued

notice_date: February 15, 2019
change_type: CA Certificate Issuance
start_datetime: February 14, 2019
system: FPKI Trust Infrastructure - Federal Bridge 2016
change_description: New cross-certificate issued from Federal Bridge CA 2016 to STRAC Bridge Root Certification Authority
contact: fpki at gsa dot gov
ca_certificate_hash: ‎1f 92 eb 36 54 f6 0a 90 92 81 1f 79

[2019-02-21 17:53] ryancdickson opened #415 "System Notification for: CertiPath Bridge"
notice_date: February 20, 2019
change_type:  CA Certificate Issuance
start_datetime:
end_datetime:
system: CertiPath Bridge
change_description: CertiPath intends to reissue cross-certificates from the CertiPath Bridge CA G2 to Carillon, NextgenID, and Northrop Grumman prior to the end of this month. No changes are being made to certificate policies or policy mappings. After testing and vetting, ne

[2019-02-21 18:02] ryancdickson commented on #401
Closing issue. If done in error, please let me know.

[2019-02-21 18:02] #401 closed, assigned to nobody

[2019-02-21 18:03] ryancdickson commented on #394
Closing issue. Published to https://fpki.idmanagement.gov/notifications/#notifications.

[2019-02-21 18:03] #394 closed, assigned to nobody

[2019-02-21 18:19] ryancdickson commented on #403
Will close issue upon revocation event.

As of 2/21/19, certificate still appears valid.

[2019-02-21 18:21] ryancdickson commented on #405
Closing issue - added to https://fpki.idmanagement.gov/notifications/#notifications

[2019-02-21 18:21] #405 closed, assigned to nobody

[2019-02-21 18:22] ryancdickson commented on #406
Closing issue - published to https://fpki.idmanagement.gov/notifications/#notifications

[2019-02-21 18:22] #406 closed, assigned to nobody

[2019-02-21 18:23] ryancdickson commented on #411
Closing issue - published to https://fpki.idmanagement.gov/notifications/#notifications

[2019-02-21 18:23] #411 closed, assigned to nobody

[2019-02-21 18:23] ryancdickson commented on #412
Closing issue - published to https://fpki.idmanagement.gov/notifications/#notifications

[2019-02-21 18:23] #412 closed, assigned to nobody

[2019-02-21 18:24] weirdscience opened #416 "System Notification for: STRAC to FBCA2016 CA Issuance"
notice_date: February 21, 2019
change_type:  CA Certificate Issuance
start_datetime: February 20, 2019
end_datetime: February 19, 2022
system: STRAC Bridge Root Certification Authority
change_description: New cross-certificate issued from STRAC Bridge Root Certification Authority to Federal Bridge 2016
contact: pki at strac dot org
ca_certificate_hash: EE02BDB684AB4714C5F25300C41C5B8F328B0CD9
ca_c

[2019-02-21 18:26] ryancdickson commented on #416
@weirdscience - I'm working on an update now - would you like me to add this?

[2019-02-23 02:57] weirdscience commented on #416
Yes please.

Kenneth Myers
Senior Manager
Protiviti Government Services
+1.571.366.6120 Desk
1640 King Street | Suite #400 | Alexandria | VA 22314 US | ProtivitiGovernmentServices.com
________________________________
From: ryancdickson <notifications@github.com>
Sent: Thursday, February 21, 2019 1:26:35 PM
To: GSA/fpki-guides
Cc: Myers, Kenneth (10421); Mention
Subject: Re: [GSA/fpki-guides] Syste

[2019-02-25 21:33] #416 closed, assigned to nobody

[2019-02-28 17:10] ryancdickson opened #421 "System Notification for: Treasury"
notice_date: 2/26/2019
change_type:  CA Certificate Issuance
start_datetime: 4/7/2019
end_datetime: 4/7/2019
system: US Treasury Root CA
change_description: Treasury intends to re-key ou=OCIO CA, ou=Certification Authorities, ou=Department of the Treasury, o=U.S. Government, c=US and ou=Social Security Administration Certification Authority, ou=SSA, o=U.S. Government, c=US on 4/7/2019. Certificate

[2019-02-28 17:23] weirdscience opened #422 "Federal PKI Activity Report Updates for February 2019"
- Add certificate activity
- Update repository availability table

[2019-02-28 17:27] weirdscience opened #423 "Certificate Policy Update | Federal Common Policy CP v1.31 February 8th, 2019"
A new version of the Federal Common Policy CP was published on February 8th, 2019. This version 1.31 incorporates the following changes:

1. Change Request 2018-07: Remove the common-publictrusted-serverAuth certificate policy and
associated requirements effective as of February 8, 2019
2. Change Request 2018-08: Permit retention of private signing key(s) following CA termination effective as of F

[2019-02-28 17:27] #423 closed, assigned to nobody

[2019-02-28 17:55] ryancdickson opened #424 "System Notification for: CertiPath Bridge (multiple certificates issued)"
- notice_date: February 28, 2019
  change_type: CA Certificate Issuance
  start_datetime: February 25, 2019
  end_datetime: February 29, 2020
  system: CertiPath Bridge
  change_description: Issuance of cross-certificate from CertiPath Bridge CA - G2 to CISRCA1
  ca_certificate_hash: EB23C015A0B4037738D54A088A653498D394F050
  ca_certificate_issuer: CN = CertiPath Bridge CA - G2, OU = Certification

[2019-02-28 17:55] #415 closed, assigned to nobody

[2019-03-05 19:50] #403 closed, assigned to nobody

[2019-03-06 05:23] #407 closed, assigned to nobody

[2019-03-06 05:23] #408 closed, assigned to nobody

[2019-03-06 16:10] ryancdickson commented on #424
Merged to live site.

[2019-03-06 16:10] #424 closed, assigned to nobody

[2019-03-06 16:17] ryancdickson opened #432 "System Notification for: DigiCert (Issuance of U.S. Department of Transportation Agency CA G5)"
notice_date: March 6, 2019
change_type:  CA Certificate Issuance
start_datetime: March 4, 2019
end_datetime:  December 12, 2028
system: DigiCert Federal SSP Intermediate CA - G5
change_description: DigiCert Federal SSP Intermediate CA - G5 issued a certificate to U.S. Department of Transportation Agency CA G5.
contact: steve dot medin at digicert dot com
ca_certificate_hash: b1d05e5b9e025ea4b3b3e3

[2019-03-06 16:21] ryancdickson opened #433 "System Notification for: DigiCert (Issuance of U.S. Department of Transportation Device CA G5)"
change_type:  CA Certificate Issuance
start_datetime: March 4, 2019
end_datetime:  December 12, 2028
system: DigiCert Federal SSP Intermediate CA - G5
change_description: DigiCert Federal SSP Intermediate CA - G5 issued a certificate to U.S. Department of Transportation Device CA G5.
contact: steve dot medin at digicert dot com
ca_certificate_hash:  263a035b50fc26368dd9a38894764b3f3592fb17
ca_cert

[2019-03-08 14:06] #422 closed, assigned to nobody

[2019-03-08 14:22] weirdscience opened #435 "Guide Update Notification Method For Specific Types of Changes"
#### Description of Issue: ####
The only way to get FPKI Guide updates is by watching the repo. This provides all commit and issue updates, but what if users only want to get updates for system notifications or other specific types of updates. Not all users have or want a github account and an option outside of Github should be considered.

#### Details of Issue: ####
The only guide update method

[2019-03-08 15:14] weirdscience commented on #435
@ryancdickson any ideas on this?

[2019-03-08 15:26] weirdscience commented on #253
@lachellel this came up a couple months ago during our audit. There's no central place for someone to report compromises or mis-issuances to the policy authority. I think It might need a page, but this is a start. What do you think?

Trying to knock out some issues :1st_place_medal:

[2019-03-08 17:40] ryancdickson commented on #435
Top of mind:
- RSS Feed
- Listserv/Google Group ("sign up if you want to receive these types of alerts")

I'll think about this more.

[2019-03-11 20:31] #433 closed, assigned to nobody

[2019-03-11 20:31] #432 closed, assigned to nobody

[2019-03-13 23:20] lachellel opened #439 "System Notification for: DigiCert Shared Service Provider"
We need to add this from DigiCert teams: https://knowledge.digicert.com/generalinformation/digicert-symantec-managed-pki-data-center-migration-information-.html

notice_date: February 11, 2019
change_type:  URI Change (IP addresses)
start_datetime: April 6, 2019
end_datetime: April 7, 2019
system:
change_description:
contact:
ca_certificate_hash:
ca_certificate_issuer:
ca_certificate_subject:
cdp_

[2019-03-14 14:01] ryancdickson commented on #439
@lachellel - I'll create the announcement this morning.

[2019-03-28 15:15] ryancdickson opened #446 "System Notification for: DigiCert (Intent to Decommission Multiple CAs)"
change_type: Intent to Decommission Multiple CAs
notice_date: March 25, 2019
start_datetime:
end_datetime:
system: Symantec Class 3 SSP Intermediate CA - G3 (managed by DigiCert)
change_description: DigiCert is planning to decommission several CAs chaining to Symantec Class 3 SSP Intermediate CA - G3. Any remaining active certificates issued from the CAs listed below will be revoked before CA deco

[2019-04-02 16:55] weirdscience opened #451 "Federal PKI Activity Report Updates for March 2019"

[2019-04-02 16:58] weirdscience opened #452 "System Notification for: FPKIMA - Revoke Verizon SSP CA A2"
notice_date: April 2, 2019
change_type:  CA Certificate Revocation
start_datetime: April 2, 2019
end_datetime: April 2, 2019
system: Federal Common Policy CA
change_description: The Verizon SSP CA A2 was issued a new CA certificate and the old one was revoked.
contact: fpki dash help at gsa dot gov
ca_certificate_hash:  a9d3a8ac016dba9fa12685bf59dcc39f5dcaf781
ca_certificate_issuer: Federal Common

[2019-04-02 17:11] weirdscience opened #453 "System Notification for: FPKIMA Issuance to Treasury SSP"
notice_date:  April 2, 2019
change_type:  CA Certificate Issuance
start_datetime:  April 2, 2019
end_datetime:  April 2, 2022
system:  Federal Common Policy CA
change_description:  CA certificate issuance from Federal Common Policy CA to Treasury Root CA
contact:  fpki dash help at gsa dot gov
ca_certificate_hash: fa392ea2972eb4edd1929932602a1909ac9558bc
ca_certificate_issuer: Federal Common Polic

[2019-04-03 12:05] ryancdickson commented on #439
Published to site. Closing issue.

[2019-04-03 12:05] #439 closed, assigned to nobody

[2019-04-04 21:43] weirdscience commented on #26
fixed by #409

[2019-04-04 21:43] #26 closed, assigned to weirdscience

[2019-04-12 17:23] weirdscience opened #462 "System Notification for: FPKI Management Authority CDN Implementation"
notice_date: April 12, 2019
change_type:  Infrastructure Change
start_datetime: On or around April 22, 2019
system: Federal PKI Trust Infrastructure
change_description: The FPKIMA is implementing a Content Delivery Network for HTTP artifacts of the FBCA, FCPCA, SHA1FRCA, and the soon to be commissioned TLS Root CA. The HTTP artifacts include certificate revocation lists, certificates, and certific

[2019-04-15 12:48] lachellel commented on #451
#457

[2019-04-15 12:48] #451 closed, assigned to nobody

[2019-04-15 17:15] ryancdickson commented on #446
Update: Revocation still pending. Leaving issue open.

[2019-04-15 17:47] ryancdickson commented on #421
Issuance for ou=OCIO CA, ou=Certification Authorities, ou=Department of the Treasury, o=U.S. Government, c=US is delayed until 6/29/2019. Reminder created for this on team calendar.

SSA issued on 4/7.

notice_date: 4/7/2019
change_type: CA Certificate Issuance
start_datetime: 4/7/2019
end_datetime: 4/7/2019
system: US Treasury Root CA
change_description: Treasury re-keyed ou=Social Security Admin

[2019-04-15 17:47] #421 closed, assigned to nobody

[2019-04-15 17:48] ryancdickson commented on #452
Included update in notification-update-04152019 (branch), PR #464.

[2019-04-15 17:48] #452 closed, assigned to nobody

[2019-04-15 17:48] ryancdickson commented on #453
Included update in notification-update-04152019 (branch), PR #464.

[2019-04-15 17:48] #453 closed, assigned to nobody

[2019-04-15 17:48] ryancdickson commented on #462
Included update in notification-update-04152019 (branch), PR #464.

[2019-04-15 17:48] #462 closed, assigned to nobody

[2019-04-22 11:50] ryancdickson opened #466 "System Notification for: Department of Homeland Security"
notice_date: April 20, 2019
change_type: Intent to Perform CA Certificate Issuance
start_datetime: June 29, 2019
system: Department of Homeland Security Certification Authority (DHSCA)
change_description: DHS intends to re-key the DHSCA on 6/29/2019. Certificates will be available following the key update at https://pki.treasury.gov/crl_certs.htm.
contact:  gladys dot garcia at hq dot dhs dot gov

[2019-04-22 14:20] weirdscience opened #468 "Round 2 CTL Testing: NASA Results"
Preliminary Results – Windows 10 1709:

- OS version
  - Windows 10 1709 – NASA Managed / NDC Domain
- Browser versions
  - IE 11.904.16299
  - Edge
  - Chrome 73.0.3683
- Steps used to test
  - Followed instructions
  - Sites tested:
    - NOCA Protected - https://newlondon.arc.nasa.gov/
    - Treasury OCIO Protected – https://pki.treasury.gov/
    - DoD - https://ako.us.army.mil/ [Wee trust the

[2019-04-22 14:29] weirdscience opened #469 "Update Microsoft CTL Testing Instructions"
Updated instructions for next round of Microsoft CTL Testing.

[2019-04-22 14:41] weirdscience opened #472 "Round 2 CTL Testing: GSA FPKIMA Results"
- OS version
  - Windows 10 Pro 1809 64-bit
- Browser versions (64-bit)
  - Edge 44.17763.1.0
  - Chrome 73.0.3683.103
- Steps used to test
  - Followed instructions at https://github.com/GSA/fpki-guides/blob/updated-ctl-testing/pages/ms_constraint_test_procedures.md
  - Did not test GPO distribution method. Installed Common Policy manually into Trusted Root Authorities store.
- Sites tested:
  -

[2019-04-22 15:11] weirdscience commented on #253
This has moved to an idmangement.gov update.

[2019-04-22 15:11] #253 closed, assigned to nobody

[2019-04-26 15:40] lachellel opened #473 "System Notification for: Verizon Non-Federal Issuer CAs"
Verizon will be decommissioning the following CAs approximately July 2019.  Any valid end entity certificates will be revoked; the CAs will be decommissioned and archived; and then the CA certificate from the Federal Bridge CA will be revoked.

CA CNs:
- CN=CT-CSSP-CA-A1
- CN=Trans Sped Mobile QCA
- CN=VZ-SMC-CA-B2

More details on the exact dates will be added / updated in June 2019.

***********

[2019-04-26 17:17] ryancdickson opened #474 "System Notification for: CertiPath (multiple certificates issued)"
This is notification that the routine renewal of the cross certificates to Boeing, Lockheed Martin, and Federal Bridge CA 2016 have been completed.

The certificates will soon be published to the CertiPath Bridge CA - G2 SIA location:  http://certipath-sia.symauth.com/IssuedBy-CertiPathBridgeCA-G2.p7c

Federal Bridge CA 2016
Issued By: CertiPath Bridge CA - G2 Certification Authority
April 21, 201

[2019-04-26 18:02] #469 closed, assigned to nobody

[2019-04-29 14:52] ryancdickson commented on #474
Added to #476.

[2019-04-29 14:52] #474 closed, assigned to ryancdickson

[2019-04-29 14:57] weirdscience opened #477 "System Notification for: Federal PKI Trust Infrastructure CDN Implementation"
notice_date: April 29, 2019
change_type:  Infrastructure Change
start_datetime: April 29, 2019
system: FPKI Trust Infrastructure
change_description: The Federal Public Key Infrastructure Management Authority has completed its implemention of a Content Delivery Network for HyperText Transfer Protocol (HTTP) artifacts of the Federal Bridge CA 2016, Federal Common Policy CA, and SHA1 Federal Root CA.

[2019-05-06 14:12] ryancdickson opened #478 "System Notification for: Treasury (issuance to NASA Operational CA)"
- notice_date: May 6, 2019
  change_type: CA Certificate Issuance
  start_datetime: May 4, 2019
  system: US Treasury Root CA
  change_description: Treasury re-keyed the NASA Operational Certification Authority.
  contact: pki dot pmo at fiscal dot treasury dot gov.
  ca_certificate_hash: f504012b1fe57b4381e3bf5ba9f491144ed76ee1
  ca_certificate_issuer: OU = US Treasury Root CA, OU = Certification

[2019-05-06 14:17] weirdscience commented on #435
This came up during help desk ticket resolution. Two agencies asked if there was a system notification service for changes in the FPKI. They were only interested in system notification updates and not all updates.

[2019-05-06 14:49] ryancdickson commented on #478
Added to #479.

[2019-05-06 14:49] #478 closed, assigned to nobody

[2019-05-06 14:50] ryancdickson commented on #477
Added to #479.

[2019-05-06 14:50] #477 closed, assigned to nobody

[2019-05-09 15:26] davidsimonetti opened #482 "System Notification for: SAFE-BioPharma"
notice_date: May 9, 2019
change_type:  Planned Infrastructure Change
start_datetime: July 1, 2019
end_datetime:
system: SAFE-BioPharma
change_description: Synchronoss has informed SAFE-BioPharma that it will decommission the Zentry Certificate Authority that is currently cross-certified with the SAFE-BioPharma Bridge CA on July 1, 2019.  Synchronoss will perform the following actions on this date:

[2019-05-09 16:21] weirdscience opened #483 "Round 2 CTL Testing: DHS Results"
DHS performed the CTL testing described below, and my results are as follows:
·         OS: Windows 10 Enterprise, build 1809
·         Browser Versions: IE11 & Edge
·         Steps used:

o   All steps on the FPKI web site, up to and including 2.g.  Edge browser was opened as advised in step 2.f in order to update the registry entries. The resulting postAuthRootDetail.txt file did not contain ANY

[2019-05-09 16:26] lachellel commented on #482
thanks @davidsimonetti  - we'll get this notice published.

[2019-05-09 16:28] weirdscience commented on #468
Testing is closed.

[2019-05-09 16:28] #468 closed, assigned to nobody

[2019-05-09 16:28] weirdscience commented on #472
Testing is closed.

[2019-05-09 16:28] #472 closed, assigned to nobody

[2019-05-09 16:29] weirdscience commented on #483
Testing has completed.

[2019-05-09 16:29] #483 closed, assigned to nobody

[2019-05-15 18:37] weirdscience opened #486 "System Notification for: FPKIMA - Revoke ORC SSP 3 CA"
notice_date: May 15, 2019
change_type:  CA Certificate Revocation
system: Federal PKI Trust Infrastructure - Federal Common Policy CA
change_description: WidePoint has decommissioned the ORC SSP 3 CA and requested the certificate from the Federal Common Policy CA be revoked.
contact: fpki dash help at gsa dot gov
ca_certificate_hash: BBFA5ABD8A09D73BE1FA30363F87402FEC5316F9
ca_certificate_issuer:

[2019-05-16 20:54] weirdscience opened #487 "FPKIMA Newsletter 2019Q2"
Good afternoon everyone,

The GSA Federal PKI Management Authority (FPKIMA) is proud to share its latest quarterly newsletter. This issue focuses on the Federal Bridge PKI and the value from it’s PKI bridge partners and other news from around the Federal PKI. Archive copies of previous FPKIMA newsletters are available on http://go.usa.gov/xnraJ

Current issue available at  https://go.usa.gov/xmpfV

[2019-05-16 20:54] #487 closed, assigned to nobody

[2019-05-23 13:30] weirdscience commented on #28
@lachellel, I'm looking over old issues. The mapping table links are no longer active and this may be an FPKI audit playbook based on the annual review requirements. Are the annual review requirements scheduled to be converted at some point?

[2019-05-23 13:37] weirdscience commented on #30
Transferred to PIV Guide as an issue.

[2019-05-23 13:37] #30 closed, assigned to nobody

[2019-05-23 13:58] weirdscience commented on #4
I'll transfer comments to #19 and close this issue.

[2019-05-23 13:58] #4 closed, assigned to nobody

[2019-05-23 14:00] weirdscience commented on #19
Comments from duplicate issue.

Some guidance here: https://https.cio.gov/certificates/ Though it touches on some topics beyond best practices for device certificates.

There are two different use cases:
1. Public Trust SSL
2. Network (intranet) devices which include many more endpoints and non-http protocols and devices
So you're right eric - we should link to the https.cio.gov site for the web p

[2019-05-31 18:41] #482 closed, assigned to nobody

[2019-05-31 19:20] #486 closed, assigned to nobody

[2019-06-03 14:05] ryancdickson opened #493 "System Notification for: ECA Root CA 4"
ECA Root CA 4 issued certificates to two new CAs (IdenTrust ECA S22 CA and IdenTrust ECA S22 CAC). I'll add these into the weekly update.

 - notice_date: June 3, 2019
  change_type: CA Certificate Issuance
  start_datetime:  May 7, 2019
  system: ECA Root CA 4
  change_description: ECA Root CA 4 issued a certificate to the IdenTrust ECA S22 CA
  contact: disa dot meade dot mae dot list dot pkieca

[2019-06-03 18:27] lachellel commented on #466
See #495
DHS intends to re-key the DHSCA on 6/6/2019

[2019-06-03 18:29] #493 closed, assigned to ryancdickson

[2019-06-04 22:54] weirdscience opened #497 "Federal PKI Activity Report for May 2019"

[2019-06-06 12:44] ryancdickson commented on #466
Re-key successful.

New certificate details:
Validity: June 6, 2019, 7:11 a.m. - June 6, 2029, 7:41 a.m.
Serial #: 5CCB31CA
SHA1: 58085A64E181573F4FD917C5C021EB1CF344DD5F
SHA256: 1F876321693113EA500050531A755716F196DC05EAD8499E794D341F6CB44515

I'll update the notifications page.

[2019-06-09 22:34] #497 closed, assigned to nobody

[2019-06-10 19:42] #466 closed, assigned to nobody

[2019-06-17 12:54] ryancdickson opened #503 "System Notification for: TSCP SHA256 Bridge CA"
notice_date: June 14, 2019
change_type: CA Certificate Issuance
start_datetime: June 12, 2019
system: TSCP SHA256 Bridge CA
change_description: The TSCP SHA256 Bridge CA issued a cross-certificate to the DocuSign Root CA
contact: steve.race at tscp dot org
ca_certificate_hash: D1382AE6DACA5A69FE75B34635F529C79D5E2D90
ca_certificate_issuer: CN = TSCP SHA256 Bridge CA, OU = CAs, O = TSCP Inc., C = U

[2019-06-17 13:07] ryancdickson opened #504 "System Notification for: DocuSign Root CA"
- notice_date: June 14, 2019
  change_type: Intent to Perform CA Certificate Issuance
  start_datetime:
  system: DocuSign Root CA
  change_description: The DocuSign Root CA (cross-certified with the TSCP SHA256 Bridge CA) intends to certify an issuing certification authority.
  contact: steve.race at tscp dot org
  ca_certificate_hash:
  ca_certificate_issuer: CN = DocuSign Root CA, OU = TSCP, O

[2019-06-25 13:38] ryancdickson opened #507 "System Notification for: CertiPath (multiple certs issued)"
CertiPath re-issued two certificates on 6/19/19 (routine re-issuance):

notice_date: June 25, 2019
change_type: CA Certificate Issuance
start_datetime: June 19, 2019
system: CertiPath Bridge CA - G2
change_description: CertiPath Bridge CA - G2 issued a new cross-certificate to the Raytheon Root CA.
contact: support at certipath dot com
ca_certificate_hash: 3afe40cb546fdec2d0b77454cebe5fb01d3dbb3a

[2019-06-25 13:45] ryancdickson opened #508 "System Notification for: Treasury (multiple certs issued)"
The Treasury Root CA issued two certificates on 6/22/19 (re-keys).

notice_date: June 25, 2019
change_type: CA Certificate Issuance
start_datetime: June 22, 2019
system: US Treasury Root CA
change_description: Treasury re-keyed the Department of Veterans Affairs CA. Treasury communicated the intent to re-key this CA on March 13, 2019. The new certificate is available at https://pki.treasury.gov
co

[2019-06-25 13:52] grandamp commented on #508
While these certificates *are* published, they will not have CRL's until the 29th, once they are imported into the issuing CAs.

[2019-06-25 13:58] ryancdickson commented on #508
Thanks for the added detail, @grandamp. Would you like me to add a caveat in the description to clarify these won't be used operationally until 6/29?

Something like..."Although the re-keyed certificate has been published, its private key will not be used for signing end entity certificates until June 29, 2019."

[2019-06-25 15:31] grandamp commented on #508
LGTM!

[2019-06-25 20:09] #504 closed, assigned to ryancdickson

[2019-06-25 20:09] #503 closed, assigned to ryancdickson

[2019-06-25 20:09] #507 closed, assigned to ryancdickson

[2019-06-25 20:09] #508 closed, assigned to ryancdickson

[2019-06-25 20:14] lachellel commented on #199
Reference changes made for piv guides - to add Search:

- https://github.com/GSA/piv-guides/issues/207
- https://github.com/GSA/piv-guides/pull/244/commits/eba2d6bae5b77a5fc0106c19a91a9e0e866f77d0

[2019-07-02 13:52] weirdscience opened #513 "Federal PKI MA Activity Report Update for July 2019"
Update FPKI Activity Report for July 2019.

[2019-07-02 17:25] ryancdickson commented on #473
Update:
- Trans Sped Mobile QCA and VZ-SMC-CA-B2 CA certificates have been revoked.
- I reached out to @weirdscience to learn when the Federal Bridge -> CT-CSSP-CA-A1 certificate will be revoked.

[2019-07-02 17:26] #199 closed, assigned to nobody

[2019-07-02 17:51] #513 closed, assigned to nobody

[2019-07-08 13:39] ryancdickson commented on #446
Revocation took place on July 3, 2019 for all CAs except CSC CA - 2 (expired on  June 19, 2019) and CSRA FBCA C3 CA (still active).

[2019-07-11 13:02] ryancdickson commented on #446
CSRA FBCA C3 CA was revoked on 7/10. Will close issue once notification is merged into staging.

[2019-07-11 15:22] #446 closed, assigned to nobody

[2019-07-24 18:55] ryancdickson opened #528 "System Notification for: Entrust Managed Services"
notice_date: July 23, 2019
 change_type: Intent to Perform CA Certificate Issuance
 start_datetime:
 system: Entrust Managed Services
 change_description: Entrust intends to re-key both the Entrust Managed Services Root CA and the Entrust Managed Services SSP CA. The re-key events are tentatively planned for mid-August. This notification will be updated as Entrust communicates the finalized timeli

[2019-07-25 15:17] ryancdickson commented on #473
Update: Awaiting Verizon's confirmation of Letter of Authorization.

[2019-07-25 15:19] ryancdickson opened #530 "System Notification for: Federal Bridge CA 2016"
FPKIMA shared intent to issue certificates to DoD, TSCP, and WidePoint before August 15.

 notice_date: July 24, 2019
  change_type: Intent to Perform CA Certificate Issuance
  start_datetime:
  system: FPKI Trust Infrastructure - Federal Bridge 2016
  change_description: The Federal Bridge CA 2016 intends to issue cross-certificates to DoD Interoperability Root CA 2, TSCP SHA256 Bridge CA, and Wi

[2019-07-25 16:58] ryancdickson commented on #473
Letter of Authorization with intent to revoke cross-certificate from FBCA to the Verizon NFI Root CA has been signed. Will add this into #531.

[2019-08-02 17:18] ryancdickson commented on #528
Re-key date is tentatively planned for 8/13. I'll update the existing system notification in Monday's crawler PR.

[2019-08-05 13:48] ryancdickson commented on #530
8/5/2019 - No update.  I'm still monitoring issuance activities included within this issue.

[2019-08-05 13:50] ryancdickson commented on #473
8/5/2019 - Revocations have not yet taken place (Federal Bridge <--> CT-CSSP-CA-A1 ). I'll continue to monitor and will close this issue once revocations are complete.

[2019-08-06 20:25] ryancdickson commented on #473
Federal Bridge CA 2016 -> CT-CSSP-CA-A1 has been revoked. Followed-up with Verizon to learn when CT-CSSP-CA-A1 -> Federal Bridge CA 2016 revocation will take place.

I intend to bundle this update in a PR with a few issuances that took place today (WidePoint, STRAC, and DoD).

[2019-08-07 12:11] ryancdickson commented on #473
CT-CSSP-CA-A1 -> Federal Bridge CA 2016 certificate revocation planned for Thursday. Will monitor and follow-up once complete.

[2019-08-09 12:15] ryancdickson commented on #530
The certificates were issued. I'll bundle notifications with Monday's Crawler pull request:
<br>

**Federal Bridge CA 2016 -> TSCP SHA256 Bridge CA**
- Validity: Aug. 6, 2019, 9:34 a.m. - Aug. 6, 2022, 9:33 a.m.
- Serial #: 146B82AFCD4C573E5FF7188BF3520FBC0C4BADC1
- SHA1: 874007002A4A2FFF3EDCF90EB41ADCE7C2FB4915
- SHA256: 2A3CDD400C292A3F80BAAD0431008CE8D1F92343C388C1D52AEFF1B22F38382E

<br>

**Fe

[2019-08-09 13:20] ryancdickson commented on #473
notice_date: August 08, 2019
change_type: CA Certificate Revocation
start_datetime:
system: Verizon NFI
change_description: On August 08, 2019, Verizon NFI revoked the certificate issued from CT-CSSP-CA-A1 to the Federal Bridge CA 2016.
contact: andre dot varacka at verizon dot com
ca_certificate_hash: 73dccf6418522b69a50a96721aeb96441e6ef3c0
ca_certificate_issuer: CN = CT-CSSP-CA-A1, OU = PKI, OU

[2019-08-09 15:26] ryancdickson opened #536 "System Notification for: Federal Common Policy CA"
The Federal Common Policy CA intends to issue a modified certificate to the US Treasury Root CA to support issuance of PIV-I credentials.

notice_date: August 09, 2019
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: FPKI Trust Infrastructure - Federal Common Policy CA
change_description: The Federal Common Policy CA intends to issue a certificate to the US Treasury R

[2019-08-14 14:37] weirdscience opened #538 "System Notification for: Federal Common Policy (Entrust SSP)"
The Federal Common Policy CA intends to issue a modified certificate to the Entrust Managed Services Root CA to support its key rollover.

notice_date: August 14, 2019
change_type: Intent to Perform CA Certificate Issuance
start_datetime: August 14, 2019
system: FPKI Trust Infrastructure - Federal Common Policy CA
change_description: The Federal Common Policy CA intends to issue a certificate to t

[2019-08-14 18:18] weirdscience commented on #530
As part of the WidePoint NFI Root 1 issuance there will also be two revocations for ORC NFI CA 2 and ORC NFI CA 3. ORC NFI CA 2 has been revoked.

notice_date: August 14, 2019
change_type: Intent to Perform CA Certificate Revocation
start_datetime: August 14, 2019
system: FPKI Trust Infrastructure - Federal Bridge 2016
change_description: The Federal Bridge CA 2016 and WidePoint intend to revoke t

[2019-08-15 12:58] ryancdickson commented on #538
@weirdscience - I've got the following in the 20190812-auto-fpki-graph-update branch:

- notice_date: August 07, 2019
  change_type: Intent to Perform CA Certificate Issuance
  start_datetime:
  system: FPKI Trust Infrastructure - Federal Common Policy CA
  change_description: The Federal Common Policy CA intends to issue a certificate to the Entrust Managed Services Root CA, pending the Entrust M

[2019-08-15 12:58] #538 closed, assigned to nobody

[2019-08-15 16:27] weirdscience commented on #538
Roger that. I missed it sorry. Entrust certificate has been issued:

ca_certificate_hash: a09655170c87d0fbfe0328b99a7baf4a1cf0b5d9

[2019-08-15 21:55] weirdscience opened #540 "Federal PKI Activity Report for July 2017"
Update activity report.

[2019-08-22 14:03] ryancdickson commented on #536
Certificate issued and now published (as of 8/20).

Validity: Aug. 14, 2019, 11:45 a.m. - Aug. 14, 2022, 11:42 a.m.
Serial #: 734B
SHA1: 48CE02A99AE2CC4F790F2989AA153ED565B7E4D2
SHA256: BDECCE9021294788418E4AD02C398A0297E2CA11380F4EB008A2446D6EB74FA3
AIA: http://http.fpki.gov/fcpca/caCertsIssuedTofcpca.p7c
SIA: http://pki.treasury.gov/root_sia.p7c

I'll tweak the notification language during Monda

[2019-08-22 16:34] #540 closed, assigned to nobody

[2019-08-28 12:47] weirdscience opened #545 "When Can Announcements Be Removed?"
#### Description of Issue: ####
Announcements are used to inform the community of changes to the FPKI or PKI in general. They have  lifetime when they are no longer relevant.

#### Details of Issue: ####
What is the lifetime and what happens when they are no longer relevant?

#### References (Docs, Links, Files): ####

#### If a New Page or Content is Needed, Expected Outcomes: ####
Create a new p

[2019-08-28 15:49] weirdscience commented on #68
Preview site - https://cg-06ab120d-836f-49a2-bc22-9dfb1585c3c6.app.cloud.gov/preview/gsa/fpki-guides/SIA-page/tools/

@grandamp - Feedback?

[2019-08-28 16:05] lachellel commented on #68
my take on this: the end entity OCSP and CDP URIs are the most important and not reflected.  Those are the URIs that are first, have the bulk of the data, and require configs on some firewalls and services to access.

[2019-08-29 11:56] weirdscience commented on #68
@lachellel  - I think this is almost all federal issuers under Common and the Bridge and contain the CDP URI and OCSP. The CDP is from a EE cert. Which CA's are missing?

Sample below:
    "subject": "CN=Veterans Affairs User CA B1, OU=PKI, OU=Services, DC=va, DC=gov",
    "issuer": "CN=Verizon SSP CA A2, OU=SSP, O=Verizon, C=US",
    "serialNumber": "251EA36536CFEBB0E9D1334D0CB96102BAB16589",

[2019-08-29 15:12] jott05 commented on #68
A few thoughts/observations:

(1) There are a few cases in which the OCSP responder URI differs for the issuer and root, so that value should likely be mined from the EE cert to populate the issuing CA value as well.  For consistency, it may make sense to mine all three values (CDP, AIA OCSP and AIA CAI) from the same certificate, in order to minimize confusion - so all three values would always b

[2019-08-29 16:04] grandamp commented on #68
Should the URL that links to the file be the raw content link, or the GitHub URI?

I.e.,

https://raw.githubusercontent.com/GSA/fpki-guides/SIA-page/_includes/fpki_aia_ocsp_sia_list.json

-vs-

https://github.com/GSA/fpki-guides/blob/SIA-page/_includes/fpki_aia_ocsp_sia_list.json

[2019-08-29 16:32] lachellel commented on #68
@weirdscience My confusion stemmed from how it is listed by subject and issuer:

Versus just ISSUER for the EE included URIs:

There will be multi-valued attributes for some of the URIs too.  I don't want to over-engineer - but how should the files be modified to have multi-valued attributes?

For Julia's comments:

There are **also** a few cases where EE certs signed by the same Issuing CA have *

[2019-08-29 17:04] lachellel commented on #545
Agree!

- I think each announcement will need a timeframe assigned.
- The same for an archival - we will want to remove from the archives too.

Where do you think the archive should be in the navigation?

[2019-08-29 17:14] grandamp commented on #68
Below is an example of how we are maintaining Certs and CRLs to feed our validation services (in yaml).  This example is only for CA's under the Treasury Root CA.  Having the key identifiers listed helps to determine the integrity of the artifacts, and relationships.  In this case, we only care about the CRL that is produced by each CA key.

[code]

[2019-08-29 17:37] ryancdickson commented on #545
We could add an item to the announcements collection called "Archived Announcements".  If we name the .md file properly, we can ensure it'll always be the last left-nav sub-menu item under "Announcements".

Once a user navigates to the "Archived Announcements" page they'd see a table presenting a summary of the archived announcements, with a link to the original content (which would no longer be l

[2019-08-30 17:59] grandamp commented on #68
Below are some general comments on the JSON:

- All `serialNumber` values should have quotes, and the same encoding.

I.e., hex value of the integer, or, just the integer.

- Looking at `notBefore` and `notAfter`, it might not hurt to use a date format that can easily be parsed by code.  [ISO 8601 would be perfect!](https://xkcd.com/1179/)

I.e.,

`
...
"notBefore": "2019-08-30T17:55:43.000+0000",

[2019-09-03 11:55] #473 closed, assigned to ryancdickson

[2019-09-03 11:55] ryancdickson commented on #528
Published to production site. Closing issue.

[2019-09-03 11:55] #528 closed, assigned to ryancdickson

[2019-09-03 11:56] ryancdickson commented on #530
Published to production site. Closing issue.

[2019-09-03 11:56] #530 closed, assigned to ryancdickson

[2019-09-03 11:56] ryancdickson commented on #536
Published to production site. Closing issue.

[2019-09-03 11:56] #536 closed, assigned to ryancdickson

[2019-09-04 16:18] weirdscience opened #548 "System Notification for: GSA ACES - ORC ACES CA Decommissioning and Revocation"
notice_date: September 3, 2019
change_type:  CA Certificate Revocation
end_datetime: September 3, 2019
system: GSA ACES and Federal Bridge
change_description: WidePoint has decommissioned the ORC ACES 4 CA and the FPKIMA will also revoke the certificate issued from the Federal Bridge CA
contact: fpki dash help at gsa dot gov
ca_certificate_hash: 5573FCC5E6FFFF2B710181ACCAA2EFDADB8F0F4E
ca_certific

[2019-09-05 14:00] ryancdickson commented on #548
Thanks, Ken.

I'll add this to the notifications file during Monday's Crawler update/pull request.

[2019-09-09 19:11] grandamp commented on #68
Attached is a list of CRLs (in JSON), listed by the AuthorityKeyIdentifier in each CRL.  I have not yet processed every CRL to see if they are partitioned, or not.

[fpki_crls_by_aki.txt](https://github.com/GSA/fpki-guides/files/3592159/fpki_crls_by_aki.txt)

[2019-09-09 21:05] grandamp commented on #68
More data...  Attached are all of the certificates discovered in FPKI and CITE (in YAML).  From what I can tell thus far, I can not find CRLs for 15 CITE CAs, and 5 CRLs for prod FPKI CAs:

- [cite.txt](https://github.com/GSA/fpki-guides/files/3592610/cite.txt)
- [fpki.txt](https://github.com/GSA/fpki-guides/files/3592612/fpki.txt)

[2019-09-09 22:31] grandamp commented on #68
Same data, in JSON:

- [cite.txt](https://github.com/GSA/fpki-guides/files/3592845/cite.txt)
- [fpki.txt](https://github.com/GSA/fpki-guides/files/3592846/fpki.txt)

[2019-09-11 22:21] grandamp commented on #68
Slightly more complex, but the JSON can be used to build paths in PEM||CMS message by parsing.  I.e., you can use about any language to parse and use for automated configuration management.

If you see any missing/inaccurate data, I would be happy to incorporate.  If there is a desire to track OCSP responders answering for a given CA, I can easily incorporate.  (writing code to generate and mainta

[2019-09-12 14:19] weirdscience commented on #68
It sounds like two lists

1. List of trusted federal agency and SSP CAs
2. List of issuing CDP, AIA, and OCSP (this can only be harvested of EE certs)

[2019-09-25 20:03] grandamp commented on #68
Below is the output from [an example implementation](https://github.com/grandamp/api.fpki.io/).

- https://raw.githubusercontent.com/grandamp/api.fpki.io/master/examples/fpki_all_paths.json

[2019-09-30 14:37] weirdscience opened #558 "System Notification for: Federal PKI Trust Infrastructure - New Federal Bridge CA"
notice_date: September 30, 2019
change_type:  New CA
system: Federal Bridge CA
change_description: Intent to commission a new Federal Bridge CA around the end of October and re-issue existing CA certificates from the Federal Bridge 2016.
contact: fpki dash help at GSA dot gov

[2019-09-30 14:38] weirdscience commented on #548
Certificate has been revoked.

[2019-09-30 17:35] ryancdickson commented on #548
Adding to weekly update. Thanks, @weirdscience!

[2019-09-30 17:43] ryancdickson commented on #558
@weirdscience - Is it possible the name will change from "Federal Bridge CA 2019" to something else, or is that name safe to use in the notification?

[2019-09-30 22:02] weirdscience commented on #558
I think we are going with Federal Bridge CA G2.

[2019-10-01 11:48] ryancdickson commented on #558
Thanks, @weirdscience. Could you please let me know once the name has been finalized and I'll ensure the notifications are updated correctly?

[2019-10-07 13:48] ryancdickson commented on #548
Added to System Notifications page. Closing issue.

[2019-10-07 13:48] #548 closed, assigned to nobody

[2019-10-28 21:31] weirdscience opened #573 "System Notification for: Federal Bridge CA"
notice_date: October 28, 2019
change_type:  CA Certificate Issuance
start_datetime: October 28, 2019
end_datetime: October 28, 2020
system: Federal Bridge CA 2016
change_description: One year cross-certificates issuance to the Federal Common Policy CA.
contact: fpki dash help at gsa dot gov
ca_certificate_hash: 38341412caa3d72ade61022240411444d21b1de9
ca_certificate_issuer: Federal Bridge CA 2016

[2019-10-28 21:44] weirdscience opened #574 "System Notification for: Federal Common Policy CA"
notice_date: October 28, 2019
change_type:  CA Certificate Issuance
start_datetime: October 28, 2019
end_datetime: October 28, 2020
system: Federal Common Policy CA
change_description: One year certificate issuance to the Federal Bridge CA 2016
contact: fpki dash help at gsa dot gov
ca_certificate_hash: bd38b7e253cfc5dd278a927f88833fb44c6af03a
ca_certificate_issuer: Federal Common Policy CA
ca_cer

[2019-11-04 19:19] weirdscience opened #577 "System Notification for: SHA-1 Federal Root CA"
notice_date: November 4, 2019
change_type:  CA Decommission
system: Federal PKI Management Authority - SHA-1 Federal Root CA
change_description: Intent to decommission the SHA-1 Federal Root CA in December 2019. Let subordinate certificates to/From CertiPath Bridge and DoD Interoperability Root CA 1 expire on Nov 15th and Nov 29th.
contact: fpki dash help at gsa dot gov
ca_certificate_hash: 27C589

[2019-11-04 19:20] weirdscience commented on #558
Federal Bridge CA G4

[2019-11-05 11:46] weirdscience opened #579 "Update FPKIAR for Oct 2019"
Update the FPKIMA Activity Report for October 2019.

[2019-11-05 15:31] lachellel commented on #579
closed #580

[2019-11-05 15:31] #579 closed, assigned to nobody

[2019-11-05 15:32] lachellel commented on #574
close #580

[2019-11-05 15:32] #574 closed, assigned to nobody

[2019-11-05 15:32] lachellel commented on #573
closed #580

[2019-11-05 15:32] #573 closed, assigned to nobody

[2019-12-02 16:36] ryancdickson opened #587 "System Notification for: TSCP SHA256 Bridge CA"
- notice_date: November 29, 2019
  change_type: Intent to Perform CA Certificate Issuance
  start_datetime:
  system: TSCP SHA256 Bridge CA
  change_description: The Transglobal Secure Collaboration Program (TSCP) SHA256 Bridge CA intends to issue a cross certificate to Carillon Federal Services.
  contact: steve.race at tscp dot org
  ca_certificate_hash:
  ca_certificate_issuer: CN = TSCP SHA256

[2019-12-05 15:00] lachellel opened #589 "System Notification for: USPTO"
Placeholder notification issue for the new USPTO cross cert.

notice_date:
change_type:  CA Certificate Issuance
start_datetime:
end_datetime:
system:
change_description:
contact:
ca_certificate_hash:
ca_certificate_issuer:
ca_certificate_subject:
cdp_uri:
aia_uri:
sia_uri:
ocsp_uri:

[2019-12-05 18:33] #75 closed, assigned to nobody

[2019-12-05 18:34] #27 closed, assigned to nobody

[2019-12-10 18:39] grandamp opened #593 "Why is this CA not in the FPKI Graph?"
#### Description of Issue: ####

The CA below is not in the FPKI Graph, but appear to have a path to the Common Policy Root CA.

#### Details of Issue: ####

The following CA is not listed in the FPKI Graph:

[code]

[2019-12-10 18:58] grandamp commented on #593
Example (expired) certificate issued by this CA:

- https://crt.sh/?id=34657603

[2019-12-11 13:14] ryancdickson opened #594 "System Notification for: Federal Bridge CA G4 + Federal Common Policy CA (consolidated issue)"
**Note**: This message consolidates the following planned activities for the Federal Bridge CA G4 and the Federal Common Policy CA into a single issue (in attempt to prevent spamming those watching the project).
1. Federal Bridge CA G4 -> Federal Common Policy CA
1. Federal Bridge CA G4 -> USPTO_INTR_CA1
1. Federal Bridge CA G4 -> CertiPath Bridge CA G2
1. Federal Bridge CA 2016 revocation of ORC

[2019-12-11 13:39] ryancdickson commented on #593
Hi Todd,

The long story short: wvCA1 is not found because it's not included in the SIA extension of a certificate on the path to the Federal Common Policy CA (no way of crawling to it).

The long story:
- Federal Common Policy CA certificate (self-signed) Subject Information Access (SIA) extension bundle (http://http.fpki.gov/fcpca/caCertsIssuedByfcpca.p7c) includes the certificate issued from th

[2019-12-16 13:53] ryancdickson commented on #589
Certificate Issued:

notice_date: December 16, 2019
change_type: CA Certificate Issuance
start_datetime:
end_datetime:
system: FPKI Trust Infrastructure - Federal Bridge CA G4
change_description: The Federal Bridge CA G4 issued a cross certificate to the United States Patent and Trademark Office's USPTO_INTR_CA1.
contact: fpki dash help at gsa dot gov
ca_certificate_hash: 978ec2f323452f8f46932b855

[2019-12-17 18:17] #593 closed, assigned to nobody

[2019-12-17 18:17] #589 closed, assigned to nobody

[2019-12-17 18:18] ryancdickson commented on #577
CA Decommissioned. Notice added to FPKI-Guides.

[2019-12-17 18:18] #577 closed, assigned to nobody

[2019-12-17 18:18] ryancdickson commented on #558
Notice added to FPKI-Guides.

[2019-12-17 18:18] #558 closed, assigned to nobody

[2019-12-17 18:29] maxwellfunk opened #599 "System Notification for: DigiCert Federal Shared Service Provider"
- notice_date: December 17, 2019
  change_type: Intent to Perform CA Certificate Issuance
  start_datetime:
  system: DigiCert Federal Shared Service Provider
  change_description: The DigiCert Federal SSP Intermediate CA intends to issue two new issuing CA certificates on behalf of the U.S. Department of Education.
  ca_certificate_hash:
  ca_certificate_issuer: CN = DigiCert Federal SSP Intermed