[2019-12-20 21:06] lachellel opened #602 "Removing SHA-1"
#### Description of Issue: ####
Remove SHA-1
https://github.com/GSA/fpki-guides/blob/staging/pages/fpki_cas.md

#### Details of Issue: ####
Remove SHA-1

#### References (Docs, Links, Files): ####
https://github.com/GSA/fpki-guides/blob/staging/pages/fpki_cas.md

@grandamp @ryancdickson @maxwellfunk  Would anyone like to do the honors?  We could also send a virtual "Happy SHA-1 CA deprecation!" ca

[2019-12-23 15:14] lachellel commented on #594
All eleven have been issued.  The notifications needs to be posted (policy requires 2 weeks notice).

[2019-12-23 15:24] maxwellfunk opened #604 "Notification Updates For Recent FBCA G4 Issuances"
Consolidating in previous fork regarding issue 599 (DigiCert -> Dept of Education Device CA), new branch.

- notice_date: December 23, 2019
  change_type: CA Certificate Issuance
  start_datetime: December 16, 2019
  end_datetime: February 28, 2022
  system: FPKI Trust Infrastructure - Federal Bridge CA G4
  change_description: The Federal Bridge CA G4 issued a cross certificate to the DigiCert Fe

[2019-12-23 21:31] maxwellfunk commented on #602
I think we will also need to update the CA/CRLs page: https://fpki.idmanagement.gov/crls/... plan to draft some changes on 12/30.

[2019-12-23 21:41] lachellel commented on #602
Good catch - i pushed another commit to this PR:
 #606

[2019-12-23 22:02] #602 closed, assigned to nobody

[2019-12-23 22:11] lachellel commented on #604
@maxwellfunk
Two more still outstanding before closing this issue?  Or should we close and open a new issue?

[2019-12-23 22:11] #599 closed, assigned to nobody

[2019-12-23 22:33] maxwellfunk commented on #604
Not sure which two it would be.  Ryan had generated issuance notifications for PTO and CertiPath earlier last week in the announcements (see below).  Those two were issued on 12/12.

Notice Date: December 16, 2019
System: FPKI Trust Infrastructure - Federal Bridge CA G4
Type: CA Certificate Issuance
Change Description: The Federal Bridge CA G4 issued a cross certificate to the United States Patent

[2020-01-02 16:43] ryancdickson commented on #604
We can add four (4) more notifications:

<br>

**Federal Bridge CA G4 -> STRAC Bridge Root CA**
- notice_date: January 2, 2020
  change_type: CA Certificate Issuance
  start_datetime: December 17, 2019
  end_datetime: February 14, 2022
  system: FPKI Trust Infrastructure - Federal Bridge CA G4
  change_description: The Federal Bridge CA G4 issued a cross certificate to the STRAC Bridge Root Certif

[2020-01-02 16:54] lachellel commented on #604
Let's remove the enddate from all of these?

We should probably remove enddate entirely from the notifications or clarify it's intent.  The original intent wasn't "the end date of a certificate" but rather "the end date of a system outage or change window".

[2020-01-02 16:56] ryancdickson commented on #604
I can do that! We don't display end date on the notifications page, but de-cluttering is good.

[2020-01-02 18:18] ryancdickson commented on #604
Pull Request Merged. Closing issue.

[2020-01-02 18:18] #604 closed, assigned to nobody

[2020-01-08 13:37] ryancdickson opened #617 "System Notification for: TSCP SHA256 Bridge CA (to Fortior Solutions)"
notice_date: January 7, 2020
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: TSCP SHA256 Bridge CA
change_description: The Transglobal Secure Collaboration Program (TSCP) SHA256 Bridge CA intends to issue a cross certificate to Fortior Solutions. This is a renewal for the cross certificate from the TSCP SHA256 Bridge CA to Fortior Solutions Intermediate CA 2018, expi

[2020-01-08 13:38] ryancdickson opened #618 "System Notification for: TSCP SHA256 Bridge CA (to Alexion Pharmaceuticals, Inc.)"
notice_date: January 7, 2020
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: TSCP SHA256 Bridge CA
change_description: The Transglobal Secure Collaboration Program (TSCP) SHA256 Bridge CA intends to issue a cross certificate to Alexion Pharmaceuticals, Inc. This is a renewal for the cross certificate from the TSCP SHA256 Bridge CA to the Alexion Pharmaceuticals Issue

[2020-01-08 14:06] ryancdickson commented on #594
Updating issue to indicate status of activities:

- [x] Federal Bridge CA G4 -> Federal Common Policy CA (issued, notification published).
- [x] Federal Bridge CA G4 -> USPTO_INTR_CA1 (issued, notification published).
- [x] Federal Bridge CA G4 -> CertiPath Bridge CA G2 (issued, notification published).
- [ ] Federal Bridge CA 2016 revocation of ORC NFI CA 3 (activity pending)
- [x] Federal Common

[2020-01-10 18:08] lachellel commented on #618
closed by #621

[2020-01-10 18:08] #618 closed, assigned to nobody

[2020-01-10 18:08] lachellel commented on #617
closed by #621

[2020-01-10 18:08] #617 closed, assigned to nobody

[2020-01-15 14:26] ryancdickson opened #623 "System Notification for: STRAC Bridge Root Certification Authority (to FTI Certification Authority)"
- notice_date: January 15, 2020
  change_type: CA Certificate Issuance
  start_datetime: January 8, 2020
  system: STRAC Bridge Root Certification Authority
  change_description: The STRAC Bridge Root Certification Authority issued a cross certificate to the FTI Certification Authority.
  contact: pki at strac dot org
  ca_certificate_hash: f012c16cfeda614c5ca43e464c91e316f5067933
  ca_certificate

[2020-01-21 18:12] lachellel opened #626 "System Notification: Widepoint NFI Root CA 2"
Initial placeholder info:

notice_date: January 18, 2020
change_type: CA Certificate Issuance
start_datetime:
system:  Federal Bridge CA G4
change_description:
contact: fpki at gsa dot gov
ca_certificate_hash:
ca_certificate_issuer:
ca_certificate_subject: cn=WidePoint NFI Root 2, ou=Certification Authorities, o=WidePoint, c=US
cdp_uri:
aia_uri:
sia_uri:
ocsp_uri:

[2020-01-21 19:12] ryancdickson commented on #623
Pushed to live site.

[2020-01-21 19:12] #623 closed, assigned to nobody

[2020-01-21 19:13] ryancdickson commented on #626
Thanks for posting, @lachellel (still working my way through my inbox).

Additional activities referenced:
- WidePoint NFI Root CA 2 will issue a certificate to ORC NFI 3
- WidePoint will retire WidePoint NFI Root CA 1 (active certificates issued by WidePoint NFI Root CA 1 will first be revoked)
- WidePoint will request revocation of the certificate issued by Federal Bridge CA 2016 to WidePoint NF

[2020-01-23 15:46] ryancdickson opened #627 "System Notification for: Department of State (re-key of U.S. Department of State PIV CA2)"
notice_date: January 23, 2020
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: U.S. Department of State AD Root CA
change_description: The Department of State intends to re-key U.S. Department of State PIV CA2. The CA signing key length will be changed from its current 2048-bit key size to 3072-bits.
contact: shomolp at state.gov or shanleyrj at state dot gov
ca_certi

[2020-01-23 15:51] jsalga01 commented on #627
Ryan,

Is there an estimated date for re-key? Thanks.

John

From: ryancdickson <notifications@github.com>
Sent: Thursday, January 23, 2020 10:47 AM
To: GSA/fpki-guides <fpki-guides@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [External] [GSA/fpki-guides] System Notification for: Department of State (re-key of U.S. Department of State PIV CA2) (#627)

notice_date: Ja

[2020-01-23 16:30] ryancdickson commented on #594
Update: Confirmed WidePoint will stand up WidePoint NFI Root 2. WidePoint NFI Root 1 will be retired and will not be issued a cross certificate from Federal Bridge CA G4. See #626.

[2020-01-23 18:27] ryancdickson commented on #627
@jsalga01 - We were notified the activity is planned for 1/24/2020.

[2020-01-23 21:44] jsalga01 commented on #626
Ryan,

Please let us know when WidePoint will perform these activities. Thanks.

John

From: ryancdickson <notifications@github.com>
Sent: Tuesday, January 21, 2020 2:14 PM
To: GSA/fpki-guides <fpki-guides@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [External] Re: [GSA/fpki-guides] System Notification: Widepoint NFI Root CA 2 (#626)

Thanks for posting, @lachellel <

[2020-01-28 14:28] ryancdickson commented on #627
Certificate issued.

- Issuer: CN = U.S. Department of State AD Root CA, CN = AIA, CN = Public Key Services, CN = Services, CN = Configuration, DC = state, DC = sbu
- Subject: OU = U.S. Department of State PIV CA2, OU = Certification Authorities, OU = PIV, OU = Department of State, O = U.S. Government, C = US
- Serial #: 51b0b97f
- Validity: January 24, 2020 to January 24, 2030
- Thumbprint: 68a4e

[2020-01-28 14:30] ryancdickson commented on #618
Certificate issued:
- Issuer: CN = TSCP SHA256 Bridge CA, OU = CAs, O = TSCP Inc., C = US
- Subject: CN = Alexion Pharmaceuticals Issue 2 CA, OU = CAs, O = Alexion Pharmaceuticals, C = US
- Validity: January 22, 2020 to January 22, 2021
- Serial #: 477bb79a8d56c62d2f7edbd31bc8f895
- SHA-1 Hash: 2d7b753e7aee8a31ccf77fc6b1f6ff48a15debba
- Note: This is a renewal and replaces the now expired cross-ce

[2020-01-28 14:31] ryancdickson commented on #617
Certificate Issued:
- Issuer: CN = TSCP SHA256 Bridge CA, OU = CAs, O = TSCP Inc., C = US
- Subject: CN = Fortior Solutions Intermediate CA 2018, OU = Certificate Authorities, O = Fortior Solutions, C = US
- Validity: January 22, 2020 to January 22, 2021
- Serial #: 3cd4087a04abd3ed749d9c3cb6ad7cf9
- SHA-1 Hash: 000ea5b4b63f39d083bd5a0777ca334d6ff58c94
- Note: This is a certificate renewal. Author

[2020-01-28 15:44] #627 closed, assigned to ryancdickson

[2020-02-11 13:52] ryancdickson opened #635 "System Notification for: STRAC Bridge Root Certification Authority"
The February 10, 2020 Crawler execution detected a new cross certificate:

notice_date: February 11, 2020
change_type: CA Certificate Issuance
start_datetime: January 8, 2020
system: STRAC Bridge Root Certification Authority
change_description: The STRAC Bridge Root Certification Authority issued a cross certificate to the Federal Bridge CA G4.
contact: pki at strac dot org
ca_certificate_hash: c5

[2020-02-11 14:01] ryancdickson opened #636 "System Notification for: CertiPath Bridge CA - G3"
CertiPath requested a new cross certificate from the Federal Bridge CA G4.

notice_date: February 11, 2020
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: CertiPath Bridge CA - G3
change_description: CertiPath requested a new cross certificate from the Federal Bridge CA G4. The requested certificate is for a new bridge CA named CertiPath Bridge CA - G3.
contact: supp

[2020-02-12 13:19] ryancdickson opened #638 "System Notification for: Federal Bridge CA 2016 (revocations)"
The Federal Bridge CA 2016 intends to revoke the following certificates:

### Revocations planned for 27 February 2020:

**Federal Bridge CA 2016 -> TSCP SHA256 Bridge CA**
notice_date: February 11, 2020
change_type: Intent to Perform CA Certificate Revocation
system: FPKI Trust Infrastructure - Federal Bridge CA 2016
change_description:  As part of the migration to the Federal Bridge CA G4, the F

[2020-02-12 13:27] ryancdickson opened #639 "System Notification for: Federal Bridge CA G4 (issuance to WidePoint NFI Root 2)"
The Federal Bridge CA G4 issued a cross certificate to the new WidePoint NFI Root 2.

- notice_date: February 12, 2020
  change_type: CA Certificate Issuance
  start_datetime: February ‎4, ‎2020
  system: FPKI Trust Infrastructure - Federal Bridge CA G4
  change_description: The Federal Bridge CA G4 issued a cross certificate to the new WidePoint NFI Root 2.
  contact: fpki dash help at gsa dot go

[2020-02-18 13:40] #639 closed, assigned to ryancdickson

[2020-02-18 13:41] #635 closed, assigned to ryancdickson

[2020-02-18 13:55] ryancdickson commented on #594
Updates:
- February 14, 2020: **Exostar** submitted a Certificate Request Form to have the Federal Bridge CA G4 issue a 3-year cross certificate to the Exostar Federated Identity Service Root CA 2.
     - The "Intent to Perform CA Certificate Issuance" System Notification was published on December 9, 2019.
     - This issue will be updated upon certificate issuance.

[2020-02-20 15:17] ryancdickson opened #645 "System Notification for: CertiPath Bridge CA - G3 (issuance to several organizations)"
CertiPath intends to issue cross certificates from the CertiPath Bridge CA - G3 to replace expiring certificates issued from the CertiPath Bridge CA - G2.

The following expiring certificates are being replaced:

**Subject**: Carillon Federal Services PIV-I CA1
**Issuer**: CertiPath Bridge CA - G2
**Validity Period**: Feb. 25, 2019, 7 p.m. - Feb. 29, 2020, 6:59 p.m.
**Serial #**: 1605E5617A640FB8E

[2020-02-20 15:34] ryancdickson commented on #626
Update:
- Federal Bridge CA G4 issued the cross certificate to WidePoint NFI Root 2.

Pending activities:
- WidePoint NFI Root CA 2 -> ORC NFI 3
- Federal Bridge CA 2016 revocation of cross certificate to WidePoint NFI Root CA 1
- WidePoint NFI Root CA 1 Retirement
- Federal Bridge CA 2016 revocation of cross certificate to ORC NFI CA 3
- ORC NFI CA 3 revocation of cross certificate to Federal Bri

[2020-02-24 17:45] ryancdickson commented on #636
Certificate issued:
- Subject: CN=CertiPath Bridge CA - G3,OU=Certification Authorities,O=CertiPath,C=US
- Issuer: CN=Federal Bridge CA G4,OU=FPKI,O=U.S. Government,C=US
- Validity: February 18, 2020 to February 18, 2023
- Serial: 146bc4c37a7753b792ae772067de692f093c6df1
- Thumbprint: 77d6cf512ec6054e9ddf37a37d83c4955228e21c

Adding to today's pull request.

[2020-02-24 17:45] #636 closed, assigned to ryancdickson

[2020-02-26 16:09] ryancdickson commented on #626
Update:
- WidePoint NFI Root CA 2 issued a certificate to ORC NFI 3

Pending activities:
- Federal Bridge CA 2016 revocation of cross certificate to WidePoint NFI Root CA 1
- WidePoint NFI Root CA 1 Retirement
- Federal Bridge CA 2016 revocation of cross certificate to ORC NFI CA 3
- ORC NFI CA 3 revocation of cross certificate to Federal Bridge CA 2016

[2020-02-26 16:30] ryancdickson commented on #645
My apologies, I missed adding these in Monday's Pull Request. Adding now!

- notice_date: February 20, 2020
  change_type: Intent to Perform CA Certificate Issuance
  system: CertiPath Bridge CA - G3
  change_description: The CertiPath Bridge CA - G3 CA intends to issue a cross certificate to Carillon Federal Services PIV-I CA1. This certificate will replace the certificate issued by the CertiPath

[2020-03-03 04:07] ryancdickson commented on #645
Certificates issued:

- notice_date: March 2, 2020
  change_type: CA Certificate Issuance
  system: CertiPath Bridge CA - G3
  change_description: CertiPath Bridge CA - G3 issued a cross certificate to Carillon Federal Services PIV-I CA1.
  contact: support at certipath dot com
  ca_certificate_hash: aff439f001ebdbe7f4a53dc4805cffc78d1e7c63
  ca_certificate_issuer: CN=CertiPath Bridge CA - G3, OU=

[2020-03-04 16:31] ryancdickson commented on #645
Content merged, closing issue.

[2020-03-04 16:31] #645 closed, assigned to ryancdickson

[2020-03-04 18:03] ryancdickson commented on #638
The following certificates were revoked yesterday (3/3/2020):

**Federal Bridge CA 2016 -> TSCP SHA256 Bridge CA**
notice_date: March 04, 2020
change_type: CA Certificate Revocation
system: FPKI Trust Infrastructure - Federal Bridge CA 2016
change_description: As part of the migration to the Federal Bridge CA G4, the Federal Bridge CA 2016 revoked the cross certificate issued to the TSCP SHA256 Br

[2020-03-04 18:24] ryancdickson commented on #594
Update: The Federal Bridge CA G4 -> Exostar Federated Identity Service Root CA 2 cross certificate has been issued.

- notice_date: March 4, 2020
  change_type: CA Certificate Issuance
  system: FPKI Trust Infrastructure - Federal Bridge CA G4
  change_description: The Federal Bridge CA G4 issued a cross certificate to Exostar Federated Identity Service Root CA 2.
  contact: fpki dash help at gsa

[2020-03-04 18:24] #594 closed, assigned to ryancdickson

[2020-03-16 17:46] lachellel opened #657 "Announcement: Federal Common Policy Root CA - 30 day CRLs"
#### Description of Issue: ####
New announcement

#### Details of Issue: ####
The FPKIMA will be operating the Federal Common Policy Root CA in an offline operational mode.  Starting March 13, FPKIMA began issuing 30-day CRLs as allowed by the Common Policy CP.

CRLs will continue to be made available to all relying parties in the same manner as current operations.  The only impact customers will

[2020-03-17 14:58] ryancdickson opened #659 "System Notification for: CertiPath Bridge CA - G2 (Issuance to Federal Bridge CA G4)"
The Federal PKI Crawler identified a new certificate that was published in the last week:

notice_date: March 17, 2020
change_type: CA Certificate Issuance
system: CertiPath Bridge CA - G2
change_description: CertiPath Bridge CA - G2 issued a cross certificate to the Federal Bridge CA G4.
contact: support at certipath dot com
ca_certificate_hash: 6f9830730374438b333d78876c1f830304d49451
ca_certifi

[2020-03-24 13:01] ryancdickson commented on #659
Added to #660.

[2020-03-24 13:01] #659 closed, assigned to ryancdickson

[2020-04-06 15:13] ryancdickson opened #663 "System Notification for: Federal Bridge CA G4 (intent to issue to DigiCert Class 3 SSP Intermediate CA – G4)"
**Note**: Staging announcement. Letter of Authorization _pending_ approval and signature.

- notice_date: April 6, 2020
  change_type: Intent to Perform CA Certificate Issuance
  system: FPKI Trust Infrastructure - Federal Bridge CA G4
  change_description: The Federal Bridge CA G4 intends to issue a cross certificate to the new DigiCert Class 3 SSP Intermediate CA – G4. DigiCert plans to migrate

[2020-04-29 12:50] ryancdickson opened #671 "System Notification for: CertiPath Bridge CA - G3 (issuance to Boeing and Lockheed Martin)"
This week's FPKI Crawler/Graph update detected two new certificates.

- notice_date: April 29, 2020
  change_type: CA Certificate Issuance
  start_datetime: April 21, 2020
  system: CertiPath Bridge
  change_description: Issuance of cross certificate from CertiPath Bridge CA – G3 to Boeing PCA G3.
  contact: support at certipath dot com
  ca_certificate_hash: f062bfcc913dfd1362ececce82e17fbf6fbaee

[2020-05-04 13:38] ryancdickson commented on #587
Certificate issued:
- **Subject:** CN=Carillon Federal Services PIV-I CA2, OU=Certificate Authorities, O=Carillon Federal Services Inc., C=US
- **Issuer:** CN=TSCP SHA256 Bridge CA, OU=CAs, O=TSCP Inc., C=US
- **Validity:** April 21, 2020 to April 21,2021
- **Serial #:** 3f99d81464dc067ef88e16b0b5d5ea30
- **SHA-1 Hash:** 352f268667640942e57f834f3691372a24109e2e

Will add to today's Pull Request.

[2020-05-04 13:38] #587 closed, assigned to ryancdickson

[2020-05-04 13:46] #671 closed, assigned to ryancdickson

[2020-05-12 19:35] ryancdickson opened #679 "System Notification for: DigiCert (Verisign CA-G3) Federal Shared Service Provider"
DigiCert Federal Shared Service Provider has requested revocation of its CA certificate issued from the Federal Common Policy CA to VeriSign SSP Intermediate CA - G3.

**Certificate Details:**
- Subject: CN=VeriSign SSP Intermediate CA - G3, O=VeriSign, Inc., C=US
- Issuer: CN=Federal Common Policy CA, OU=FPKI, O=U.S. Government, C=US
- Serial #: 0196
- Validity: December 9, 2010 to December 9, 20

[2020-05-14 15:08] sarahdobson commented on #545
You can view a preview on the archive-announcement-demo branch:

https://cg-06ab120d-836f-49a2-bc22-9dfb1585c3c6.app.cloud.gov/preview/gsa/fpki-guides/archive-announcement-demo/announcements/archive/

[2020-05-20 21:00] lachellel opened #684 "Clean-up Posting Dates"
Each page is using a different model for a date, for example:

- No date
- Last updated
- Posted date
- Publish date

Consolidate on one pattern, consistent placement and terms - and incorporate into the templates directly.

[2020-05-21 15:13] lachellel commented on #545
@sarahdobson lgtm

[2020-05-21 20:43] lachellel commented on #663
@ryancdickson was this the CA cert published yesterday?

[2020-05-21 21:01] ryancdickson commented on #663
Definitely published between Monday and today (Crawler runs on Mondays, but I could bump this up to daily and only do pull requests on the weekly basis) to catch these things as they happen.

Will add the following to next week's Crawler execution/Pull request:

notice_date: May 20
change_type: CA Certificate Issuance
system: FPKI Trust Infrastructure - Federal Bridge CA G4
change_description: The

[2020-05-27 17:28] #545 closed, assigned to nobody

[2020-05-27 17:31] weirdscience commented on #545
Thank you.

Ken Myers

[2020-05-28 15:40] lachellel opened #688 "Add default 404"
#### Description of Issue: ####
Add default 404 error page

Example: https://federalist.18f.gov/documentation/customization/

[2020-06-01 12:46] #663 closed, assigned to nobody

[2020-06-01 13:46] ryancdickson opened #689 "System Notification for: WidePoint Non-Federal Issuer (issuance to WidePoint NFI CA 5 and WidePoint ORC NFI 4)"
On May 29, 2020, the Federal PKI Crawler detected two new certificates published to http://crl-server.orc.com/caCerts/WIDEPOINTNFIROOT2.p7c:

- **Subject:** CN=WidePoint ORC NFI 4, OU=Certification Authorities, O=WidePoint, C=US
- **Issuer:** CN=WidePoint NFI Root 2, OU=Certification Authorities, O=WidePoint, C=US
- **Validity:** February 18, 2020 to February 18, 2030
- **Serial #:** 3581750bd6e26

[2020-06-02 12:24] ryancdickson opened #691 "System Notification for: TSCP SHA256 Bridge CA (to DocuSign, Inc.)"
notice_date: June 1, 2020
change_type: Intent to Perform CA Certificate Issuance
system: TSCP SHA256 Bridge CA
change_description: The Transglobal Secure Collaboration Program (TSCP) SHA256 Bridge CA intends to renew the cross certificate issued to DocuSign, Inc.
contact: steve.race at tscp dot org
ca_certificate_hash:
ca_certificate_issuer: CN=TSCP SHA256 Bridge CA, OU=CAs, O=TSCP Inc., C=US
ca_c

[2020-06-08 13:12] ryancdickson commented on #679
Certificate revoked on June 4th.  Will add notification to today's pull request.

[2020-06-08 13:12] #679 closed, assigned to ryancdickson

[2020-06-08 13:12] #689 closed, assigned to ryancdickson

[2020-06-08 15:14] ryancdickson opened #694 "System Notification for: Federal Bridge CA G4 (Intent to issue to the Government Printing Office)"
- notice_date: June 4, 2020
  change_type: Intent to Perform CA Certificate Issuance
  start_datetime:
  system: FPKI Trust Infrastructure - Federal Bridge CA G4
  change_description: The Federal Bridge CA G4 intends to issue a cross certificate to GPO PCA.
  contact: fpki dash help at gsa dot gov
  ca_certificate_hash:
  ca_certificate_issuer: CN=Federal Bridge CA G4, OU=FPKI, O=U.S. Government,

[2020-06-15 12:47] ryancdickson commented on #626
Updates:
- Federal Bridge CA 2016 revoked the cross certificate issued to WidePoint NFI Root 1
- Federal Bridge CA 2016 revoked the cross certificate issued to ORC NFI CA 3
- ORC NFI CA 3 revoked the cross certificate issued to Federal Bridge CA 2016

[2020-06-15 12:47] #626 closed, assigned to ryancdickson

[2020-06-15 13:07] ryancdickson commented on #638
On June 9, 2020, the Federal Bridge CA 2016 revoked the following certificates:

	- Subject: OU=Entrust Managed Services NFI Root CA, OU=Certification Authorities, O=Entrust, C=US
	- Issuer: CN=Federal Bridge CA 2016, OU=FPKI, O=U.S. Government, C=US
	- Validity: November 16, 2017 to November 16, 2020
	- Serial #: 62983af6aa064f49d9eef79a57300d2666dbaaaf
	- Key Size: 2048-bits (RSA)
	- Signing Alg

[2020-06-15 13:07] #638 closed, assigned to ryancdickson

[2020-06-16 20:40] lachellel opened #699 "Archive 2019 test procedures"
#### Description of Issue: ####
Archive this: https://github.com/GSA/fpki-guides/blob/staging/pages/ms_constraint_test_procedures.md

#### Details of Issue: ####
Archive to include **unpublishing**
Don't build and deploy html

[2020-06-26 20:21] lachellel opened #705 "System Notification for: Federal Bridge CA G4 revocation of GPO (replacement)"
notice_date: June 26, 2020
change_type:  CA Certificate Revocation
start_datetime:
end_datetime:
system: Federal Bridge CA G4
change_description: The new three year cross-certificate to the Government Publishing Office (GPO) replaces the one expiring on August 3, 2020.  This will revoke the certificate that was set to expire on August 3, 2020.
contact: fpki dash help at gsa dot gov
ca_certificate_

[2020-06-26 20:26] lachellel opened #706 "System Notification for: Federal Bridge 2016 revocation of GPO cross-cert"
notice_date: June 26, 2020
change_type:  CA Certificate Revocation
start_datetime:
end_datetime:
system: Federal Bridge CA 2016
change_description: As part of the migration to the Federal Bridge CA G4, the Federal Bridge CA 2016 will revoke the cross certificate issued to GPO PCA Root Certification Authority.
contact: fpki dash help at gsa dot gov
ca_certificate_hash: b8eabb18ed544c9fcfb299bd5d322

[2020-06-26 20:29] lachellel opened #707 "System Notification for: Federal Bridge 2016 revocation of SAFE Bridge CA cross-cert"
notice_date: June 26, 2020
change_type: CA Certificate Revocation
start_datetime:
end_datetime:
system: Federal Bridge CA 2016
change_description: s part of the migration to the Federal Bridge CA G4, the Federal Bridge CA 2016 will revoke the cross certificate issued to SAFE Bridge CA 02 Certification Authority.
contact: fpki dash help at gsa dot gov
ca_certificate_hash: b8eabb18ed544c9fcfb299bd5d

[2020-06-29 14:48] ryancdickson opened #709 "System Notification for: CertiPath Bridge CA - G3 (issuance to Raytheon)"
The 6/29/20 execution of the FPKI Crawler detected a new certificate:

- notice_date: June 29, 2020
  change_type: CA Certificate Issuance
  start_datetime: June 23, 2020
  system: CertiPath Bridge
  change_description: CertiPath Bridge CA – G3 issued a cross certificate to Raytheon.
  contact: support at certipath dot com
  ca_certificate_hash: 4f28171d4a30679edea7f3271c6cfdb924241f0e
  ca_certif

[2020-06-29 14:58] ryancdickson commented on #694
Certificate issued:
- Subject: OU = GPO PCA, OU = Certification Authorities, OU = Government Printing Office, O = U.S. Government, C = US
- Issuer:  CN = Federal Bridge CA G4, OU = FPKI, O = U.S. Government, C = US
- Validity:  June 25, 2020 to June 25, 2023
- Serial #:  195cb9376d0a7dea78ab51500fd5f74a85a5f602
- Thumbprint (SHA-1 hash):  52db35c57036a5641bb8dd6b552391a7815681dd
- Key size: 2048-b

[2020-06-29 14:58] #694 closed, assigned to ryancdickson

[2020-06-30 19:41] #699 closed, assigned to nobody

[2020-06-30 19:51] #707 closed, assigned to nobody

[2020-06-30 19:51] #709 closed, assigned to ryancdickson

[2020-06-30 19:51] #706 closed, assigned to nobody

[2020-06-30 19:51] #705 closed, assigned to nobody

[2020-06-30 19:52] #691 closed, assigned to ryancdickson

[2020-06-30 19:55] lachellel commented on #688
Example updated 404:
https://fpki.idmanagement.gov/ctltestprocedures

Closing issue.

[2020-06-30 19:55] #688 closed, assigned to nobody

[2020-06-30 20:05] #64 closed, assigned to nobody

[2020-06-30 20:06] #35 closed, assigned to nobody

[2020-06-30 20:06] #15 closed, assigned to nobody

[2020-06-30 20:07] #13 closed, assigned to nobody

[2020-07-07 16:00] ryancdickson opened #713 "System Notification for: DigiCert Federal Shared Service Provider (issuance to U.S. Department of Education Agency CA - G5)"
- notice_date: July 7, 2020
  change_type: CA Certificate Issuance
  start_datetime: June 9, 2020
  system: DigiCert Federal Shared Service Provider
  change_description: The DigiCert Federal SSP Intermediate CA - G5 issued a CA certificate on behalf of the U.S. Department of Education.
  ca_certificate_hash:  6f48424ae8a01c2a77213a9d34f5761daacd9eac
  ca_certificate_issuer: CN = DigiCert Federal

[2020-07-08 18:33] ryancdickson commented on #713
Merged into staging. Closing issue.

[2020-07-08 18:33] #713 closed, assigned to ryancdickson

[2020-07-10 13:05] ryancdickson opened #717 "System Notification for: Entrust Federal Shared Service Provider (OCSP Outage)"
On Wednesday, July 8, 2020 at about 4:00 PM CDT, Entrust Datacard performed a service failover of all Entrust Federal OCSP traffic including ocsp.managed.entrust.com from the Dallas primary site to the Denver alternate site due to ISP routing issues.

The routing issues have been resolved.

On Friday 07/10/2020 at 4:00 PM CDT all Entrust Federal OCSP traffic including ocsp.managed.entrust.com will

[2020-07-13 14:39] ryancdickson commented on #717
Fail-back confirmed. Traffic appears to be getting served from the primary site IP address.

Adding issue to this morning's pull request.

[2020-07-13 14:39] #717 closed, assigned to ryancdickson

[2020-07-15 13:33] ryancdickson opened #721 "System Notification for: Department of State (intent to issue new CA certificate)"
The Department of State shared intent to deploy a Derived PIV credential CA.

notice_date: July 14, 2020
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: U.S. Department of State AD Root CA
change_description: The Department of State intends to deploy a Derived PIV credential CA.
contact: shanleyrj at state dot gov
ca_certificate_hash:
ca_certificate_issuer:  CN=U.S.

[2020-07-17 19:13] ryancdickson commented on #707
Confirmation: The certificate was revoked on July 16, 2020.

[2020-07-17 19:16] ryancdickson commented on #706
Confirmation: The certificate was revoked on July 16, 2020.

[2020-07-17 19:17] ryancdickson commented on #705
Confirmation: The certificate was revoked on 7/16/20.

[2020-08-03 13:41] ryancdickson opened #726 "System Notification for: FPKI Trust Infrastructure (intent to revoke CA certificate)"
The Federal PKI Management Authority intends to revoke the cross certificate issued from Federal Bridge CA G4 to IdenTrust ACES CA 2. The revocation is planned for Tuesday, August 18th.

- notice_date: July 30, 2020
  change_type: Intent to Perform CA Certificate Revocation
  system: FPKI Trust Infrastructure - Federal Bridge CA G4
  change_description: The Federal PKI Management Authority intends

[2020-08-10 20:47] ryancdickson opened #731 "System Notification for: Entrust NFI (revocation of Federal Bridge CA 2016)"
notice_date: August 10, 2020
change_type: CA Certificate Revocation
system: Entrust Managed Services NFI Root CA
change_description: The Entrust Managed Services NFI Root CA revoked the cross certificate issued to the Federal Bridge CA 2016.
contact: support at entrustdatacard dot com
ca_certificate_hash:  5a186cb0fc1bb48bf3b83f60f86b2703a63a0ded
ca_certificate_issuer: OU=Entrust Managed Services

[2020-08-10 20:48] ryancdickson commented on #731
Adding notification for awareness of the activity. Certificate would not build a valid path to Common Policy.

[2020-08-10 20:48] #731 closed, assigned to ryancdickson

[2020-08-13 00:54] jcmcken opened #736 ".NET Core on Linux has issues with certificates descending from latest US Treasury Root CA"
#### Description of Issue: ####

We have a certificate signed by DHS CA 4 (signed: Jun 6, 2019, thumbprint: 5808...dd5f), which is a child CA of US Treasury Root CA (signed: Aug 14, 2019, thumbprint: 48ce...e4d2). This cert has a single policy OID: 2.16.840.1.101.3.2.1.3.8

It seems like .NET Core (dotnet on Linux) cannot verify certificates signed by 5808 with the above policy OID, even though br

[2020-08-18 16:42] ryancdickson commented on #726
Update: The certificate has been revoked.

[2020-08-18 16:42] #726 closed, assigned to ryancdickson

[2020-09-01 12:37] ryancdickson commented on #68
Re-energizing this thread since it came up again at the August Policy Authority Meeting.

A while ago, I wrote a script to accomplish a similar goal as many have done in this thread:
- Start with a directory of CA certificates that are valid for id-fpki-common-authentication (2.16.840.1.101.3.2.1.3.13).  Exclude CAs that can issue id-fpki-common-authentication, but _do not_ issue certificates cont

[2020-09-03 16:41] grandamp commented on #736
Afternoon,

Are you trying to use the DHS CA4 issued certificate as a client certificate, or server?

If used as a client certificate (client auth eku), there shouldn't be *any* issues validating the certificate.

If used as a server certificate (server auth eku), user agents that adhere to CABForum requirements *may* consider it invalid (Certificate Transparency, Lifetime, etc).

This specific po

[2020-09-03 19:25] jcmcken commented on #736
The cert in question is being used as a server certificate. When a .NET client attempts to connect to this server over HTTPS, one-way verification fails. (Other clients have no problems, e.g. curl, wget)

Can you indicate some way I can replicate the command you ran? I tried 'certutil' as included with NSS tools on multiple OSes and I can't get the command you ran to work. Is the certificate you'r

[2020-09-03 21:29] grandamp commented on #736
Evening,

certutil.exe is a Microsoft Windows executable that should be on any Windows system.

As an alternative, the 1.1.x versions of OpenSSL can do something similar:

- save the path above for DHSCA4 into a file called: common_path.pem
- save *only* the web server certificate into a file called: server_cert.pem

[code]

If you wouldn't mind, please send a copy of the server certificate you ar

[2020-09-04 18:57] ryancdickson opened #742 "System Notification for: Exostar (intent to issue a CA certificate)"
notice_date: September 3, 2020
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system:  Exostar Federated Identity Service Root CA 2
change_description:  Exostar intends to issue a new signing CA certificate
contact: info at exostar dot com
ca_certificate_hash:
ca_certificate_issuer: CN=Exostar Federated Identity Service Root CA 2, OU=Certification Authorities, O=Exostar LLC

[2020-09-09 19:29] grandamp commented on #68
Afternoon,

This would be helpful, but, it would be preferable to have all of the artifact information for the entire FPKI.

While we are certainly focused on PIV, we also have to consider PIV-I and Legacy Medium Hardware use cases.

At the moment, we really need a full list of CRLs produced by each CA.  That was the primary intent of the fpki.io API.

[Here are all of the CRLs that I could find](

[2020-09-09 20:25] ryancdickson commented on #68
Looking quickly, I have two matches:

	"D238DDB5EF4B5957367FBFBF9CA67D0C193105AD": [http://pki.fti.org/fti_ca/crl/FTICA.crl],
	"1AF06981C50D2C7DC0D63FC16CE0B886BDDB1273": [http://www.nextgenidtrust.com/PKI/CRL/NGIDTrustCA1.crl],

I'll see what I can find for the remaining.

[2020-09-09 22:34] grandamp commented on #68
Thanks!  Lack of the nextgenidtrust.com was a bug, since it *actually* has an IDP extension, and the current commited code has a "TODO" to extract the IDP extension's distribution point name.

Also, added:
[code]

[2020-09-10 15:26] grandamp commented on #68
Found 2 more:

[code]

[2020-09-11 19:46] grandamp commented on #68
Found 1 more, only missing 4 now.

[code]

[2020-09-11 20:03] grandamp commented on #68
Per a response from DigiCert, the CRL for the following CA has not been published yet:

[code]

Once published, it will be available via the following URL:

[code]

The final 3 missing CRLs are for CAs managed by Fortior Solutions, via TSCP.

[2020-09-15 12:09] ryancdickson opened #747 "System Notification for: TSCP SHA256 Bridge CA"
notice_date: September 14, 2020
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: TSCP SHA256 Bridge CA
change_description: The Transglobal Secure Collaboration Program (TSCP) SHA256 Bridge CA intends to issue a cross certificate to Carillon Federal Services.
contact: steve.race at tscp dot org
ca_certificate_hash:
ca_certificate_issuer: CN=TSCP SHA256 Bridge CA, OU=CA

[2020-09-15 15:51] ryancdickson opened #748 "System Notification for: Federal Common Policy CA"
The Federal PKI Management Authority intends to revoke the cross certificate issued from the Federal Common Policy CA to the Federal Bridge CA 2016.

-  notice_date: September 15, 2020
change_type: Intent to Perform CA Certificate Revocation
system: FPKI Trust Infrastructure - Federal Common Policy CA
change_description: As part of the migration to the Federal Bridge CA G4 and in preparation for t

[2020-09-15 15:51] ryancdickson opened #749 "System Notification for: Federal Bridge CA 2016"
The Federal PKI Management Authority intends to revoke the cross certificate issued from the Federal Bridge CA 2016 to the Federal Common Policy CA.

-  notice_date: September 15, 2020
change_type: Intent to Perform CA Certificate Revocation
system: FPKI Trust Infrastructure - Federal Bridge CA 2016
change_description: As part of the migration to the Federal Bridge CA G4 and in preparation for the

[2020-09-16 18:05] ryancdickson commented on #691
The Crawler detected the certificate published yesterday.

notice_date: September 16, 2020
change_type: CA Certificate Issuance
system: TSCP SHA256 Bridge CA
change_description: The Transglobal Secure Collaboration Program (TSCP) SHA256 Bridge CA issued a cross certificate to DocuSign, Inc.
contact: steve.race at tscp dot org
ca_certificate_hash: e515aa068b003bee83f8d7e15b5f25165a456941
ca_certifi

[2020-09-21 13:20] ryancdickson commented on #747
Confirmed:
- the existing certificate (Serial #: 3f99d81464dc067ef88e16b0b5d5ea30, Thumbprint: 352f268667640942e57f834f3691372a24109e2e) is planned for revocation
- the new certificate will only modify the subject DN from CN=Carillon Federal Services PIV-I CA2, OU=Certificate Authorities, O=Carillon Federal Services Inc., C=US to CN=Carillon Federal Services PIV-I CA2, OU=Certification Authorities

[2020-09-25 12:00] ryancdickson opened #752 "System Notification for: Federal Common Policy CA G2"
The Federal PKI Management Authority is preparing to rekey the Federal Common Policy Certification Authority (FCPCA) by establishing a new certification authority, FCPCAG2.

Below is the schedule for October 2020.
- Oct 13: Reissue FCPCA and  Federal Bridge Certification Authority G4 (FBCAG4) cross-certificate.
- Oct 14: Establish FCPCAG2
- Oct 15: Issue and make cross-certificates between FCPCAG2

[2020-09-28 12:45] ryancdickson commented on #747
Update: Certificate Issued.

notice_date: September 28, 2020
change_type: CA Certificate Issuance
start_datetime:
system: TSCP SHA256 Bridge CA
change_description: The Transglobal Secure Collaboration Program (TSCP) SHA256 Bridge CA issued a cross certificate to Carillon Federal Services.
contact: steve.race at tscp dot org
ca_certificate_hash: 97ff543ab95bd5e3a065834f240ad6b3c6b7d985
ca_certifica

[2020-10-05 13:46] ryancdickson opened #756 "System Notification for: Federal Bridge CA G4 (Intent to issue to Symantec Class 3 SSP Intermediate CA – G3, operated by DigiCert)"
A Letter of Authorization to issue a cross-certificate to DigiCert NFI from the Federal Bridge Certification Authority
 was signed on 9/30.

- notice_date: September 30, 2020
  change_type: Intent to Perform CA Certificate Issuance
  start_datetime:
  system: FPKI Trust Infrastructure - Federal Bridge CA G4
  change_description: The Federal Bridge CA G4 intends to issue a cross certificate to Syma

[2020-10-07 14:42] ryancdickson commented on #756
**Update:** Issuance is expected to take place on Wednesday, October 21, 2020

[2020-10-08 17:03] jcmcken commented on #736
@grandamp When I run the ``openssl`` command you list, it does not verify. It gives an error:

[code]

When I run a plain ``openssl verify`` without the policy check, it verifies. So this sort of confirms my suspicion that there's something wrong with the certificate policies. Tools which do not verify the policy work fine, and those which do will fail verification.

I'll send the cert and chain t

[2020-10-08 19:48] jott05 commented on #736
@grandamp , I didn't pull the certs to look at them with our tooling, but we've seen issues with strict policy validation in the past where a policy was asserted but not mapped in the cross-cert from FCPCA to the direct root, causing it to fall off the valid policy tree and get flagged with invalid policy.

[2020-10-14 11:44] ryancdickson commented on #742
Certificate issued!

notice_date: October 13, 2020
change_type: CA Certificate Issuance
start_datetime: September 30, 2020
system: Exostar Federated Identity Service Root CA 2
change_description: Exostar stood-up a new issuing CA named "Exostar Federated Identity Service Signing CA 4."
contact: info at exostar dot com
ca_certificate_hash: d5f180db664ec80be77d9bfd5484a50cece5a58d
ca_certificate_iss

[2020-10-16 11:42] ryancdickson commented on #756
Update: Issuance is now expected to take place on Thursday, October 22, 2020

[2020-10-16 11:48] ryancdickson opened #760 "System Notification for: Federal Bridge CA G4 (Intent to issue to Entrust Managed Services NFI Root CA)"
notice_date: October 14, 2020
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: FPKI Trust Infrastructure - Federal Bridge CA G4
change_description: The Federal Bridge CA G4 intends to issue a cross certificate to the Entrust Managed Services NFI Root CA,.
contact: fpki dash help at gsa dot gov
ca_certificate_hash:
ca_certificate_issuer: CN=Federal Bridge CA G4, OU=FPK

[2020-10-16 12:05] ryancdickson opened #761 "System Notification for: WidePoint Federal Shared Service Provider (Intent to deploy a new CA)"
WidePoint Federal Shared Service Provider (SSP) intends to stand-up a new issuing CA named "WidePoint SSP CA 5" and has requested a certificate from the Federal Common Policy CA (G2).

notice_date: October 15, 2020
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: FPKI Trust Infrastructure - Federal Common Policy CA G2
change_description: The Federal Common Policy CA G

[2020-10-19 18:44] ryancdickson commented on #742
Adding to this week's update. Closing issue.

[2020-10-19 18:44] #742 closed, assigned to ryancdickson

[2020-10-19 18:46] ryancdickson commented on #748
The certificate was revoked on October 13th.  Adding to this week's update, closing issue.

[2020-10-19 18:46] #748 closed, assigned to ryancdickson

[2020-10-19 18:51] ryancdickson commented on #749
Certificate revoked on October 13th. Adding to this week's pull request.

[2020-10-19 18:51] #749 closed, assigned to ryancdickson

[2020-10-19 19:00] ryancdickson commented on #752
Certificates issued.

**Federal Common Policy CA G2 (self-signed)**
[code]

**Federal Bridge CA G4 (issued by Federal Common Policy CA G2)**
[code]

[2020-10-19 19:00] #752 closed, assigned to ryancdickson

[2020-10-19 19:15] ryancdickson opened #762 "System Notification for: Federal Bridge CA G4 (Intent to issue to SAFE)"
SAFE is rekeying its Bridge CA on October 28, 2020.

- notice_date: October 19, 2020
  change_type: Intent to Perform CA Certificate Issuance
  start_datetime:
  system: FPKI Trust Infrastructure - Federal Bridge CA G4
  change_description: The Federal Bridge CA G4 intends to issue a cross certificate to SAFE Identity Bridge CA.
  contact: fpki dash help at gsa dot gov
  ca_certificate_hash:
  ca_

[2020-10-23 17:59] ryancdickson commented on #756
The certificate was issued and is now published at http://repo.fpki.gov/bridge/caCertsIssuedByfbcag4.p7c

notice_date: October 23, 2020
change_type: CA Certificate Issuance
start_datetime:
system: FPKI Trust Infrastructure - Federal Bridge CA G4
change_description: The Federal Bridge CA G4 issued a cross certificate to Symantec Class 3 SSP Intermediate CA – G3 (operated by DigiCert).
contact: fpki

[2020-10-26 17:54] ryancdickson opened #766 "System Notification for: Treasury (decommission US Treasury Public CA)"
Treasury has notified the FPKIPA of an upcoming Treasury PKI architecture change.  Treasury is scheduled to sunset (decommission) the US Treasury Public CA (TECA) on November 18, 2020.  Treasury does not anticipate any negative impacts on the FPKI community.

Additional Background:
- The TECA is subordinated to the Treasury Root Certificate Authority (TRCA) and had been used primarily for Treasury

[2020-10-26 19:43] ryancdickson opened #767 "System Notification for: Federal Bridge CA G4 (Intent to issue to USPTO)"
The Federal Bridge CA G4 intends to issue a modified cross certificate to USPTO_INTR_CA1 (updating _Name Constraints_).

- notice_date: October 26, 2020
  change_type: Intent to Perform CA Certificate Issuance
  start_datetime:
  system: FPKI Trust Infrastructure - Federal Bridge CA G4
  change_description: The Federal Bridge CA G4 intends to issue a cross certificate to the United States Patent a

[2020-10-26 20:07] ryancdickson commented on #756
Adding to this week's Pull Request.

[2020-10-26 20:07] #756 closed, assigned to ryancdickson

[2020-10-30 16:21] ryancdickson commented on #767
Issuance planned for Thursday, November 12th.

[2020-10-30 16:21] ryancdickson commented on #762
Issuance planned for Thursday, November 12th.

[2020-10-30 18:59] idmken opened #770 "Editorial Updates from the FPKIMA"
Editorial and content updates:

Introduction Page:

- [x] 1. The FPKI CA graphic is out of date (e.g., it shows SHA1 FRCA); it is a small graphic so it may not matter, but if it does, the FPKIMA can provide an update. Note that the dynamic graphic, linked off this page, is up to date.

CA Page:

- [x] 1. Same as above, the FPKI CA graphic is out of date.
- [x] 2. In 3rd paragraph, we introduce the

[2020-10-30 19:39] lachellel commented on #770
@idmken

Are these new or the older ones?

- Example: Item #6 for ACES was removed in #728, and merged to live in #730
- And for the mail addresses in the "mailto: email address" instances - that is a general requirement for gov pages to have the mailto:.  We discussed these and the very layered spam protections (etc) that are employed outside of web pages.  👍

The MA - and any team or person - ca

[2020-11-04 14:30] ryancdickson commented on #760
Certificate issued on 10/29.

notice_date: October 29, 2020
change_type: CA Certificate Issuance
start_datetime:
system: FPKI Trust Infrastructure - Federal Bridge CA G4
change_description: The Federal Bridge CA G4 issued a cross certificate to the Entrust Managed Services NFI Root CA.
contact: fpki dash help at gsa dot gov
ca_certificate_hash: d45ccedd462a2e2718627eeb6e013fc0a0dc6940
ca_certifica

[2020-11-04 14:30] #760 closed, assigned to ryancdickson

[2020-11-04 14:53] ryancdickson commented on #747
Update (11/4/2020) - Followed up with TSCP. The updated cross certificate (to include "OU=Certification Authorities") is not yet published.  The original certificate (to include "OU=Certificate Authorities") is still published and valid (unrevoked).

[2020-11-05 22:24] lachellel opened #775 "Federal Common CA playbook - one minor nit (FAQs)"
#### Description of Issue: ####
The FAQ page should have the list of the questions at the top.

#### Details of Issue: ####
Allows the user to quickly see the questions and navigate to their specific question and answer.

#### References (Docs, Links, Files): ####
Add links to top of markdown page - 09_faq.md:
https://github.com/GSA/fpki-guides/blob/staging/_common/09_faq.md

[2020-11-05 22:25] ryancdickson commented on #775
Will do!

[2020-11-05 22:25] lachellel commented on #775
@sarahdobson for your review
I think adding the questions to the top of the FAQ page is generally a best practice.  Your advice please (good or bad, mobile, etc).

[2020-11-06 13:56] ryancdickson opened #776 "Update: PIV CAs and Agencies (FTC)"
To-do:

- [x] Update the Federal Trade Commission entry on https://fpki.idmanagement.gov/crls/pivcas/ (fully transitioned to Entrust Federal Shared Service Provider)

Will include in next week's Federal PKI Graph / Crawler update.

[2020-11-10 13:23] ryancdickson commented on #776
Will be included in this morning's Pull Request.

[2020-11-10 13:23] #776 closed, assigned to ryancdickson

[2020-11-10 13:29] ryancdickson commented on #747
Update (11/10/2020):
- CN=Carillon Federal Services PIV-I CA2, OU=Certification Authorities, O=Carillon Federal Services Inc., C= US **is now published.**
- CN=Carillon Federal Services PIV-I CA2, OU=Certificate Authorities, O=Carillon Federal Services Inc., C= US **is no longer published _(unrevoked)_.**

[2020-11-19 16:49] ryancdickson commented on #766
Decommissioning rescheduled to November 24, 2020.

[2020-11-20 19:39] ryancdickson commented on #767
Certificate issued. Details:

	- Issuer:  CN=Federal Bridge CA G4,OU=FPKI,O=U.S. Government,C=US
	- Subject: CN=USPTO_INTR_CA1,CN=AIA,CN=Public Key Services,CN=Services,CN=Configuration,DC=uspto,DC=gov
	- Validity: November 11, 2020 to December 12, 2022
	- Serial #: 10f82e9132e31f62dba620ab66f6e7f836e663c7
	- SHA-1 Hash: edd7e56da5147cf98ea580a176a27bc990b243ce
	- Key Size: 2048-bit (RSA)
	- Signa

[2020-11-20 19:39] #767 closed, assigned to ryancdickson

[2020-11-20 19:39] ryancdickson commented on #762
Certificate issued. Details:

	- Issuer: CN=Federal Bridge CA G4,OU=FPKI,O=U.S. Government,C=US
	- Subject: CN=SAFE Identity Bridge CA,OU=Certification Authorities,O=SAFE Identity,C=US
	- Validity: November 12, 2020 to November 12, 2023
	- Serial #: 159e68a2b020e0c91a0425c28e79fcda961b6142
	- SHA-1 Hash: cba35a94b7460a9e86ff7c95123a849ccd7be1ab
	- Key Size: 4096-bit (RSA)
	- Signature Algorithm: S

[2020-11-20 19:39] #762 closed, assigned to ryancdickson

[2020-11-24 18:04] grandamp commented on #766
Afternoon,

This has been completed, and the CRL containing this CA's serial number (Hex: 4A61D1DB / Int: 1247924699) has been published:

[code]

[2020-11-25 17:23] lachellel opened #787 "System Notification for: Entrust SSP CA and Entrust NFI CA (issuing CAs) - URI change"
Initial notification.  System notification will be posted to the site on Monday, November 30.

Todo:

- [ ] Check on the OCSP (AIA) and LDAP URIs (CDP) for the update.
- [ ] Send out notification for firewall updates as needed.

notice_date: November 25, 2020
change_type:  URI Change, System Outage
start_datetime:
end_datetime:
system: Entrust Shared Service Provider CA
change_description:  Certif

[2020-11-30 14:11] ryancdickson commented on #787
Update (11/30/20):

- HTTP CRLDP URI now available (i.e., http://crl01.xpki.com/CRLs/EMSSSPCA3.crl)
- LDAP CRLDP URI **NOT** available (i.e., (ldap://ldap01.xpki.com/cn=WinCombined3,ou=Entrust%20Managed%20Services%20SSP%20CA,ou=Certification%20Authorities,o=Entrust,c=US?certificateRevocationList;binary)
     - DN: cn=WinCombined1,ou=Entrust Managed Services SSP CA,ou=Certification Authorities,o=En

[2020-11-30 15:13] ryancdickson commented on #775
Will be closed with merge of today's pull request.

[2020-11-30 15:13] #775 closed, assigned to nobody

[2020-11-30 15:23] ryancdickson opened #789 "System Notification for: Federal Bridge CA G4 (Intent to Revoke USPTO_INTR_CA1)"
- notice_date: November 23, 2020
  change_type: Intent to Perform CA Certificate Revocation
  system: FPKI Trust Infrastructure - Federal Bridge CA G4
  change_description:  The Federal PKI Management Authority intends to revoke the certificate issued to USPTO_INTR_CA1 from the Federal Bridge CA G4.  An updated certificate was issued on November 12, 2020.
  contact: fpki dash help at gsa dot gov

[2020-11-30 15:47] ryancdickson commented on #766
Thanks, @grandamp.  Will add to this morning's pull request.

[2020-11-30 15:47] #766 closed, assigned to ryancdickson

[2020-11-30 16:38] ryancdickson opened #790 "System Notification for: SAFE Identity Bridge CA"
SAFE recently re-keyed its Bridge CA (now named _SAFE Identity Bridge CA_, previously named _SAFE Bridge CA 02_) and received an updated cross certificate issued by the Federal Bridge CA G4 (issued on November 12, 2020).

As part of SAFE's re-key, new cross certificates were issued on October 27, 2020 to migrate the IdenTrust and Trans Sped subject CAs from _SAFE Bridge CA 02_ to _SAFE Identity Br

[2020-11-30 21:45] ryancdickson opened #791 "System Notification for: Federal Common Policy CA G2 (multiple certificates issued)"
The Federal Common Policy CA G2 issued multiple certificates.

The following certificates are published in the Federal Common Policy CA G2 certificate’s Subject Information Access extension bundle located at http://repo.fpki.gov/fcpca/caCertsIssuedByfcpcag2.p7c.

#### Issued to: Federal Bridge CA G4

| Certificate Attribute | **Value**                                          |
| :--------  | :---

[2020-12-02 17:50] tridentity opened #793 "FBCA2016 P7C appears corrupted"
Went to download the p7c for the Issued By FBCA2016 and the size is only 41bytes

http://http.fpki.gov/bridge/caCertsIssuedByfbca2016.p7c

<img width="199" alt="Screen Shot 2020-12-02 at 12 49 55 PM" src="https://user-images.githubusercontent.com/43041865/100911249-f97a0c80-349c-11eb-9427-98a077bd5426.png">

[2020-12-02 18:01] ryancdickson commented on #793
@tridentity - The Federal Bridge CA (FBCA) 2016 has been decommissioned.  The bundle is empty because there are no CAs with valid certificates issued by FBCA 2016. CAs previously cross certified by FBCA 2016 were migrated to the Federal Bridge CA G4.

Useful artifacts:

Federal Bridge CA G4 | Information
-- | --
Certificate Revocation List | http://repo.fpki.gov/bridge/fbcag4.crl
P7C file - Issued

[2020-12-02 18:18] lachellel commented on #793
@tridentity @ryancdickson

It's this page that I believe @tridentity is referring to:

- [x] Update to remove FBCA 2016:  https://fpki.idmanagement.gov/crls/

[2020-12-03 15:43] ryancdickson commented on #791
Merged into staging. Closing issue.

[2020-12-03 15:43] #791 closed, assigned to ryancdickson

[2020-12-03 15:43] ryancdickson commented on #790
Merged into staging. Closing issue.

[2020-12-03 15:43] #790 closed, assigned to ryancdickson

[2020-12-03 15:45] ryancdickson commented on #761
Merged into staging. Closing issue.

[2020-12-03 15:45] #761 closed, assigned to ryancdickson

[2020-12-03 15:45] ryancdickson commented on #793
Merged into staging. Closing issue.

[2020-12-03 15:45] #793 closed, assigned to nobody

[2020-12-08 17:55] ryancdickson commented on #787
All HTTP / LDAP URIs are available.  Notification added to live site last week. Closing issue.

![image](https://user-images.githubusercontent.com/4267517/101521960-8963fe80-3954-11eb-8ef1-e313741c09e3.png)

[2020-12-08 17:55] #787 closed, assigned to nobody

[2020-12-11 17:46] idmken commented on #747
@ryancdickson is this complete?

[2020-12-11 17:47] idmken commented on #721
@ryancdickson ready to close?

[2020-12-11 17:48] idmken commented on #19
This document is deprecated.

[2020-12-11 17:48] #19 closed, assigned to nobody

[2020-12-11 17:50] idmken commented on #31
@ryancdickson @sarahdobson I think the majority of this is covered by the PIV-I for Issuers guidance.

https://www.idmanagement.gov/wp-content/uploads/sites/1171/uploads/piv-i-for-issuers.pdf

[2020-12-11 18:14] idmken commented on #770
Ready to close after #803 merge

[2020-12-11 18:23] ryancdickson commented on #747
CN=Carillon Federal Services PIV-I CA2, OU=Certificate Authorities, O=Carillon Federal Services Inc., C= US is not yet revoked.

I'll follow-up with TSCP.

[2020-12-11 18:26] ryancdickson commented on #721
@idmken - I typically leave these issues open until certificate issuance and publication (where I'll also add a corresponding System Notification to highlight the actual certificate issuance, rather than the "intent to issue" notice above).

In this case, the U.S. Department of State DPC CA has not yet been published.

Happy to change the process if you'd prefer otherwise!

[2020-12-14 13:03] ryancdickson commented on #31
@idmken - I agree

[2020-12-15 20:27] ryancdickson commented on #789
The certificate was revoked today.

Will be added to today's pull request.

[2020-12-15 20:27] #789 closed, assigned to ryancdickson

[2020-12-16 14:05] #770 closed, assigned to idmken

[2020-12-22 13:07] ryancdickson opened #806 "System Notification for: TSCP SHA256 Bridge CA (intent to issue to Alexion Pharmaceuticals Issue 2 CA)"
notice_date:  December 22, 2020
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: TSCP SHA256 Bridge CA
change_description: The Transglobal Secure Collaboration Program (TSCP) SHA256 Bridge CA intends to issue a cross certificate to Alexion Pharmaceuticals Issue 2 CA.
contact: steve.race at tscp dot org
ca_certificate_hash:
ca_certificate_issuer: CN=TSCP SHA256 Bridge

[2020-12-22 20:45] idmken commented on #5
Document no longer exists.

[2020-12-22 20:45] #5 closed, assigned to nobody

[2020-12-22 20:45] idmken commented on #8
@maxwellfunk @ryancdickson is there a need for this?

[2020-12-22 20:46] idmken commented on #14
Document no longer exists

[2020-12-22 20:46] #14 closed, assigned to nobody

[2020-12-22 20:48] idmken commented on #125
This is a subset of issue #18

[2020-12-22 20:48] #125 closed, assigned to nobody

[2020-12-22 20:50] idmken commented on #31
We can open a new issue to convert the PIV-I for issuers if needed. That is a CIO Council document.

[2020-12-22 20:50] #31 closed, assigned to nobody

[2020-12-22 20:51] idmken commented on #37
Some elements covered in the PIV Guide and in the upcoming SSO Playbook.

[2020-12-22 20:51] #37 closed, assigned to nobody

[2020-12-22 20:52] idmken commented on #28
How to perform a mapping is covered in the application process document.

[2020-12-22 20:52] #28 closed, assigned to nobody

[2020-12-22 21:00] idmken commented on #48
Documents no longer exists. Create a new issue to generate a FAQ page if needed.

[2020-12-22 21:00] #48 closed, assigned to nobody

[2020-12-22 21:07] idmken commented on #34
A process to select a IAL, AAL, or FAL is covered in the Digital Identity Risk Assessment Playbook.

[2020-12-22 21:07] #34 closed, assigned to weirdscience

[2020-12-22 21:08] idmken commented on #49
Merged with #92

[2020-12-22 21:08] #49 closed, assigned to nobody

[2020-12-23 12:33] ryancdickson commented on #8
@idmken - I don't think this is necessary (anymore).

1. The draft Overlay (to align with R5) now contains a "How to Use FPKI Overlay Security Controls Table" section.
2. Using the FPKI Overlay shouldn't be any different than using any other overlay.
3. In our past working group meetings (PA) where the Overlay was discussed, I cannot recall anyone requesting this type of document.

I think we're g

[2020-12-23 12:33] #8 closed, assigned to nobody

[2020-12-29 15:17] idmken commented on #12
The referenced document no longer exists and this is address in the SSP guide revision.

[2020-12-29 15:17] #12 closed, assigned to nobody

[2020-12-29 15:19] idmken commented on #32
PIV certs are addressed on https://piv.idmanagement.gov/details/

[2020-12-29 15:19] #32 closed, assigned to weirdscience

[2020-12-29 15:20] idmken commented on #36
PIV Guide covers how to configure for network authentication. The upcoming SSO playbook includes how to plan for authenticators.

[2020-12-29 15:20] #36 closed, assigned to nobody

[2020-12-29 15:20] idmken commented on #657
@ryancdickson is this ready to close?

[2020-12-29 15:21] idmken commented on #119
This was addressed with new header navbar.

[2020-12-29 15:21] #119 closed, assigned to nobody

[2021-01-04 15:32] ryancdickson commented on #657
@idmken - seems okay to close, IMO. I believe the original intent was to promote awareness around the change to 30-day CRLs (it was also briefed at FPKIPA meetings).  Given we've been operating this way for almost 9 months, I think the issue has served its purpose.

Feel free to re-open if you disagree.

[2021-01-04 15:32] #657 closed, assigned to nobody

[2021-01-05 14:55] idmken commented on #66
@maxwellfunk @ryancdickson  I think this came up at an FPKI hackathon day. Is this addressed somewhere or is still relevant. This issue semi-aligns with some content in the FPKI Trust Infrastructure overview, but maybe less specific to FPKI and general how PKI works.

[2021-01-05 15:56] ryancdickson commented on #66
@idmken - ironic, I was reviewing this issue prior to submitting this morning's Pull Request.

Considering support emails to our FPKI inboxes, I haven't seen many (if any?) over the past 3 years related to encryption certificate discovery or path discovery/validation (what I assume is "trust traversal").

I agree with your assessment (this is more "PKI 101" than "FPKI-centric").  We do talk a bit

[2021-01-11 20:27] ryancdickson opened #814 "System Notification for: WidePoint Non-Federal Issuer (Intent to deploy a new CA)"
WidePoint Non-Federal Issuer intends to stand-up a new issuing CA named _WidePoint NFI CA 6_ on or after January 22, 2021.

notice_date: January 8, 2021
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system:  WidePoint Non-Federal Issuer
change_description: WidePoint NFI Root 2 intends to issue a cross certificate to WidePoint NFI CA 6.
contact:  pkipolicy at orc dot com
ca

[2021-01-12 16:49] #66 closed, assigned to nobody

[2021-01-12 16:51] idmken commented on #69
Subject DNs are listed at https://fpki.idmanagement.gov/crls/pivcas/

[2021-01-12 16:51] #69 closed, assigned to nobody

[2021-01-12 16:52] ryancdickson commented on #747
Communicated with TSCP on 1/5 - they are still working on this issue.  I sent another reminder today.

[2021-01-12 17:02] ryancdickson commented on #721
State has confirmed certificate issuance.

notice_date: January 11, 2021
change_type: CA Certificate Issuance
start_datetime:
system: U.S. Department of State AD Root CA
change_description: The Department of State issued a new CA certificate.
contact: shanleyrj at state dot gov
ca_certificate_hash: a6e9c11ad29fc006ed65b06db32e36a927cb3a48
ca_certificate_issuer: CN=U.S. Department of State AD Root

[2021-01-12 17:31] idmken commented on #68
@grandamp I'll add the crl miner to the list of useful tools and close this issue.

[2021-01-12 19:27] ryancdickson commented on #721
Merged into staging. Closing issue.

[2021-01-12 19:27] #721 closed, assigned to ryancdickson

[2021-01-12 21:21] #68 closed, assigned to nobody

[2021-01-14 19:51] ryancdickson commented on #736
@jcmcken - Is this problem still on-going, or can we close the issue?

[2021-01-14 19:56] ryancdickson commented on #145
@idmken - given recent updates to the profile formatting for V2.0 - we could easily take the contents and convert into markdown.  Would you like us move forward with this (for at least the Common Policy profiles)?

[2021-01-14 19:58] ryancdickson commented on #74
@idmken - Recommend we close this issue.  We're working on an internal document to track common PIV testing issues and resolutions, but I don't feel this is appropriate for FPKI-Guides (and perhaps public posting).

[2021-01-14 19:59] ryancdickson commented on #18
@idmken - I think we can close this issue - overcome by events.

[2021-01-19 21:29] ryancdickson commented on #747
Update from TSCP (today):

- the old certificate (CN=Carillon Federal Services PIV-I CA2, OU=Certificate Authorities, O=Carillon Federal Services Inc., C= US) should be revoked this week

[2021-01-20 17:15] carljmosca opened #820 "macOS Outlook - (signing) certificate is not standards compliant"
#### Description of Issue: ####
Opening signed, encrypted email on macOS Outlook results in a message which says "The signing certificate for this message is not valid or trusted."

#### Details of Issue: ####
Viewing the signing certificate (from Outlook) shows the "certificate is not standards compliant" message.  The chain shows the Federal Common Policy CA "This certificate is marked trusted f

[2021-01-20 22:10] ryancdickson commented on #820
@carljmosca - are you able to share a copy of the certificate with me (either here or via ryan [dot] dickson [at] gsa [dot] gov)?

[2021-01-21 21:51] carljmosca commented on #820
Thank you @ryancdickson I will send an email from my own account.  The one from the vendor is what I have referenced above but my account has the same issue.

[2021-01-22 13:44] ryancdickson commented on #747
Certificate revoked. Closing issue.

[2021-01-22 13:44] #747 closed, assigned to ryancdickson

[2021-01-25 15:17] carljmosca commented on #820
To close the loop here, email has been sent.

[2021-01-26 13:30] ryancdickson commented on #820
@carljmosca - thanks for sharing your certificate.  Noting some findings below in the event they are helpful for others.

Native macOS certificate validation fails indicating name constraints are violated.

End-entity certificate Subject DN (snipped to focus on relevant data):
[code]

Name constraints contained in the certificate issued to WidePoint ORC NFI 4 (snipped to focus on relevant data):

[2021-01-26 14:57] idmken commented on #18
Incorporated this into the idm.gov content review.

[2021-01-26 14:57] #18 closed, assigned to nobody

[2021-01-29 21:00] ryancdickson commented on #806
Certificate issued and published.

- notice_date: January 21, 2021
  change_type: CA Certificate Issuance
  start_datetime:
  system: TSCP SHA256 Bridge CA
  change_description: The Transglobal Secure Collaboration Program (TSCP) SHA256 Bridge CA issued a cross certificate to Alexion Pharmaceuticals Issue 2 CA.
  contact: steve.race at tscp dot org
  ca_certificate_hash: e1cae944beea7470bf05f6da80

[2021-01-29 21:00] #806 closed, assigned to ryancdickson

[2021-02-02 18:45] ryancdickson commented on #814
Certificate issued and published:

notice_date: February 1, 2021
change_type: CA Certificate Issuance
start_datetime:
system: WidePoint Non-Federal Issuer
change_description: WidePoint NFI Root 2 issued a cross certificate to WidePoint NFI CA 6.
contact: pkipolicy at orc dot com
ca_certificate_hash: b2bfadc0603d42feb84d9b1cfd488227b16f21e3
ca_certificate_issuer: CN=WidePoint NFI Root 2, OU=Certifi

[2021-02-03 13:55] ryancdickson commented on #820
Update:  Subscriber certificate was reissued.  CA subject DN encoding now matches the name constraints observed in the certificate issued to WidePoint ORC NFI 4.  Confirmed issue resolution with @carljmosca.

Closing issue!

[2021-02-03 13:55] #820 closed, assigned to nobody

[2021-02-03 17:52] ryancdickson commented on #814
Certificate has been revoked.  I have reached out to WidePoint for more information.

[2021-02-04 14:15] ryancdickson opened #827 "Agency Contribution to Federal Common Policy CA Migration Playbook (distributing root certificate on RHEL/CentOS/OEL)"
Thank you to our colleague Jerome at the U.S. Department of the Interior for sharing the following steps:

How to import the Federal Common Policy CA G2 (FCPCAG2) on RHEL / CentOS / OEL / etc:

1. Secure Copy the new FCPCAG2 certificate to the needed location from a trusted source
[code]

2. Set file permissions
[code]

3. Import the root certificate
[code]

We'll look to incorporate these into ou

[2021-02-04 14:19] ryancdickson commented on #814
Modified certificate issued:

notice_date: February 3, 2021
change_type: CA Certificate Issuance
start_datetime:
system: WidePoint Non-Federal Issuer
change_description: WidePoint NFI Root 2 issued a modified cross certificate to WidePoint NFI CA 6.
contact: pkipolicy at orc dot com
ca_certificate_hash: 8a17d236acb45af809c0a4555f7142d82ae08736
ca_certificate_issuer: CN=WidePoint NFI Root 2, OU=Cer

[2021-02-11 22:31] #814 closed, assigned to ryancdickson

[2021-02-16 19:00] ryancdickson opened #832 "System Notification for: CertiPath Bridge (intent to issue)"
notice_date: February 12, 2021
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: CertiPath Bridge CA
change_description: CertiPath Bridge CA - G3 intends to issue a cross certificate to Carillon Federal Services PIV-I CA1.
contact: support at certipath dot com
ca_certificate_hash:
ca_certificate_issuer: CN=CertiPath Bridge CA - G3, OU=Certification Authorities, O=Certi

[2021-02-23 14:40] ryancdickson commented on #832
2 of the 4 certificates have been issued and published:

(1) Certificate details:
	 - Subject: CN=Carillon Federal Services PIV-I CA1, OU=Certification Authorities, O=Carillon Federal Services Inc., C=US
	 - Issuer: CN=CertiPath Bridge CA - G3, OU=Certification Authorities, O=CertiPath, C=US
	 - Validity: February 17, 2021 to February 28, 2022
	 - Serial: 0a4e42637fe46b7bfa5cf9b7cf4b35b9
	 - SHA1

[2021-02-23 14:43] ryancdickson opened #834 "System Notification for: DoD Root CA 3 (new certificate detected)"
The FPKI Crawler detected a new CA certificate issued from DoD Root CA 3.

- notice_date: February 23, 2021
  change_type: CA Certificate Issuance
  start_datetime:
  system: DoD Root CA 3
  change_description: DoD Root CA 3 issued a new CA certificate to DOD DERILITY CA-1.
  contact: disa dot meade dot mae dot list dot pkieca at mail dot mil
  ca_certificate_hash: 6b250683b996e2581696f499061b5581

[2021-02-23 20:55] #832 closed, assigned to ryancdickson

[2021-02-23 21:35] #834 closed, assigned to ryancdickson

[2021-03-01 17:28] ryancdickson opened #837 "System Notification for: IdenTrust (intent to deploy a new issuing CA)"
- notice_date: February 25, 2021
  change_type: Intent to Perform CA Certificate Issuance
  start_datetime:
  system: IdenTrust Global Common Root CA 1
  change_description: IdenTrust intends to issue a new CA certificate from IdenTrust Global Common Root CA 1 to replace the IGC Server CA 1 certificate that has an expiration date of 4/14/2024.
  contact: support at identrust dot com
  ca_certifica

[2021-03-02 19:26] ryancdickson opened #841 "System Notification for: Federal Common Policy CA (intent to revoke CA certificates)"
This is a _placeholder_ issue as the FPKIMA prepares to work with CA operators to determine the future timing of the revocation of the certificates issued by the Federal Common Policy CA (FCPCA).

**Note:** This issue will be updated as more information is available.

<br>

**1. FCPCA to DigiCert Federal SSP (Revocation planned for April 22, 2021)**
- Certificate Issuer: CN = Federal Common Policy

[2021-03-02 19:28] ryancdickson opened #842 "System Notification for: Federal Common Policy CA (intent to decommission)"
This is a _placeholder_ issue as the FPKIMA prepares to decommission the Federal Common Policy CA (FCPCA).

The FCPCA will be decommissioned after:
1. revoking the certificates referenced in #841
2.  issuing a final, long-term CRL

**Note:** This issue will be updated as more information is available.

[2021-03-02 19:31] ryancdickson opened #843 "System Notification for: Federal Bridge CA G4 (intent to revoke CA certificates)"
The FPKIMA intends to revoke the following certificates issued by the Federal Bridge CA G4 (FBCAG4):

<br>

**FBCAG4 to CertiPath Bridge CA 2 (Revocation planned for on or around 3/18/2021)**
- Certificate Issuer: CN = Federal Bridge CA G4, OU = FPKI, O = U.S. Government, C = US
- Certificate Subject: CN = CertiPath Bridge CA - G2, OU = Certification Authorities, O = CertiPath LLC, C = US
- Certif

[2021-03-02 19:35] #827 closed, assigned to ryancdickson

[2021-03-05 13:52] ryancdickson commented on #841
**_Update (3/30/2021): The 3/5/2021 update below has been superseded - but will persist on this page for historical reference.  Entrust Managed Services Root CA certificate revocation is now planned for 6/17/2021_**.

<br>

**Update (3/5/21):**
- An Entrust Cloud Services Notification was shared identifying April 22, 2021, as the planned revocation date of the certificates issued from the Federal

[2021-03-09 14:45] ryancdickson commented on #841
**Update (3/9/21):** Two additional CA certificate revocations have been planned for 4/22.
- WidePoint confirmed revocation can take place on 4/22 (certificate details below).
- Verizon confirmed revocation can take place on 4/22 (certificate details below).

<br>

_WidePoint_
- Certificate Issuer: CN = Federal Common Policy CA, OU = FPKI, O = U.S. Government, C = US
- Certificate Subject: CN = OR

[2021-03-10 14:31] ryancdickson commented on #841
**Update (3/10/21):** _Department of State_ confirmed certificate revocation can also take place on 4/22.
- Certificate Issuer: CN = Federal Common Policy CA, OU = FPKI, O = U.S. Government, C = US
- Certificate Subject: CN = U.S. Department of State AD Root CA, CN = AIA, CN = Public Key Services, CN = Services, CN = Configuration, DC = state, DC = sbu
- Certificate Serial: 79f9
- Certificate SHA1

[2021-03-23 21:33] maxwellfunk opened #847 "Expand Common Migration Troubleshooting for distrusting return bridge cross certs"
#### Description of Issue: ####
Some users are seeing very long paths being built to unexpected trust anchors via FBCAG4.

#### Details of Issue: ####
This is cryptographically unrelated to the common G2 migration but could be added as a consideration to untrust some return cross certs that might cause issues.

#### References (Docs, Links, Files): ####
![ORC_NFI_cert_chain](https://user-images.gi

[2021-03-29 17:46] ryancdickson commented on #841
**Update (3/29/21):** Please be aware of the following _updated_ certificate revocation timelines...

<br>

**_Department of Treasury revocation planned for June 10th, 2021._**

Certificate 1
- Certificate Issuer: CN = Federal Common Policy CA, OU = FPKI, O = U.S. Government, C = US
- Certificate Subject: OU = US Treasury Root CA, OU = Certification Authorities, OU = Department of the Treasury, O

[2021-04-01 12:30] ryancdickson commented on #841
**Update (4/1/2021):** The remaining CA certificate revocation dates have been confirmed.

<br>

**FCPCA to DigiCert Federal SSP (Revocation planned for April 22, 2021)**
- Certificate Issuer: CN = Federal Common Policy CA, OU = FPKI, O = U.S. Government, C = US
- Certificate Subject: CN = DigiCert Federal SSP Intermediate CA - G5, O = DigiCert, Inc., C = US
- Certificate Serial: 66c0
- Certificat

[2021-04-02 18:57] ryancdickson opened #852 "System Notification for: Federal Bridge CA G4 (intent to issue to IdenTrust Global Common Root CA)"
The Federal PKI Management Authority shared the following System Notification:

- Notice Date: April 2, 2021
- System: FPKI Trust Infrastructure - Federal Bridge CA G4
- Type: CA Certificate Issuance
- Change Description: The Cross-certificate from the FBCA G4 to the IdenTrust Global Common Root CA is expiring on 8/21/2021. IdenTrust has requested a new 3-year cross-certificate be issued to this C

[2021-04-05 12:04] ryancdickson opened #853 "System Notification for: TSCP SHA256 Bridge CA (Carillon Federal Services PIV-I CA2 - renewal)"
notice_date: April 2, 2021
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: TSCP SHA256 Bridge CA
change_description: The Transglobal Secure Collaboration Program (TSCP) SHA256 Bridge CA intends to issue a cross certificate to Carillon Federal Services.
contact: steve.race at tscp dot org
ca_certificate_hash:
ca_certificate_issuer: CN=TSCP SHA256 Bridge CA, OU=CAs, O=

[2021-04-08 14:17] ryancdickson commented on #736
Closing issue.

[2021-04-08 14:17] #736 closed, assigned to nobody

[2021-04-08 14:22] maxwellfunk commented on #145
Closing as we plan on migrating the pdf formats of the documents into the new repo

[2021-04-08 14:22] #145 closed, assigned to sarahdobson

[2021-04-08 14:22] ryancdickson commented on #74
Closing issue as we begin the migration to the new Playbook Repository.

[2021-04-08 14:22] #74 closed, assigned to nobody

[2021-04-10 01:04] jcmcken commented on #736
Sorry, I missed the ping. I think there are some new roots now, I can check with the updated chain and see if the issue is resolved

[2021-04-13 12:15] ryancdickson opened #862 "System Notification for: CertiPath Bridge CA - G3 (Federal Bridge CA G4 modification)"
CertiPath notified fpki@gsa.gov of its intent to modify the certificate issued from the CertiPath Bridge CA - G3 to the Federal Bridge CA G4.

The modified certificate will update the inhibitPolicyMapping skipCert value of “1” to "2".

notice_date: April 12, 2021
change_type: Intent to Perform CA Certificate Issuance
start_datetime:
system: CertiPath Bridge CA
change_description: CertiPath Bridge

[2021-04-13 19:52] ryancdickson commented on #841
The Federal PKI Guides Playbook is moving.  We've created a breadcrumb to our new Playbook Issues page located at https://github.com/GSA/ficam-playbooks/issues/99.

Future updates will be made at https://github.com/GSA/ficam-playbooks/issues/99.